body {
 font-family: Arial, sans serif;
 font-size: 11px;
}


.view_label {
 font-weight: bold;
 text-align: right;
}  
.sidebarview {
  border: 1px dotted grey;
  padding: 5px;
}
.editable_div {
  background-color: #FFD7AE;
}
body {
  font-family: arial, sans serif;
  background-color: #f9fcfe;
}

a {
  color: #ff0000;
}

.indent {
  margin: 5px 10px 0px 10px;
  padding: 5px
}

.header {
  background-color: #14568a;
  margin: 0px;
  padding: 10px;
  color: #fff;
}

.divider {
  background-color: #448abd;
  height: 5px;
}

.subheader {
  background-color: #83b4d8;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.sublink {
 cursor: pointer;
 font-weight: bold;
 font-size: 14px;
 padding-right: 5px;
 padding-left: 5px;
 padding-bottom: 10px;
}

.sublink a {
 text-decoration: none;
 color: #000;
}

.centered {
  margin: auto;
  width: 90%;
  background-color: #fff;
  border: 1px solid grey;
  padding: 20px;
}

.odd {
  background-color: #f4f4f4;
  padding: 5px;
}

.even {
  background-color: #fff;
  padding: 5px;
}

.notsynced {
  background-color: #feffbf;
  padding: 5px;
}

.top {
  background-color: #dfdfdf;
  font-weight: bold;
  padding: 5px;
}

