secrets.py
package.json
Makefile
*/.jshintrc
*/.pylintrc
*/.project
*/.pydevproject

/.ipynb_checkpoints/
*.ipynb
/notused1/

# Documentation Building
build/*
source/*
out/*
ut/*
examples/*
bfw/*
keys/*
PIL/*
ee/*
lib2/*
notused/*
algorithms/*

bunjilforestwatch/lib2/*
bunjilforestwatch/gfw/*
bunjilforestwatch/notused/*
node_modules/*
.svn/*
*/.settings/*
.metadata/*
*/photothumb.db
*.bak
*.BAT
*.bat
*.json
*.lnk
*.LNK
*.log
*.p1
*.p12
*.pem
*.PEM
*.py[cod]
*.swp
*.zip
*.info
*.ini
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.idea/*
*/.idea/*

lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/Git Bash.lnk
/npm-debug.log
/Git Shell sc.lnk
