*.pyc
*.swp
secrets.py
secrets/
secrets/settings.py
app-journalr/
*.zip
*.p1
*.p12
*.pem
*.PEM
Crypto/*
PIL/*
ee/*
django/*
oauth2client/*
Servers/
.metadata/*
.svn/*
geodatastore/.svn/*
appcfg.py
OpenSSL*
crypt.py
photothumb.db
*.bak
*.json
/settings - Copy.py
lib/*
lib2/*
eeold/*
notused/*