*.pyc
*.swp
settings.py
secrets/
secrets/settings.py
app-journalr/
*.zip
*.p1
*.p12
*.pem
*.PEM
Crypto/*
PIL/*
ee/*
oauth2client/*
Servers/
.metadata/*
.svn/*
geodatastore/.svn/*
appcfg.py
OpenSSL*
crypt.py
