
/* Map styles. */



.map-canvas {
  width: 96%;
  margin-left:2%; /* must be (100-width)/2 */

}


.full-size{  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#map-canvas{  /* this lives inside map-canvas */
  border: 2px solid rgba(54, 105, 194, 0.1); 
   position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#map-canvas-c {
  position: relative;
  z-index: 0;
  display:inline-block;
}

 /* from: stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout*/
#map-canvas-c:after {
    content: '';
    display: block;
    margin-top:75%;
}


#drop-container {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  /* padding: 20px;*/
  background-color: rgba(100, 100, 100, 0.5);
}

#drop-container.visible {
  display: block;
}


#drop-silhouette {
  color: white;
  border: white dashed 8px;
  height: calc(100% - 56px);
  width: calc(100% - 56px);
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAAXNSR0IArs4c6QAAAAZiS0dEAGQAZABkkPCsTwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90LHAIvICWdsKwAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAACdklEQVR42u3csU7icBzA8Xp3GBMSeRITH8JHMY7cRMvmVmXoE9TAcJubhjD4ApoiopgqDMWAKAgIcSAiCfxuwhwROVJbkPD9rP23ob8vpZCQKgoAAAAAAAAAAPDYyiK/eNM05bNtr6+vSjgcXiHxDMkE1WpVFvGcfpCVICAIQUAQgoAgBAFBCAKCgCAEAUEIAoIQBAQhCAgCghAEBCEICEIQEIQgIAgIQhAQhCAgCEFAEIKAICAIQUAQgoAgBAFBCDIzhmFINBo9/K6D0XVddnd3ZaneDY7jSCqVcn3SfjyeKRKJbJ2dnYllWbKUl2i5XJaXlxdJJBIy7yDHx8fy9vYm6XR6OWMM3d/fi4hIqVSSWCwmsw5ycHAgrVZLRETOz8+XO8ZQpVJ5H2Y6nRZN0/b9DqLruhSLxfd9MpkMMT6L0uv1JJlMih9BhveJwWDwvv7i4oIY4zw8PIwMtt1uSzweF6+CHB0dSbfbHVmbzWaJMcnj4+OHAd/d3cne3p64DWKapjw/P39Yd3l5SYxpVKvVsYO2LEtUVd2ZNoiu6+I4ztg1V1dXxPAiSq/Xk5OTk0k9pNVqyenp6ch94l+5XI4YbtRqNfHa9fX1t43xcwGa/Nnc3PwdDAY9OZht28rGxgZPvP6KSCSy9fT09OUrw7ZtPqa8jFKv113HuLm5IYbXVFXdcRPl9vaWGH5GaTQaU8fI5/PE8JumafvNZvO/MQqFAjFmJRqNHk6Ksqgx5vr1zzAM2d7edr3/6uqqsra2NnZbp9NR+v2+62OHQqG5zObXPIMEAgFlfX3dl2N79btl1viTA0FAEIKAIAQBAAAAAAAAsMz+Ai1bUgo6ebm8AAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
}

/* Panel styles. */
#geojson-panel {
  /*float: left; */
  width: 90%;
 height:100%;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  outline: 1px solid rgba(0,0,0,0.2);
  z-index: 100;
  border: #101D62 1px;
}

#panel-content {
  padding: 8.5px;
  height: 100%;
}

#geojson-controls {
  padding-bottom: 8px;
}

#geojson-input {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  resize: true;
  background-color: #F1F1F1;
  border: 1px rgb(3, 3, 54);
  color: rgb(3, 3, 54);
   font-size: 14px;
}




#panel-title {
  font-size: 18px;
  line-height: 20px;
  color: rgb(3, 3, 54);
}

.subtitle {
  font-size: 16px;
  color: #222222;
}


#geojson-input.invalid {
  background-color: #FAC6C0;
}
