html {
    overflow-y: scroll; /* show scroll bar */
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url("/static/images/bfw_border.jpg") no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-form-ctrl {
    margin-left: 15px;
}

.space-above-form {
    height: 25px; /* clear for bg image */
    padding-top: 65px;
}

.container {
    /* background-color: rgba(248, 246, 229, 0.83); /* #fafaeb; */
    background: -webkit-linear-gradient(top, rgba(248, 246, 229, 0.90),
        rgba(248, 246, 229, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(248, 246, 229, 0.90),
        rgba(248, 246, 229, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(248, 246, 229, 0.90),
        rgba(248, 246, 229, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, rgba(248, 246, 229, 0.90),
        rgba(248, 246, 229, 1)); /* Standard syntax (must be last) */
    color: hsla(227, 10%, 55%, 1);
    padding-left: 30px;
    padding-right: 30px;
/*  overflow-y: auto; */
}

.checkbox label,#accept,.radio label {
    color: hsl(227, 68%, 58%);
    font-weight: bold;
}

.control-label {
    color: hsla(227, 50%, 60%, 1);
}

#subform-find-help {
    background: rgba(250, 233, 125, 0.22);
    width: 100%;
    padding-left: 20px;
}

.subform-control-label {
    color: hsla(227, 10%, 55%, 1);
    text-align: center;
}

.help-block {
    color: hsla(227, 10%, 55%, 1);
    font-size: 13px;
}

#form-errors {
    color: #FF0000;
    font-size: 15px;
}

.validation {
    color: #FF0000;
    font-size: 13px;
    display: none; /*js calls show */
}

hr {
    border-top: 1px solid rgba(54, 105, 194, 0.1);
}


#save-wait-popover{
/*	top: 200px; */
}

.form-legend {
    color: #234196; /*    color: #333; */
    text-align: center;
    border-bottom: 0;
    font-size: 24px;
}

.framing-help {
    color: #234196; /*    color: #333; */
    text-align: center;
}

.framing-sub-help {
    color: hsla(227, 10%, 55%, 1);
    text-align: center;
    font-size: 13px;
}

#searchbox_id {
    width: 80%;
}

.asterix {
    color: #FA7063;
    data-toggle: tooltip;
}

#mark-map-form,#save-area-form,#move-map-form {
    display: none;
}

.CodeMirror-gutters {
    background: #fff;
}

/* 
 * Midnight Theme 
 * Based on the theme at http://bonsaiden.github.com/JavaScript-Garden
 */

/*<!--breakpoint-->*/
.breakpoints {
    width: .8em;
}

.breakpoint {
    color: #822;
}

/*<!--match-->*/
span.CodeMirror-matchhighlight {
    background: #494949
}

.CodeMirror-focused span.CodeMirror-matchhighlight {
    background: #314D67;
    !
    important
}

/*<!--activeline-->*/
.activeline {
    background: #253540 !important;
}

.cm-s-midnight.CodeMirror {
    /*background: #0F192A; color: #D1EDFF; */
    /*background: #101D62; color: #F1F2ED;*/
    background: #08113F;
    color: #F1F2ED;
}

.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cm-s-midnight div.CodeMirror-selected {
    background: #314D67 !important;
}

.cm-s-midnight .CodeMirror-gutters {
    background: #101D62;
    border-right: 1px solid;
}

.cm-s-midnight .CodeMirror-linenumber {
    color: #F1F2E4;
}

.cm-s-midnight .CodeMirror-cursor {
    border-left: 1px solid #F8F8F0 !important;
}

.cm-s-midnight span.cm-comment {
    color: #428BDD;
}

.cm-s-midnight span.cm-atom {
    color: #AE81FF;
}

.cm-s-midnight span.cm-number {
    color: #D1EDFF;
}

.cm-s-midnight span.cm-property,.cm-s-tropicaleve span.cm-attribute {
    color: #A6E22E;
}

.cm-s-midnight span.cm-keyword {
    color: #E83737;
}

.cm-s-midnight span.cm-string {
    color: #97FF9F
} /* color: #97FF9F */
.cm-s-midnight span.cm-variable {
    color: #FFAA3E;
}

.cm-s-midnight span.cm-variable-2 {
    color: #FFAA3E;
}

.cm-s-midnight span.cm-def {
    color: #4DD;
}

.cm-s-midnight span.cm-error {
    background: #F92672;
    color: #F8F8F0;
}

.cm-s-midnight span.cm-bracket {
    color: #D1EDFF;
}

.cm-s-midnight span.cm-tag {
    color: #008;
}

.cm-s-midnight span.cm-link {
    color: #AE81FF;
}

.cm-s-midnight .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

.typ {
    color: #FFAA3E;
}

.atn {
    color: #606;
}

.atv {
    color: #080;
}

.dec {
    color: #606;
}

/*
 * CodeMirror & Markers -------------------------------------------------------
 */
.right .CodeMirror {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: auto !important;
    background: #fff;
    font-family: 'm_1regular', monospace;
    line-height: 1.5em;
}

.error-marker {
    width: 10px;
    height: 1.5em;
    background: #EAB;
    transition: all 100ms;
    -webkit-transition: all 100ms;
}

.error-marker:hover {
    background: #D68;
}

.error-marker:before {
    opacity: 0;
    pointer-events: none;
    content: attr(message);
    transition: all 100ms;
    -webkit-transition: all 100ms;
    content: attr(message);
    width: 300px;
    font-size: 10px;
    padding: 5px;
    border: 1px solid #000;
    position: absolute;
    background: #fff;
    z-index: 999;
}

.error-marker:hover:before {
    opacity: 1;
    margin-left: 35px;
}

.right .edit-pane .CodeMirror-linenumber {
    color: #666;
    font-size: 75%;
}

/* placeholder addon */
.CodeMirror {
    /*border: 1px solid silver; 
        height: 100%;*/
    padding: 0;
}

.CodeMirror-empty {
    outline: 1px solid #c22;
}

.CodeMirror-empty.CodeMirror-focused {
    outline: none;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.extended-content-container {
    width: 100%;
    margin-left: -5%;
    padding: 0;
}

@import url('static/css/area-descriptions.css');
