/** For Bootstrap and Google Maps Info window styles problem - 
Fix from http://stackoverflow.com/questions/16708324/google-maps-infowindow-close-button-hidden 
TODO: Should test to see if this is still required**/

html {
	/*
    overflow-y: scroll; /* show scroll bar */
    width: 100%;
    margin: 0;
    padding: 0; */
}

body {
	/*
    margin: 0;
    padding: 63px 0px 0px 0px; */
/*    font-family: 'Verdana', "sans-serif !important"; */
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: auto;
}
 

img[src*="gstatic.com/"],img[src*="googleapis.com/"] {
    max-width: none;!important
}

/* A dotted underline for popup hyperlinks in <a class="popup"> */
a[class ="popup"] {
   text-decoration: none; border-bottom: 1px dotted ;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.panel-tight {
    margin-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right:0px;
    margin-left:0px;
    padding:3px;
    padding-left:0px;
    padding-right:0px;
    padding-top:1px;
    padding-bottom:1px;
    border-top:1px;
    border-bottom:1px;
}
.panel-success > .panel-footer {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin:0px;
}
.panel-heading > .table, .panel-heading > .table th {
    margin:0px 0px 0px 0px;
    border: 0px;
}

.panel-title {
	/* color: hsl(227,50%, 60%, 1);  */
	color: #234196;
	font-size: 18px;
	font-weight: 700pw
}

.panel-heading .panel-title:hover {
     cursor: pointer;
     text-decoration:underline;
}

.popover.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
} 

.popover-title {
	color: #234196;
    font-size: 15px;
    font-weight: 700pw
}

.popover-content {
     color: hsla(227, 10%, 55%, 1);
    font-size: 10px;
   /*background-color: #C6E0C6; */
}

.space-behind-form {
    height: 0px; /* clear for bg image */
    padding-top: 65px;
}

.toast-top-center {
  top: 45px;
}

.toast-top-full-width {
  top: 45px;
}


.toast-success {
	
  background-color: #C6E0C6;
}
.toast-error {
  background-color: #FBA9A9;
}
.toast-info {
  background-color: #9DC3CE;
}
.toast-warning {
    color: #0;
	background-color: #EDE6B4;
}

/*
#toaster-container {
    position:fixed;
    top: 35px;
    z-index:2000;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: auto;
    background: transparent;
}


#toaster {
	float: center;
    z-index:100;
    max-height: 90px;
    overflow-y: auto;
    overflow-x: visible;
    background: transparent;
    opacity: 0.85;
}

.alert {
  padding: 2px 35px 2px 14px;    
  margin-bottom: 6px;
}
*/

textarea {
	height: 200px;
}

.topbar-img-gravatar {
	position: absolute;
	bottom: 5px;
}

.feed-img {
	margin-right: 5px;
}

#rss img {
	float: right;
	margin-left: 20px;
}

.page-header {
  padding-bottom: 3px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
  color: #004700 !important;
 
}

.blog-iframe {
	height: 400px;
}

.anon-maps-iframe {
    height: 600px;
}


.bs-example{
    margin: 20px;
}

.index-panel {
  height: 120px;
}      

.index-panel-button {
  float: bottom;
}      


/* Buttons from http://charliepark.org/bootstrap_buttons/ */

.btn-jamaica-ltgreen {
  background-color: hsl(134, 88%, 73%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#90f7a8", endColorstr="#7df699");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#90f7a8), to(#7df699));
  background-image: -moz-linear-gradient(top, #90f7a8, #7df699);
  background-image: -ms-linear-gradient(top, #90f7a8, #7df699);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90f7a8), color-stop(100%, #7df699));
  background-image: -webkit-linear-gradient(top, #90f7a8, #7df699);
  background-image: -o-linear-gradient(top, #90f7a8, #7df699);
  background-image: linear-gradient(#90f7a8, #7df699);
  border-color: #7df699 #7df699 hsl(134, 88%, 72%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.06);
  -webkit-font-smoothing: antialiased;
}

.btn-lightgreen {
	 background-color: hsl(79, 67%, 58%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c5e57f", endColorstr="#aedb4c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c5e57f), to(#aedb4c));
  background-image: -moz-linear-gradient(top, #c5e57f, #aedb4c);
  background-image: -ms-linear-gradient(top, #c5e57f, #aedb4c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5e57f), color-stop(100%, #aedb4c));
  background-image: -webkit-linear-gradient(top, #c5e57f, #aedb4c);
  background-image: -o-linear-gradient(top, #c5e57f, #aedb4c);
  background-image: linear-gradient(#c5e57f, #aedb4c);
  border-color: #aedb4c #aedb4c hsl(79, 67%, 55%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19);
  -webkit-font-smoothing: antialiased;
}
    
.btn-lightgreen2 {  /* http://charliepark.org/bootstrap_buttons/ */
  background-color: hsl(86, 79%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daf6b5", endColorstr="#7cc817");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#daf6b5), to(#7cc817));
  background-image: -moz-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -ms-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #daf6b5), color-stop(100%, #7cc817));
  background-image: -webkit-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -o-linear-gradient(top, #daf6b5, #7cc817);
  background-image: linear-gradient(#daf6b5, #7cc817);
  border-color: #7cc817 #7cc817 hsl(86, 79%, 34%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.66);
  -webkit-font-smoothing: antialiased;
}

.btn-oldlightred {
  background-color: hsl(19, 82%, 78%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8d0be", endColorstr="#f4b698");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f8d0be), to(#f4b698));
  background-image: -moz-linear-gradient(top, #f8d0be, #f4b698);
  background-image: -ms-linear-gradient(top, #f8d0be, #f4b698);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8d0be), color-stop(100%, #f4b698));
  background-image: -webkit-linear-gradient(top, #f8d0be, #f4b698);
  background-image: -o-linear-gradient(top, #f8d0be, #f4b698);
  background-image: linear-gradient(#f8d0be, #f4b698);
  border-color: #f4b698 #f4b698 hsl(19, 82%, 76%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
}

.btn-lightred  {
  background-color: hsl(11, 82%, 63%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ee6f53", endColorstr="#ee6f53");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee6f53), to(#ee6f53));
  background-image: -moz-linear-gradient(top, #ee6f53, #ee6f53);
  background-image: -ms-linear-gradient(top, #ee6f53, #ee6f53);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee6f53), color-stop(100%, #ee6f53));
  background-image: -webkit-linear-gradient(top, #ee6f53, #ee6f53);
  background-image: -o-linear-gradient(top, #ee6f53, #ee6f53);
  background-image: linear-gradient(#ee6f53, #ee6f53);
  border-color: #ee6f53 #ee6f53 hsl(11, 82%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn-lightblue {
  background-color: hsl(214, 37%, 58%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#6c8ebb");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#6c8ebb));
  background-image: -moz-linear-gradient(top, #ffffff, #6c8ebb);
  background-image: -ms-linear-gradient(top, #ffffff, #6c8ebb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #6c8ebb));
  background-image: -webkit-linear-gradient(top, #ffffff, #6c8ebb);
  background-image: -o-linear-gradient(top, #ffffff, #6c8ebb);
  background-image: linear-gradient(#ffffff, #6c8ebb);
  border-color: #6c8ebb #6c8ebb hsl(214, 37%, 47.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}


.btn-jamaica-dkgreen{
  background-color: hsl(144, 76%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19b858", endColorstr="#16a650");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#19b858), to(#16a650));
  background-image: -moz-linear-gradient(top, #19b858, #16a650);
  background-image: -ms-linear-gradient(top, #19b858, #16a650);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #19b858), color-stop(100%, #16a650));
  background-image: -webkit-linear-gradient(top, #19b858, #16a650);
  background-image: -o-linear-gradient(top, #19b858, #16a650);
  background-image: linear-gradient(#19b858, #16a650);
  border-color: #16a650 #16a650 hsl(144, 76%, 36%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}

.btn-jamaica-yellow{
  background-color: hsl(54, 86%, 59%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1e14f", endColorstr="#f0de3c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f1e14f), to(#f0de3c));
  background-image: -moz-linear-gradient(top, #f1e14f, #f0de3c);
  background-image: -ms-linear-gradient(top, #f1e14f, #f0de3c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1e14f), color-stop(100%, #f0de3c));
  background-image: -webkit-linear-gradient(top, #f1e14f, #f0de3c);
  background-image: -o-linear-gradient(top, #f1e14f, #f0de3c);
  background-image: linear-gradient(#f1e14f, #f0de3c);
  border-color: #f0de3c #f0de3c hsl(54, 86%, 58%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.06);
  -webkit-font-smoothing: antialiased;
}

.btn-jamaica-red {
  background-color: #CF4A30!important;     /*hsl(353, 79%, 42%) !important;*/
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1182e", endColorstr="#bf162a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d1182e), to(#bf162a));
  background-image: -moz-linear-gradient(top, #d1182e, #bf162a);
  background-image: -ms-linear-gradient(top, #d1182e, #bf162a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1182e), color-stop(100%, #bf162a));
  background-image: -webkit-linear-gradient(top, #d1182e, #bf162a);
  background-image: -o-linear-gradient(top, #d1182e, #bf162a);
  background-image: linear-gradient(#d1182e, #bf162a);
  border-color: #bf162a #bf162a hsl(353, 79%, 41%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}

.btn-jamaica-blue{
  background-color: hsl(207, 70%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2482d0", endColorstr="#2178be");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2482d0), to(#2178be));
  background-image: -moz-linear-gradient(top, #2482d0, #2178be);
  background-image: -ms-linear-gradient(top, #2482d0, #2178be);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2482d0), color-stop(100%, #2178be));
  background-image: -webkit-linear-gradient(top, #2482d0, #2178be);
  background-image: -o-linear-gradient(top, #2482d0, #2178be);
  background-image: linear-gradient(#2482d0, #2178be);
  border-color: #2178be #2178be hsl(207, 70%, 43%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}

.lesspadding {
   padding: 2px !important;
   margin: 0 !important;
}

.morepadding {
   padding: 2px !important;
   margin: 5 !important;
  margin-bottom: 3px !important;
   margin-bottom: 8px !important;
}

.table-whitebordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f9f9f9;
  
}

.table-whitebackground {
    background-color: #f9f9f9;
}

.table-journalbackground {
    margin-top: 0px;
    padding-top: -5px !important;
    padding-bottom: -5px !important;
	background-color: #e9e9d9;
}

.table-myareabackground {
    background-color: #f6f7f4;
}

.table-followareabackground {
    background-color: #f0f0f0;
}

.table-otherareabackground {
    background-color: #e5e9e5;
}


/* http://stackoverflow.com/questions/12167848/bootstrap-adding-legend-to-well*/
.the-legend {
    border:none;
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    background-color: #f0f0f0;
    width: 20%
}

.the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}


iframe { /* retain video aspect ratio */
  width: 100%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.aspect-video{
    width:100%;height:0;padding-bottom:51%;position:relative
}
.aspect-video iframe{
	width:100%;
	height:100%;
	position:absolute;left:0;top:0
}


.navbar-margin{
  margin-bottom:  2px;
}

.addjobdiv {
    display: none;
    border-bottom: dotted #c0e0c0;
    border-bottom-width: 1px;
}

.boxshadow-controls {
	    margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        height: 32px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

 #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

 #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
.white-font{
        font-color: #ffffff;
        color: #ffffff;
      }
      
 #watermark {
  color: #d00000;
  font-size: 29pt;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  margin: 0;
  left:-410px;
  top:10px;   
}

.red_cross/* cursor or rhs map follows lhs cursor*/
{
    color:red;
    font-weight: bold;
}

#dialog-new-cells {
    font-size: 11pt;
	/*bottom: 0; 
    right:0; 
    left: auto; 
    top: auto; 
    height: auto;
    min-height: 100% !important;
	width: 200%;*/ 
}

#sign-in-popover{
    font-size: 11pt;
    width: 200px;
    /*bottom: 0; 
    right:0; 
    left: auto; 
    top: auto; 
    height: auto;
    min-height: 100% !important;
    width: 200%;*/ 
}

#make-report-popover{
    font-size: 11pt;
    width: 200px;
    /*bottom: 0; 
    right:0; 
    left: auto; 
    top: auto; 
    height: auto;
    min-height: 100% !important;
    width: 200%;*/ 
}

.cell-panel{
	font-size: 8pt;
}

.cell-panel-monitored {
    font-weight: bold  !important;
    font-size: 8pt;
    color: darkgreen !important;
}

.cell-panel-unmonitored {
    font-size: 8pt;
	color: gray !important;
}

.cell-panel-hover {
    font-size: 8pt;
    color: blue !important;
    font-weight: bold  !important;
}
.cell-panel-nohover {
    font-size: 8pt;
    color: black !important;
}

.cell-panel-selected {
    font-size: 8pt;
    font-style: italic; 
}

.cell-panel-unselected {
    font-size: 8pt;
}

.cell-panel-updating {
    font-size: 8pt;
    color: green!important;
    font-weight: bold  !important;
}

.cell-panel-popover-locked {
    font-size: 11pt;
    color: red!important;
    font-weight: bold  !important;
}
.cell-panel-popover-edit {
    font-size: 11pt;
    color: green!important;
    font-weight: bold  !important;
}

cell-panel-date
{
    color: black!important;
	font-size: 8pt;
    font-weight: bold  !important;
}
.cell-panel-warn{
      font-size: 8pt;
      color: red !important;
      font-weight: bold  !important;
}

.cell-panel-info{
    font-size: 8pt;
    color: #428bca !important;  
    width: 100%; 
    padding=0%;
}

.map-panel-controls {
    font-size: 8pt;
    width: 100%; 
    padding=0%;
}

.map-panel-data {
    font-size: 8pt;
	color: gray!important;
    width: 100%; 
    padding=0%;
}

.map-panel-cursor {
    font-size: 8pt;
	color: black !important;
    width: 100%; 
    padding=0%;
}

.map-panel-oops-button{
    width: 80%; 
    padding=10%;
    border-top: 1px solid #eeeeee;
    margin-top: 5%;
}

.django-template {
  height: 0px;  
  visibility: hidden; 
}

.hidden-panel {
    display: none;
}
/*
.tasklist-container {
    overflow-y: scroll;
}
*/