{% extends "base.html" %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<link href='//fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>

{% block content %}

<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a> </li>
    </ul>
</div>
<div class="container">
	<div class="page-header">
    	<h1>About Community Forest Watch</h1>
        <p>User guides, support and background information can be found on the</p><h3> <a href="http://bunjilforestwatch.net/about/">Forest Watch Blog</a></h3>
    </div>
    <h3 class="danger" style="color:FireBrick">Warning!</h3>
       <p>This is a just a prototype for research and not yet ready for general use.</p>

    <h3>Basic Info</h3>
            <p>Created by <a href="http://bunjilforestwatch.net/about/author/">Chris Goodman</a></p>
            <p>The app runs on Google App Engine and relies on <a href=//earthengine.google.org>Google Earth Engine</a> and Landsat images from <a href="//www.usgs.gov">USGS</a></p>
            <p>Supported by <a href="//www.objectconsulting.com.au/">Object Consulting Pty. Ltd.</a></p>
            <p>More info on the blog <a href="//bunjilforestwatch.net/">Bunjil Forest Watch Blog</a></p>
            <p>Open source code hosted on GitHub: <a href="//github.com/intotecho/bunjilforestwatch">//github.com/intotecho/bunjilforestwatch</a>.</p>
    <h3><a href="/">home</a></h3>return to app

{% endblock %}