{% extends "base.html" %}
{% block content %}
<div class="container">
    <p>
        <ul class="breadcrumb">
        <li class="active">/activity for <a href="{{ "user"|url(user.name) }}">{{ user.name }}</a></li>
        </ul>
    </p>
	<div class="page-header">
    <h1>Your Recent Activity</h1>
	</div>
  <h3>
    <a href="{{ "user-feeds"|url(user.name) }}"><img src="/static/images/feed.png" class="feed-img" alt="feed">RSS feed of your activity</a>
  </h3>
  <hr>
  {% include "activities.html" %}

{% endblock %}
