{% extends "base.html" %}

{% block content %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <div class="page-header">
    <h1>Contribute to Bunjil Forest Watch</h1>
    <p>For Local Conservation Groups in Remote Forest Areas</p>
  
    </div>
    
    <div class="row">
        <div class="span12">
            <h3>Who made Bunjil Forest Watch</h3>
            <p>This app was created by <a href="chris.goodman@objectconsulting.com.au/">Chris Goodman</a> with help from students at Swinburne.</p>
            <p>The app runs on Google App Engine and relies on Google Earth Engine and satellite data from <a href="http://www.usgs.gov">USGS</a></p>
            <p>This app was supported by <a href="http://www.objectconsulting.com.au/">Object Consulting Pty. Ltd.</a></p>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h3>want to help?</h3>
            <p>The code is hosted on GitHub: <a href="https://github.com/intotecho/bunjil">https://github.com/intotecho/bunjil</a>.</p>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h3>problems</h3>
            <p>You may <a href="https://github.com/intoecho/bunjil/issues">submit issues</a> or email us at <a href="mailto:bunjilforestwatch@gmail.com">bunjilforestwatch@gmail.com</a>.</p>
        </div>
    </div>
{% endblock %}