<div class="panel-group" id="accordion-areas">
 {% for j in following_areas %}
         <div class="panel panel-default">
	          <div class="panel-heading">
	            <h4 class="panel-title">

                <a class="accordion-toggle" data-toggle="collapse" href="#f_{{ j.key.urlsafe() }}">{{ j }}</a>
	            </h4>
            </div>
            <div id="f_{{ j.key.urlsafe()  }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="panel-tight">
                              <div class="table-followareabackground">
                                {% if user.name == j.owner.name %}
                                    <a data-toggle="tooltip" title="{{ j.description}}" href="{{ j|area_url }}"><h4>{{ j }}</h4></a>
                                {% else %}
                                    {{ j }}
                                {% endif %}<br/>
                                  <a href="{{ j|area_url }}">view area</a><br/>
                                  <a href="{{ j|area_tasks_url}}">view tasks</a><br/>
                                  created {{ j.created_date|sdate }}<br/>
                                  by {{ j.created_by}}<br/>
                                  {{ j.num_followers or 0}} follower{{ j.num_followers|pluralize }}<br/>
                                  <a href="/area/{{ j }}/follow?unfollow=true" class="btn btn-small btn-lightred" data-toggle="tooltip" title="Stop receiving review requests for this area.">Unfollow <span class='red_cross'>&times;</span></a></td></tr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  {% endfor %}
</div>