<html>
  <head>
    <meta charset="utf-8">
    <!-- 
    	Synchronously load Google Maps JavaScript API 
    	- The API key is directly hardcoded into the URL
    -->
    <script 
    	type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7YliczW7tJ7v5JbpHhPXxi-RKxZVky28&libraries=geometry,places,visualization">
    </script>
  </head>
  <body>
		<div id='index-user2'></div>
  </body>
</html>

<script type="text/javascript" src="/assets/bundles/bundle.js"></script>