{% extends "base.html" %}
<!-- This is index page or localhost:8001 when user is logged in -->
<!-- See also localhost:8001/username - my areas from the menu -->
{% block content %}
  <div class="container forest-container">
    <ul class="breadcrumb">
      <li><a href="{{ 'user'|url(user.name) }}">{{ user.name }}</a>
      <li class="active">{{ user.role }} dashboard</li>
    </ul>
    <div class="row">
      <div class="col-xs-4">
        <h3><a href="{{ "new-area"|url }}" class="btn btn-small btn-lt-blue" data-toggle="tooltip"
               title="Create a new area. Volunteers will review images and send you alerts.">New area <span
            class="glyphicon glyphicon-plus"></span></a></h3>
      </div>
      <div class="col-xs-4">
        <img src="/static/img/ajax-loader.gif" class="ajax-loader hidden"/>
      </div>
    </div>
    <div class="row">
      {% if areas or user.role == 'local' %}
        <div class="col-xs-4">
          <h3>Your Area{{  areas|length|pluralize }}</h3>
          {% if not areas %}
            You have not created your area yet. Please add an area so <em>Bunjil Forest Watch</em> can help you monitor
            it.
          {% else %}
            Areas you created
            {% include "areas.html" %}
          {% endif %}
        </div>
      {% endif %}
      {% if following_areas or user.role == 'volunteer' %}
        <div class="col-xs-4">
          <h3>Watching Areas</h3>
          {% if not following_areas %}
            You are not watching any areas yet. Click <em>Watch Area</em> on one of the areas to the left to start
            receiving observation tasks.
          {% else %}
            You are watching these areas.
            {% include "following-areas.html" %}
          {% endif %}

        </div>
      {% endif %}
      <div class="col-xs-4">
        <h3>Other Areas to Watch</h3>
        {% if not other_areas %}
          No other areas defined!
        {% else %}
          You can volunteer to monitor other areas
          {% include "allareas.html" %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

