{% extends "base.html" %}

<!-- THIS IS THE HOME PAGE WHEN NOT LOGGED IN  -->
{% block content %}
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Chewy'>
<link rel='stylesheet' type='text/css' href='/static/css/bootstrap-social.css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" style='margin-bottom: 0'>
    <div class="row" style='margin-bottom: 0'>
        <div class="col-xs-8 ">
			<div class="hero-unit well page-header chewy-font">
				<h1><b>
					 Bunjil Forest Watch<br></b>
					<small> Communities protecting forests</small>
				</h1>
			</div>
		</div>	
		<div class="col-xs-4">
				<div id="watermark">
	                <p>Prototype!</p>
	            </div>
        </div>    
	</div>
                <p>How can Bunjil Forest Watch help you?</p>
 	<div class="row">
			<div class="col-xs-4 well">
			    <div class="index-panel">
				<h3>Protect Your Forest </h3>
				<p>If you live or work near a forest, receive alerts whenever the forest canopy is disturbed.</p>
				</div>
					<a class="btn btn-block btn-dropbox" data-toggle="tooltip"
						title="Only your email address will be shared with this app. Neither your password nor any other details are shared."
						href="/new/user?role=local"> <i class="fa"></i>Monitor your forest 
					</a>
			</div>
			<div class="col-xs-4 well">
                <div class="index-panel">
					<!-- <legend class="the-legend">Volunteer</legend>  -->
					<h3>Help Protect Global Forests</h3>
					<p>Become a Forest Watch Volunteer and help locals protect their forest by checking satelite images for distrubances. </p>
				</div>
				<a class="btn btn-block btn-dropbox" data-toggle="tooltip"
					title="Only your email address will be shared with this app. Neither your password nor any other details are shared."
					href="/new/user?role=volunteer"> <i class="fa "></i>Get Involved!
				</a>
			</div>	
			<div class="col-xs-4 well">
                   <div class="index-panel">
                       <h3>Already Registered?</h3>
                       <p>If you have used Bunjil before you already have an account to sign in with.</p>
                   </div>
                   <div>
                       <a class="btn btn-block btn-social btn-dropbox " data-toggle="tooltip"
                       title="Only your email address will be shared with this app. Neither your password nor any other details are shared."
                       href="/login/google"> <i class="fa fa-google-plus"></i>Sign in</a>
                    </div>
            </div>
        </div>
    <div class="row">
	    <div class="col-xs-5 col-xs-offset-1">
	            <legend class="the-legend" style="width: 30%"><h3>Learn More</h3></legend>
	            <h4>
	                <a href="/about">About Bunjil Forest Watch</a>
	            </h4>
	            <p>Bunjil is powered by images from the Landsat satellite and Earth Engine</p>
	            <div class="aspect-video">
	                <!--    <iframe src="//www.youtube.com/embed/Ezn1ne2Fj6Y" frameborder="0" allowfullscreen></iframe> -->
	            </div>
	    </div>
    </div>
     
	<!-- Embed the Hansen Map 
	<iframe width="90%" height="400"
		src="//earthenginepartners.appspot.com/science-2013-global-forest?hl=en&llbox=62.208%2C55.679%2C44.273%2C23.267&t=ROADMAP&layers=2%2Clayer4%2Clayer0%2C11%2C12&embedded=true"
		style="border: 1px solid #ccc"></iframe> 
		-->

	<!--  Social Buttons
            <div>
            <p>Share</p>
                <a class="btn btn-social-icon btn-xs btn-google-plus"
                          onclick=";">
                          <i class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-xs btn-twitter" 
                          onclick=";">
                          <i class="fa fa-twitter"></i></a> 
                <a class="btn btn-social-icon btn-xs btn-facebook"
                           onclick=";">
                           <i class="fa fa-facebook"></i></a> 
             <a class="btn btn-social-icon btn-xs btn-linkedin" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-linkedin']);"><i
                    class="fa fa-linkedin"></i></a>  -->
	<!--   To get these and other buttons working see: //docs.gae-init.appspot.com/ -->
</div>

{% endblock %}
