{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Markup <small>how to display your text</small></h1>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>What is markup?</h2>
			<p>Text editing online is difficult. markups convert normal text into beautifully formatted output.</p>
			<p>You mark up your text with some special information, and it is converted to the desired format.</p>
		</div>
	</div>

    <h2>Which markup languages are supported</h2>
    <p>Bunjil Forest Watch accepts the following markup language:</p>
	<div class="row">
		<div class="col-xs-12">
			<h3>Plain text</h3>
			<p>Nothing special. What you put in is what you get out.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3>Markdown</h3>
			<p>Read about and try markdown <a href="//daringfireball.net/projects/markdown/dingus">here</a>.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3>textile</h3>
			<p>Read about and try textile <a href="//redcloth.org/hobix.com/textile/">here</a>.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3>reStructuredText</h3>
			<p>Read about reStructuredText <a href="//docutils.sourceforge.net/docs/user/rst/quickref.html">here</a>.</p>
			<p>Try reStructuredText <a href="//www.tele3.cz/jbar/rest/rest.html">here</a>.</p>
		</div>
	</div>
</div>
{% endblock %}
