{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>markup <small>how to display your text</small></h1>
	</div>

	<div class="row">
		<div class="span12">
			<h3>what is markup?</h3>
			<p>Text editing online is difficult. There are a few methods to convert normal text into beautifully formatted output. These methods are called markups. You mark up your text with some special information, and it is converted to the desired format. We support the following markup styles:</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>plain text</h3>
			<p>Nothing special. What you put in is what you get out.</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>markdown</h3>
			<p>Read about and try markdown <a href="http://daringfireball.net/projects/markdown/dingus">here</a>.</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>textile</h3>
			<p>Read about and try textile <a href="http://www.textism.com/tools/textile/">here</a>.</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>reStructuredText</h3>
			<p>Read about reStructuredText <a href="http://docutils.sourceforge.net/docs/user/rst/quickref.html">here</a>.</p>
			<p>Try reStructuredText <a href="http://www.tele3.cz/jbar/rest/rest.html">here</a>.</p>
		</div>
	</div>

{% endblock %}
