{% extends "base.html" %}
{% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<title>Bunjil Forest Watch - New Area</title>
{% block head_scripts %}
{% block map_head %}
    <script>
    var single_map = true; 
    var view_mode =  "view-area"; 
    var initial_dragger = "100%";
    </script>
{% endblock map_head %} 

{% include "includes/head_scripts.html" %}
{% endblock head_scripts %}

<style type="text/css"> 
      html { 
         height: 100%;
         overflow-y:scroll /* show scroll bar */
      }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100%; }

    #searchbox_id {
        width:200px;
    }
</style>

{% endblock %}
{% block content %}

<!-- NO BREADCRUMBS REQUIRED FOR THIS PAGE -->

<div id='area_json'   class='django-template'>{{ area_json}}</div>
<div id='celllist'         class='django-template'>{{ celllist }}</div>
<div id='latlng'         class='django-template'>{{ latlng}}</div>
<div id='user_name' class='django-template'>{{ user.name }}</div>
<div id='user_url'       class='django-template'>{{ "user"|url(user.name) }}</div>
    
<div class="container">
	<div class="row">
   		<div id ='new-map-control-panel' class="col-md-9 lesspadding" >
   
   		    <!-- <input id="searchbox_id" class="controls" type="text" placeholder="Search by place name"  style='display:none''> -->
     		<!--Sidebar content <div class="control-group"> -->
     		<h4>Create a new Area<span><input id="instructions" class="img-responsive"   rel="popover"  type=image  src="/static/img/question-mark.png" ></span> 
     		</h4>
   			<form id="new_area_form" class="form-vertical" method="POST">
				<fieldset>
					   <!--  NAME -->
					<div class="map-panel-controls">
						<label class="control-label map-panel-controls" for="name" data-toggle="tooltip"
						title="Choose a short unique name that will identify the area to others">
						Name: <span style="color: #ff0000">*</span></label>
						<input class="map-panel-controls" id="area_name" name="name" placeholder="Give your area a short name" type="text"/>
					</div>
                    <!--  DESCRIPTION  -->
	               <div class="accordion-group">
	                    <div class="accordion-heading">
	                        <a class="accordion-toggle" data-toggle="collapse" href="#area_descr_panel">Area Description</a>
	                    </div>
	                    <div id="area_descr_panel" class="accordion-body collapse in" data-toggle="collapse">
	                        <div class="accordion-inner">
						        <div class="accordion" id="inner_accordion">            
						                <div class="accordion-group">
						                    <div class="accordion-heading">
						                        <a class="accordion-toggle" data-toggle="collapse" href="#area_descr_what">Area Description</a>
						                    </div>
						                    <div id="area_descr_what" class="accordion-body collapse in" >
						                        <div class="accordion-inner small" >
                                                        <textarea rows="3" class="map-panel-controls" id="area_descr_what" name="description-what" placeholder="Tell volunteers  a little about the area or park are you protecting. You can enter a link to a wiki page" form="new_area_form"></textarea>
						                        </div>
						                    </div>
						                </div>
						                <div class="accordion-group">
						                    <div class="accordion-heading">
						                        <a class="accordion-toggle" data-toggle="collapse" href="#area_descr_why"> Why's this area important?</a>
						                    </div>
						                    <div id="area_descr_why" class="accordion-body collapse ">
						                        <div class="accordion-inner small">
								                        <textarea rows="3" class="map-panel-controls" id="area_descr_why" name="description-why" placeholder="Explain why it's important to monitor this area" form="new_area_form"></textarea>
						                        </div>
						                    </div>
						                </div>
						                 <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#area_descr_who"> Who's monitoring it?</a>
                                            </div>
                                            <div id="area_descr_who" class="accordion-body collapse ">
                                                <div class="accordion-inner small">
                                                        <textarea rows="3" class="map-panel-controls" id="area_descr_who" name="description-who" placeholder="Who is going to act on reports of disturbances in this area" form="new_area_form"></textarea>
                                                </div>
                                            </div>
                                        </div>
						            </div>
	                                <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#area_descr_how"> How's it protected?</a>
                                            </div>
                                            <div id="area_descr_how" class="accordion-body collapse ">
                                                <div class="accordion-inner small">
                                                        <textarea rows="3" class="map-panel-controls" id="area_descr_how" name="description-how" placeholder="How is this area protected? For example, Is it a national park or a native area? " form="new_area_form"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
	                </div>
	                    
    				   <!--  DEFINE AREA -- BOUNDARY SELECTION  -->
    				   <div>
						<fieldset class='control-label map-panel-controls'>
	                    
	                     <input id="searchbox_id" class="controls" type="text" placeholder="Enter a place name near your area">
    
	                    <legend class='control-label'>How will you enter your area's boundary? <span style="color: #ff0000">*</span></legend>

	                     <div class="radio">
	                        <label><input type="radio" name="opt-fusion" value="is-drawmap">Draw my area on a map</label>
	                    </div>
	                     <div class="radio" >
	                        <label><input type="radio" name="opt-fusion" value="is-fusion">Area's boundary is in a fusion table</label>
	                    </div>
	                    </fieldset>
                    </div>
                    <!--  CREATE BUTTON  -->
                    <div class="control-group">
                        <input id = "createarea_id" type="button" class="btn btn-lightgreen map-panel-controls" value="Create Area"  style='display:none'>
                    </div>
                    <div class="control-group">
                        <input id="reset_id" type="button" class="btn btn-small btn-lightred map-panel-oops-button"  value="Oops! Restart" data-toggle="tooltip" title="Clear all the markers on the map"  style='display:none'>
                    <div class="controls">
                        <input id="coordinates_id" name="coordinates" type="hidden" value="undefined">
                    </div>  
                    
                    <div class="map-panel-fusiontable" id="fusiontable-form-c" style='display:none'>
                        <label class="control-label map-panel-controls" for="boundary_ft" data-toggle="tooltip"
                        title="If your area's boundary is already in a fusion table, link to it here.">
                        Fusion Table Id: <span style="color: #ff0000">*</span></label>
                        <input class="map-panel-controls"  id="boundary_ft" name="boundary_ft" type="text"/>
                    </div>
                    <div id="boundary-instructions" style='display:none'>
                                <placeholder>
                    </div>
                    <!--  LANDSAT GRID -->
					<div>
						<input type="checkbox" id="0" class="layer" unchecked/>
						<label for="0">Show Landsat Grid </label>
					</div>
                    <!--  MAP DIVIDER ?-->
					<div id="map_panel" class="control-group" name="panel" >
						<p class="divider"></p>
			      	</div>
			    </div>
				</fieldset>
			</form>	
		</div>
	    <!--  MAP  -->
		<div class="col-md-9 lesspadding" id="map-canvas-c" >
   			   <div id="map-canvas" > </div>
		</div>
	</div>
</div>
    {% include "includes/project_scripts.html" %}
    {% include "includes/map_scripts.html" %}
    <script type="text/javascript" src="/static/js/new-area.js" defer></script>      
{% endblock %}

{% block footer_js%}
{% endblock footer_js %}
