{% extends "base.html" %} {% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<title>Bunjil Forest Watch - New Area</title>
{% block head_scripts %} {% block map_head %}

<link rel="stylesheet" href="/static/css/site.css">

<script type="text/javascript">
	var single_map = true;
	var view_mode = "view-area";
	var initial_dragger = "100%";
</script>


{% endblock map_head %} {% include "includes/head_scripts.html" %} {% endblock head_scripts %} {% endblock %} {% block content
%}

<link rel="stylesheet" href="/static/css/drawing-tools.css">
<link rel="stylesheet" href="/static/css/codemirror.css">
<link rel="stylesheet" href="/static/css/simplescrollbars.css">
<link rel="stylesheet" href="/static/css/lint.css">

<style type="text/css">
html {
	/* height: 100%;
     min-height: 500px; */
	overflow-y: scroll; /* show scroll bar */
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	/*height: 100%;
    min-height: 500px; */
	margin: 0;
	padding: 0;
	font-family: 'Verdana', "sans-serif !important";
	font-size: 15px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: none;
	background: url("/static/images/bfw_border.jpg") no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.btn-form-ctrl {
	margin-left: 15px;
}

.space-above-form {
	height: 25px; /* clear for bg image */
}


.container {
	/* background-color: rgba(248, 246, 229, 0.83); /* #fafaeb; */
	background: -webkit-linear-gradient(top, rgba(248, 246, 229, 0.90),
		rgba(248, 246, 229, 1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, rgba(248, 246, 229, 0.90),
		rgba(248, 246, 229, 1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, rgba(248, 246, 229, 0.90),
		rgba(248, 246, 229, 1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, rgba(248, 246, 229, 0.90),
		rgba(248, 246, 229, 1)); /* Standard syntax (must be last) */
	color: hsla(227, 10%, 55%, 1);
	padding-left: 30px;
	padding-right: 30px;
	overflow-y: auto;
}

.checkbox label,#accept,.radio label {
	color: hsl(227, 68%, 58%);
	font-weight: bold;
}

.control-label {
	color: hsla(227, 50%, 60%, 1);
}

#subform-find-help {
	background: rgba(250, 233, 125, 0.22);
	width: 100%;
	padding-left: 20px;
}

.subform-control-label {
	color: hsla(227, 10%, 55%, 1);
	text-align: center;
}

.help-block {
	color: hsla(227, 10%, 55%, 1);
	font-size: 13px;
}

#form-errors {
	color: #FF0000;
	font-size: 15px;
}

.validation {
	color: #FF0000;
	font-size: 13px;
	display: none; /*js calls show */
}

hr {
	border-top: 1px solid rgba(54, 105, 194, 0.1);
}

legend {
	color: #234196; /*    color: #333; */
	text-align: center;
	border-bottom: 0;
	font-size: 24px;
}

.framing-help {
	color: #234196; /*    color: #333; */
	text-align: center;
}

.framing-sub-help {
	color: hsla(227, 10%, 55%, 1);
	text-align: center;
	font-size: 13px;
}

#searchbox_id {
	width: 80%;
}

.asterix {
	color: #FA7063;
	data-toggle: tooltip;
}

#mark-map-form,#save-area-form,#move-map-form {
	display: none;
}


.CodeMirror-gutters {
    background:#fff;
}


/* 
 * Midnight Theme 
 * Based on the theme at http://bonsaiden.github.com/JavaScript-Garden
 */

/*<!--breakpoint-->*/
.breakpoints {width: .8em;}
.breakpoint { color: #822; }

/*<!--match-->*/
span.CodeMirror-matchhighlight { background: #494949 }
.CodeMirror-focused span.CodeMirror-matchhighlight { background: #314D67; !important }

/*<!--activeline-->*/
.activeline {background: #253540 !important;}

.cm-s-midnight.CodeMirror {
    /*background: #0F192A; color: #D1EDFF; */
    /*background: #101D62; color: #F1F2ED;*/
    background: #08113F; color: #F1F2ED;
}

.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}

.cm-s-midnight div.CodeMirror-selected {background: #314D67 !important;}
.cm-s-midnight .CodeMirror-gutters {background: #101D62; border-right: 1px solid;}
.cm-s-midnight .CodeMirror-linenumber {color: #F1F2E4;}
.cm-s-midnight .CodeMirror-cursor {
    border-left: 1px solid #F8F8F0 !important;
}

.cm-s-midnight span.cm-comment {color: #428BDD;}
.cm-s-midnight span.cm-atom {color: #AE81FF;}
.cm-s-midnight span.cm-number {color: #D1EDFF;}

.cm-s-midnight span.cm-property, .cm-s-tropicaleve span.cm-attribute {color: #A6E22E;}
.cm-s-midnight span.cm-keyword {color: #E83737;}
.cm-s-midnight span.cm-string {color: #97FF9F}     /* color: #97FF9F */

.cm-s-midnight span.cm-variable {color: #FFAA3E;}
.cm-s-midnight span.cm-variable-2 {color: #FFAA3E;}
.cm-s-midnight span.cm-def {color: #4DD;}
.cm-s-midnight span.cm-error {background: #F92672; color: #F8F8F0;}
.cm-s-midnight span.cm-bracket {color: #D1EDFF;}
.cm-s-midnight span.cm-tag {color: #008;}
.cm-s-midnight span.cm-link {color: #AE81FF;}

.cm-s-midnight .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.typ { color: #FFAA3E; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

/*
 * CodeMirror & Markers -------------------------------------------------------
 */
.right .CodeMirror {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    top:0;
    height:auto !important;
    background:#fff;
    font-family: 'm_1regular', monospace;
    line-height:1.5em;
}

.error-marker {
    width:10px;
    height:1.5em;
    background:#EAB;
    transition:all 100ms;
    -webkit-transition:all 100ms;
}

.error-marker:hover {
    background:#D68;
}

.error-marker:before {
    opacity:0;
    pointer-events:none;
    content:attr(message);
    transition:all 100ms;
    -webkit-transition:all 100ms;
    content:attr(message);
    width:300px;
    font-size:10px;
    padding:5px;
    border:1px solid #000;
    position:absolute;
    background:#fff;
    z-index:999;
}

.error-marker:hover:before {
    opacity:1;
    margin-left:35px;
}

.right .edit-pane .CodeMirror-linenumber {
    color:#666;
    font-size:75%;
}

/* placeholder addon */
      .CodeMirror { 
        /*border: 1px solid silver; 
        height: 100%;*/ 
        padding:0;
       } 
      .CodeMirror-empty { outline: 1px solid #c22; }
      .CodeMirror-empty.CodeMirror-focused { outline: none; }
      .CodeMirror pre.CodeMirror-placeholder { color: #999; }

.extended-content-container {
    width: 100%;
    margin-left: -5%;
    padding: 0;
}
/*
.extended-content {
    width:100%;
}
*/

</style>

<!-- NO BREADCRUMBS REQUIRED FOR THIS PAGE -->

<div id='area_json' class='django-template'>{{ area_json}}</div>
<div id='celllist' class='django-template'>{{ celllist }}</div>
<div id='latlng' class='django-template'>{{ latlng}}</div>
<div id='user_name' class='django-template'>{{ user.name }}</div>
<div id='user_url' class='django-template'>{{ "user"|url(user.name) }}</div>

<div class="space-above-form"></div>

<div class="container">
	<form id="new_area_form" class="form-horizontal" action="" method="POST">
		<!-- Form Name -->
		<legend>
			Register your forest area
			<!-- <span class="glyphicon glyphicon-question-sign" ></span> -->
		</legend>
		<div class='framing-help'>
			If you live or work near a forest and want to protect it then register it for monitoring.<br />
		</div>
		<div class='framing-sub-help'>
			Volunteers don't have to register a forest. They can <a href='/'>help others monitor their forests</a>.
		</div>
		<hr />
		<div class="row ">
			<!-- Area Name -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="area_name"><span class='asterix' title="This field is required">*</span>
					Area Name </label>
				<div class="col-md-4">
					<input id="area_name" name="area_name" type="text" autofocus placeholder="Give your area a short name"
						class="form-control input-md"> <span class="help-block">Choose a unique name to identify your area</span>
					<div class='validation' id='area-name-validation'>Give your area a short name.</div>
				</div>
			</div>
			<hr />

            <div class="controls">
                <input id="geojson_toserver" name="geojson_toserver" type="hidden" value="undefined">
            </div>
			<!-- Public or Private  -->
			<div class="form-group  ">
				<label class="col-md-4 control-label" for="opt-sharing"><span class='asterix' title="This field is required">*</span>Public
					or Private? </label>
				<div class="col-md-6">
					<div class="radio">
						<label for="private"> <input type="radio" name="opt-sharing"  value="private"> Private
						</label>
					</div>
					<span class="help-block">Only you can see and monitor this area. Volunteers can't see it and won't be able to help
						you monitor. See <a href="http://bunjilforestwatch.net/privacy">Privacy</a>
					</span>

					<div class="radio">
						<label for="unlisted"> <input type="radio" name="opt-sharing" value="unlisted"> Unlisted
						</label>
					</div>
					<span class="help-block">Only people with the link can see or follow this area</span>

					<div class="radio">
						<label for="public"> <input type="radio" name="opt-sharing" value="shared"> Public
						</label>
					</div>
					<span class="help-block">Everyone can see and follow this area.</span>

					<div class='validation' id='sharing-validation'>Choose public, private or unlisted.</div>

				</div>
			</div>
			<hr />

			<!-- Monitoring Options  -->
			<div class="form-group">
				<label class="col-md-4 control-label" id="opt-monitoring">Monitoring Options</label>
				<div class="col-md-6">
					<div class="checkbox">
						<label for="self-monitor"> <input type="checkbox" name="self-monitor" checked="checked" id="self-monitor"
							value="self-monitor"> Self-monitor
						</label> <span class="help-block">Notify me when there are new images of my area. I have time and bandwidth to review
							images</span>
					</div>
					<div class="checkbox">
						<label for="request-volunteers"> <input type="checkbox" checked="checked" name="request-volunteers"
							id='request-volunteers' value="request-volunteers"> Community monitoring
						</label> <span class="help-block">Ask Volunteers to help monitor my area. I don't have the ability to monitor images for
							changes.</span>
					</div>
					<div class='validation' id='monitoring-validation'>Either self-monitor or request volunteers.</div>
				</div>
			</div>
			<hr />

			<!-- Undertaking -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="accept"><span class='asterix'
					title="You must agree to investigate disturbances to request volunteers">*</span>I Accept</label>
				<div class="col-md-6">
					<label class="checkbox-inline" for="accept"> <input type="checkbox" name="accept" id="accept" value="true">
						I agree to investigate disturbances reported by volunteers
					</label>
					<div class='validation' id='accept-validation'>To register an area you must agree to investigate reports in your
						area.</div>
				</div>
			</div>
			<hr />


			<!-- NEXT -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="accept"><button id="next-area" name="next-area"
						class="btn btn-default btn-form-ctrl">Next</button></label>
				<div class="col-md-8">
					<div id='form-errors' class="help-block"></div>
				</div>
			</div>
			<hr />

			<hr />
		</div>
	</form>

	<div class="row" id='scroll-to-here'></div>
	<div class="row" id='map-find' style='display: none'>
		<!-- Help Locate your Area -->
		<legend>Locate your Area</legend>
		<div id='subform-find-help'>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-6">
					<label class="subform-control-label">Need help finding your area?</label>
				</div>
				<div class="col-md-5"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3 form-group">
					<label class="control-label ">My Forest is here</label>
					<button id="zoom-here" name="zoom-here" class="btn btn-default">Use My Location</button>
					<p id='zoom-here-help' class="help-block">Click if your forest is near you now.</p>
				</div>
				<div class="col-md-7 form-group">
					<label class="control-label">Find by name</label> <input id="searchbox_id" name="searchinput" type="text"
						placeholder="Enter name of a place near your area" class="form-control input-md">
					<p class="help-block">Map will zoom to that place</p>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		<hr />

		<form id="new_area_form_2" class="form-vertical" action="" method="POST">
			<fieldset>
				<!-- DRAWING MODE BUTTONS -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-6">
						<label class="subform-control-label">Mark your area on the map</label>
					</div>
					<div class="col-md-5"></div>
				</div>

				<!-- MOVE DRAG THEN PLACE-MARK -->
				<div class="row" id='drag-map-form'>
					<div class="col-md-1 "></div>
					<div class="col-md-2 form-group">
						<button id="drop-pin-mode" name="drop-pin" class="btn btn-primary" data-toggle="popover-x"
							data-target='#zoom-more-popover' data-placement="top">
							Place mark <span class="glyphicon glyphicon glyphicon-map-marker" style='color: #FA7063'></span>
						</button>
						<div id="zoom-more-popover" class='popover popover-info' data-toggle="popover-x">
							<div class="arrow"></div>
							<h3 class="popover-title">Zoom in closer!</h3>
							<div class="popover-content">
								To place a mark accurately you must zoom in more.<br /> <b>Double Click</b> near your area on the map to zoom in more.<br />
								Or use the zoom slider on the left side of the map.
							</div>
							<div class="popover-footer">
								<button id='zoom-more-popover-close' class="btn btn-sm btn-info">Close</button>
							</div>
						</div>
					</div>
					<div class="col-md-7 form-group">
						<label id='move-map-label' style='text-align: left' class="control-label"> <a class="popup" id="zoom-help"
							data-trigger='hover click' data-toggle="popover-x" data-target='#zoom-help-popover' data-placement="bottom">Zoom</a> and
							<a class="popup" id="drag-help" data-trigger='hover click' data-toggle="popover-x" data-target='#drag-help-popover'>
								Drag</a> the map so it shows your area. Then click <i>Place Mark</i>
						</label>
						<div id="zoom-help-popover" class='popover popover-info'>
							<div class="arrow"></div>
							<h3 class="popover-title">Zooming</h3>
							<div class="popover-content">
								To zoom in more <b>Double Click</b> near your area on the map.<br /> Or use the zoom slider on the left side of the map.
							</div>
							<div class="popover-footer">
								<button id='zoom-help-popover-close' class="btn btn-sm btn-info">Close</button>
							</div>
						</div>
						<div id="drag-help-popover" class='popover popover-info'>
							<div class="arrow"></div>
							<h3 class="popover-title">Moving the Map</h3>
							<div class="popover-content">
								To drag the map <b>Click and Hold </b> the mouse over the map.<br /> Or use the arrows on the top left corner of the
								map.
							</div>
							<div class="popover-footer">
								<button id='drag-help-popover-close' class="btn btn-sm btn-info">Close</button>
							</div>
						</div>

					</div>
				</div>

				<div class="row">
					<div class='col-md-1'></div>
					<!-- MARKING-MAP-->
					<div id=mark-map-form>
						<div class="col-md-8 form-group">
							<label class="control-label"> Click on the map over your area to mark where it is. </label>
						</div>
					</div>
					<!-- SAVING-AREA-->
					<div id=save-area-form>
						<div class='col-md-2'>
							<button id="save-area" name="move-map" class="btn btn-primary">Save Area</button>
						</div>
						<div class="col-md-6 form-group">
							<label class="control-label"> If mark is over your area click <i>Save area</i>
							</label>
						</div>
					</div>

					<!-- MOVE MAP LINK -->
                    <div class="form-group" id='move-map-form'>
					<div class="col-md-2" >
						<a id="move-map-mode" >Move Map<span class="glyphicon glyphicon glyphicon-hand-up"></span></a>  
					</div>
                    <div class="col-md-1" >
                        <img id='advanced' src="/static/img/gear-icon.png" alt="Advanced" style="width: 20px; height: 20px">
                    </div>
				</div>
			</fieldset>
		</form>
	</div>

	<div class="row" id='map-row' style='display: none'>

		<!-- MAP APPEARS HERE -->
        <div id='map-column' class='col-md-12 nopadding' class='map-canvas'>
			<div id='map-canvas-c' class='map-canvas'>
				<div id="drop-container">
					<div id="drop-silhouette"></div>
				</div>
				<div id="map-canvas"></div>
			</div>
	</div>	
	<div id='geojson-column' class='col-md-3 nopadding' style='display: none height=100%'>

		<!--  GeoJSON -->
		<div id='geojson-editor' class ='extended-content-container'>
			<div id='geojson-panel' >
				
					<div id="geojson-controls" class='help-block'>
                        <div id="panel-title">Edit GeoJSON</div>
                        <a id="select-all" class="btn btn-sm btn-default">Select All</a>
				        <a id="download-link" href="data:;base64," download="my_area.json" class="btn btn-sm btn-default">Download<span class="glyphicon glyphicon glyphicon-download-alt" style='color: #FA7063'></span></a>
					</div>
					<textarea id="geojson-input"  placeholder="Drag GeoJSON to map"  ></textarea>
			</div>
		</div>
	</div>	

 </div>


          <!--  LANDSAT GRID -->
        <div>
            <input type="checkbox" id="landsat-grid" class="layer" /> <label for="0">Show Grid </label>
        </div>



<div class='row' id='update-area-form' style='display:none'>
	<!--  DESCRIPTION  -->
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#area_descr_panel">Description</a>
		</div>
		<div id="area_descr_panel" class="accordion-body collapse" data-toggle="collapse">
			<div class="accordion-inner">
				<div class="accordion" id="inner_accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="#area_descr_what">Area Description</a>
						</div>
						<div id="area_descr_what" class="accordion-body collapse in">
							<div class="accordion-inner small">
								<textarea rows="3" class="map-panel-controls" id="area_descr_what" name="description-what"
									placeholder="Tell volunteers  a little about the area or park are you protecting. You can enter a link to a wiki page"
									form="new_area_form" cols=""></textarea>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="#area_descr_why"> Why's this area important?</a>
						</div>
						<div id="area_descr_why" class="accordion-body collapse ">
							<div class="accordion-inner small">
								<textarea rows="3" class="map-panel-controls" id="area_descr_why" name="description-why"
									placeholder="Explain why it's important to monitor this area" form="new_area_form" cols=""></textarea>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="#area_descr_who"> Who's monitoring it?</a>
						</div>
						<div id="area_descr_who" class="accordion-body collapse ">
							<div class="accordion-inner small">
								<textarea rows="3" class="map-panel-controls" id="area_descr_who" name="description-who"
									placeholder="Who is going to act on reports of disturbances in this area" form="new_area_form" cols=""></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#area_descr_how"> How's it protected?</a>
					</div>
					<div id="area_descr_how" class="accordion-body collapse ">
						<div class="accordion-inner small">
							<textarea rows="3" class="map-panel-controls" id="area_descr_how" name="description-how"
								placeholder="How is this area protected? For example, Is it a national park or a native area? " form="new_area_form"
								cols=""></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  DEFINE AREA - BOUNDARY SELECTION  -->
<div>
	<fieldset class='control-label map-panel-controls' style='display: none'>

		<legend class='control-label'>
			How will you enter your area's boundary? <span style="color: #ff0000">*</span>
		</legend>
		<div class="radio">
			<label><input type="radio" name="opt-fusion" value="is-drawmap">Draw my area on a map</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="opt-fusion" value="is-fusion">Area's boundary is in a fusion table</label>
		</div>
	</fieldset>
</div>

<!--  NEXT BUTTON  -->
<div class="control-group">
	<input id="createarea_id" type="button" class="btn btn-lightgreen map-panel-controls" value="Create Area" style='display: none'>
</div>
<div class="control-group">
	<input id="reset_id" type="button" class="btn btn-small btn-lightred map-panel-oops-button" value="Oops! Restart"
		data-toggle="tooltip" title="Clear all the markers on the map" style='display: none'> <span
		class="glyphicon  glyphicon-erase" style='color: #FA7063'></span>
	<div class="controls">
		<input id="coordinates_id" name="coordinates" type="hidden" value="undefined">
	</div>

	<div class="map-panel-fusiontable" id="fusiontable-form-c" style='display: none'>
		<label class="control-label map-panel-controls" for="boundary_ft" data-toggle="tooltip"
			title="If your area's boundary is already in a fusion table, link to it here."> Fusion Table Id: <span
			style="color: #ff0000">*</span></label> <input class="map-panel-controls" id="boundary_ft" name="boundary_ft" type="text" />
	</div>
	<div id="boundary-instructions" style='display: none'></div>
</div>
<form action=""></form>

{% include "includes/project_scripts.html" %} {% include "includes/map_scripts.html" %}

<script src="/static/js/vendor/codemirror.js"></script>  <!-- geojson editor -->
<script src="/static/js/vendor/javascript.js"></script> <!-- Context highlighting for json in editor -->
<script src="/static/js/vendor/simplescrollbars.js"></script> <!-- for editor -->
<script src="/static/js/vendor/placeholder.js"></script> <!-- for editor -->

<script src="/static/js/vendor/lint.js"></script>  <!-- addon for editor -->
<script src="/static/js/vendor/geojsonhint.js"></script>  <!-- parses geojson-->
<script src="/static/js/vendor/jsonlint-min.js"></script> <!-- parses json can remove min to debug-->
<script src="/static/js/geojson-lint.js"></script>    <!-- addon connects lint to editor -->

<script src="/static/js/new-area.js"></script>

{% endblock %} {% block footer_js%} {% endblock footer_js %}
