{% extends "base.html" %}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

{% block head %}
<title>Bunjil Forest Watch - New Area</title>

<link rel="stylesheet" href="/static/css/drawing-tools.css">
<link rel="stylesheet" href="/static/css/codemirror.css">
<link rel="stylesheet" href="/static/css/simplescrollbars.css">
<link rel="stylesheet" href="/static/css/lint.css">
<link rel="stylesheet" href="/static/css/new-area.css">
<link rel="stylesheet" href="/static/css/area-description.css">

<script type="text/javascript">
	var single_map = true;
	var view_mode = "view-area";
	var initial_dragger = "100%";
</script>


{% endblock %} {% block map_head %} {% endblock map_head %} {% block content %}

<!-- NO BREADCRUMBS REQUIRED FOR THIS PAGE -->

<div id='area_json' class='django-template'>{{ area_json}}</div>
<div id='celllist' class='django-template'>{{ celllist }}</div>
<div id='latlng' class='django-template'>{{ latlng}}</div>
<div id='user_name' class='django-template'>{{ user.name }}</div>
<div id='user_url' class='django-template'>{{ "user"|url(user.name) }}</div>


<div class="space-above-form"></div>

<div class="container new-area-container">
		<div class="locate-tab-bodyform-horizontal" id="new_area_form">

				<div class="tab-content">

						<div class="tab-pane fade {% if not edit_boundary %}  in active {%endif %}" id="info-tab-body">
								<div id='register-area-legend'>
										<div class='form-legend'>
												Register your area
												<!-- <span class="glyphicon glyphicon-question-sign" ></span> -->
										</div>

										<div class='framing-help'>
												If you live or work near a forest and want to protect it then register it for monitoring.<br>
										</div>

										<div class='framing-sub-help'>
												Volunteers don't have to register a forest. They can <a href='/'>help others monitor their forests</a>.<br />
										</div>
								</div>

								<div class="panel-group" id="options-accordion">
										<div class="panel">
												<div class="panel-heading" data-toggle="collapse" data-target='.areanameAccord' id="areanameAccord">
														<span class="panel-title" id="areanameAccord_title"> Area Name</span> <span class='asterix' data-toggle="tooltip"
																title='Area name is required'> *</span> <span class='collapsed-content-info'></span>
												</div>

												<div class="panel-body collapse in areanameAccord">
														<div class="col-md-1"></div>
														<div class="col-md-10">
																<div class='validation' id='area-name-validation'>Give your area a short name.</div>

																<label class="control-label" for="area_name"></label> <input accesskey="n" autofocus
																		class="form-control input-md" id="area_name" name="area_name" placeholder="" tabindex="1" type="text">
																Enter a short unique name for your area.
														</div>
												</div>
										</div>

										<!-- SHARING OPTIONS -->
										<div class="panel">
												<div class="panel-heading" data-toggle="collapse" data-target='.sharingAccord' id="sharingAccord_title">
														<span class="panel-title"> Sharing Options</span> <span class='asterix' data-toggle="tooltip"
																title='Sharing Option is required'> *</span> <span class='collapsed-content-info'></span>
												</div>

												<div class="panel-body collapse in sharingAccord">
														<div class="col-md-1"></div>
														<div class="col-md-10">
																<div class='validation' id='sharing-validation'>Choose public, unlisted or private. public allows
																		volunteers to help you monitor.</div>

																<div class="radio" id='public'>
																		<label for="public"><input accesskey="p" name="opt-sharing" tabindex="4" type="radio" value="shared">
																				Public</label>
																</div>
																<span class="help-block">Everyone can see and follow this area.</span>

																<div class="radio" id='unlisted'>
																		<label for="unlisted"><input accesskey="u" name="opt-sharing" tabindex="3" type="radio"
																				value="unlisted"> Unlisted</label>
																</div>
																<span class="help-block">Only people with the link can see or follow this area</span>

																<div class="radio" id='private'>
																		<label for="private"><input accesskey="r" name="opt-sharing" tabindex="2" type="radio" value="private">
																				Private</label>
																</div>
																<span class="help-block">Only you can see and monitor this area. Volunteers can't see it and won't be
																		able to help you monitor. Use if your work is dangerous. See <a href="http://bunjilforestwatch.net/privacy">Privacy</a>
																</span>

														</div>
												</div>
										</div>

										<!--  Monitoring Options Accordion -->

										<div class="panel">
												<div class="panel-heading" data-toggle="collapse" data-target='.monitoringAccord' id="monitoringAccord_title">
														<span class="panel-title"> Monitoring Options</span> <span class='asterix' data-toggle="tooltip"
																title='Tick at least one box'>*</span> <span class='collapsed-content-info'></span>
												</div>

												<div class="panel-body collapse in monitoringAccord">
														<div class="form-group">
																<div class="col-md-1"></div>

																<div class="col-md-10">
																		<div class='validation' id='monitoring-validation'>Either self-monitor or request volunteers.</div>

																		<div class="checkbox">
																				<label class="checkbox-inline" for="self-monitors"><input accesskey="m" id='self-monitor'
																						name="self-monitor" tabindex="5" type="checkbox" checked='checked' value="true"> Self Monitor</label> <span
																						class="help-block">Notify me each time there are new images of my area. I can review images.</span>
																		</div>

																		<div class="checkbox">
																				<label class="checkbox-inline" for="request-volunteers"><input accesskey="v" id='request-volunteers'
																						name="request-volunteers" tabindex="6" type="checkbox" checked='checked' value="true"> Community
																						monitoring</label> <span class="help-block">Ask Volunteers to help monitor my area. I don't have the
																						ability to monitor images for changes. </span>
																		</div>

																</div>
														</div>

												</div>
										</div>

										<!-- Agreement Undertaking -->
										<div class="panel">
												<div class="panel-heading" data-toggle="collapse" data-target='.agreementAccord' id="agreementAccord_title">
														<span class="panel-title"> Agree to Monitor</span> <span class='asterix' data-toggle="tooltip"
																title='You must agree to investigate disturbances to request volunteers'> *</span> <span
																class='collapsed-content-info'></span>
												</div>

												<div class="panel-body collapse in agreementAccord">
														<div class="form-group">
																<div class="col-md-1"></div>
																<div class="col-md-6">
																		<div class='validation' id='accept-validation'>To register an area you must agree to investigate reports
																				in your area.</div>
																		<label class="checkbox-inline" for="accept"><input accesskey="" id="accept" name="accept" tabindex="7"
																				type="checkbox" value="true"> I agree to check disturbance reports created by volunteers for this
																				area</label>
																</div>
														</div>
												</div>
												<!-- NEXT -->
												<div class="panel-footer ">
														<div class="form-group row" id='next-subform'>
																<div class='col-md-1'></div>
																<div class='col-md-10'>
																		<div class="help-block" id='form-errors'></div>
																		<button accesskey="x" class="btn btn-default btn-form-ctrl" id="next-area" name="next-area" tabindex="8">Next</button>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
						<!-- end info-tab -->

						<!-- LOCATE-TAB-->
						<div class="tab-pane fade disable" id="locate-tab-body">

								<!-- Help Locate your Area -->
								<div class="panel-group">
										<div id='locate-area-legend'>
												<div class='form-legend'>
														Locate Area
														<!-- <span class="glyphicon glyphicon-question-sign" ></span> -->
												</div>
										</div>

										<!-- Help Locate accordion -->

										<div class="panel panel-collapse collapse in" id='subform-find-help'>
												<div class="panel-heading">
														<div class='panel-title' data-toggle="collapse" data-target=".find-panel">Find your area</div>
														<div class='framing-sub-help  find-panel'>Jump to you current location or a place name</div>
												</div>
												<div class="panel-body  find-panel">
														<div class="row">
																<div class="col-md-1"></div>
																<div class="col-md-3 form-group">
																		<label class="control-label">My Forest is here</label>
																		<button class="btn btn-default" id="zoom-here" name="zoom-here">Use Current Location</button>
																		<p class="help-block" id='zoom-here-help'>Click if your forest is near you now.</p>
																</div>

																<div class="col-md-7 form-group">
																		<label class="control-label" for='searchbox_id'>Find by name</label> <input class="form-control input-md"
																				id="searchbox_id" name="searchinput" placeholder="Enter name of a place near your area" type="text">

																		<p class="help-block">Map will zoom to that place</p>
																</div>

																<div class="col-md-1"></div>
														</div>
												</div>
										</div>

										<!-- DROP PIN CONTROL PANEL -->
										<div class="panel " id='subform-dropmark'>
												<div class="panel-heading">
														<div class='panel-title'>Drop Marker</div>
														<div class='framing-sub-help'>Place a marker on the map to show where your area is</div>
												</div>

												<div class="panel-body locate-panel">
														<div class='row'>
																<!-- INSTRUCTIONS  ROW -->
																<div class="col-md-1"></div>
																<div class="col-md-6">

																		<label class='drag-only'> <a class="popup" data-placement="bottom" data-target='#zoom-help-popover'
																				data-toggle="popover-x" data-trigger='hover' id="zoom-help">Zoom</a> and <a class="popup"
																				data-target='#drag-help-popover' data-toggle="popover-x" data-trigger='hover click' id="drag-help">Drag</a>
																				the map so it shows your area. Then click <i>Drop Marker</i>.
																		</label> <label class='drop-only'>Click on the map to drop a marker on your area.</label>
																		<div class='framing-sub-help drop-only'>It can be dropped anywhere within your area.</div>

																		<label class='save-only'> If red marker is in your area click <i>Save</i>.
																		</label>
																		<div class='framing-sub-help save-only'>
																				Otherwise click <i>Clear</i> and try again.
																		</div>
																		<div class='popover popover-info' id="zoom-help-popover">
																				<div class="arrow"></div>
																				<h3 class="popover-title">Zooming</h3>
																				<div class="popover-content">
																						To zoom in more <b>Double Click</b> near your area on the map.<br> Or use the zoom slider on the left
																						side of the map.
																				</div>
																				<div class="popover-footer">
																						<button class="btn btn-sm btn-info" id='zoom-help-popover-close'>Close</button>
																				</div>
																		</div>
																		<div class='popover popover-info' id="drag-help-popover">
																				<div class="arrow"></div>
																				<h3 class="popover-title">Moving the Map</h3>
																				<div class="popover-content">
																						To drag the map <b>Click and Hold</b> the mouse over the map.<br> Or use the arrows on the top left
																						corner of the map.
																				</div>
																				<div class="popover-footer">
																						<button class="btn btn-sm btn-info" id='drag-help-popover-close'>Close</button>
																				</div>
																		</div>
																</div>
														</div>
												</div>
												<!-- BUTTONS ROW -->
												<div class="panel-footer " id='buttons'>
														<div class='row'>
																<div class="col-md-1"></div>
																<div class="col-md-2 ">
																		<button class="btn btn-primary drag-only" data-placement="top" data-target='#zoom-more-popover'
																				data-toggle="popover-x" id="drop-pin-mode" name="drop-pin">
																				Drop marker<span class="glyphicon glyphicon glyphicon-map-marker" style='color: #FA7063'></span>
																		</button>
																		<button class="btn btn-primary save-only" id="save-area" name="save-area">
																				Save <span class="glyphicon glyphicon glyphicon-save" style='color: #FA7063'></span>
																		</button>
																		<div class='popover popover-info' data-toggle="popover-x" id="zoom-more-popover">
																				<div class="arrow"></div>
																				<h3 class="popover-title">Zoom in closer !</h3>
																				<div class="popover-content">
																						To place a mark accurately you must zoom in more.<br> <b>Double Click</b> near your area on the map
																						to zoom in more.<br> Or use the zoom slider on the left side of the map.
																				</div>
																				<div class="popover-footer">
																						<button class="btn btn-sm btn-info" id='zoom-more-popover-close'>Close</button>
																				</div>
																		</div>

																		<div class='popover popover-info popover-md hidden-panel' data-placement='right'
																				data-target='#save-wait-popover1' data-toggle="popover-x" id="save-wait-popover">
																				<div class="arrow" id='save-wait-popover1'></div>

																				<h3 class="popover-title">Saving Area</h3>

																				<div class="popover-content">
																						Saving your area now.<br /> <img src='/static/img/ajax-loader.gif' class='ajax-loader' alt="" />
																				</div>

																				<div class="popover-footer">
																						<button class="btn btn-sm btn-default" id='close-dialog-save-area-wait'>OK</button>
																				</div>
																		</div>
																</div>
																<div class="col-md-1"></div>
																<div class="col-md-2">
																		<button class="btn btn-small drop-only" data-toggle="tooltip" id="move-map-mode" name="move-map-mode"
																				title="Change map's center view">
																				<i></i>Move Map<i></i><span class="glyphicon glyphicon glyphicon-hand-up" style='color: #FA7063'></span>
																		</button>
																		<button class="btn btn-small save-only" data-toggle="tooltip" id="clear-map" name="clear-map"
																				title="Clears marker to try again">
																				Clear <span class="glyphicon glyphicon glyphicon-erase" style='color: #FA7063'></span>
																		</button>
																</div>
																<div class="col-md-1"></div>
																<div class='col-md-1 hidden-panel' id='landsat-control'>
																		<!--  LANDSAT GRID CONROL IS NOT DISPLAYED -->
																		<input checked id="landsat-grid" type="checkbox" value='true'> <label><span
																				class="glyphicon glyphicon-th" data-toggle="tooltip" style='color: #234196'
																				title="Show grid of the shape of Landsat images"></span></label>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>

						{#
						<!-- BOUNDARY TAB-->
						#}

						<div class="tab-pane fade {% if edit_boundary %} in active {%endif %}" id="boundary-tab-body">
								<div class='form-legend'>Add Boundary</div>
								<div class="panel-group">
										{#
										<!-- SET DEFAULT VIEW -->
										#}
										<div class="panel panel-collapse in collapse">
												<div class="panel-heading panel-title" data-toggle="collapse" data-target=".adjust-view">Change Default View</div>

												<div class="panel-body adjust-view">
														<div class='framing-sub-help'>This sets the initial map center and zoom to view your area.</div>
														<div class='framing-sub-help'>
																<a class="popup" data-target='#drag-help-popover' data-toggle="popover-x" data-trigger='click' id="drag-help">Drag</a>
																the map below until your area is at the center of the map. <br /> <a class="popup" data-placement="right"
																		data-target='#zoom-help-popover' data-toggle="popover-x" data-trigger='click' id="zoom-help">Zoom</a> in so
																your area covers a large part of the map or <br /> Zoom out if the whole area can't be seen on the map.<br />
																<i>Save View</i> will save this as the default view for your area.
														</div>
														<br />
												</div>
												<div class="panel-footer adjust-view">
														<div class='row'>
																<div class='col-md-1'></div>
																<div class='col-md-10'>
																		<button class="btn btn-primary btn-form-ctrl" id="save-view" accesskey="v">
																				<b>Save View</b>
																		</button>
																</div>
																<br />
														</div>
												</div>

										</div>

										{#
										<!-- BOUNDARY INPUT METHOD-->
										#}
										<div class="panel">
												<div class="panel-heading" data-toggle="collapse" data-target=".select-method">
														<div class='panel-title'>Define the Boundary of your area</div>
														<div class='framing-sub-help select-method'>
																Your area needs a boundary to define its size and shape. <br /> A boundary ensures all overlapping satelite
																images are checked and let's volunteers know where the borders are.<br />
														</div>
												</div>

												{#
												<!-- { % DRAW OR IMPORT % } -->
												#}
												<div class='panel-body collapsible in select-method'>
														<div class='framing-help'>
																Draw a boundary around your area or import it from external data?<br />
														</div>

														<div class="row form-group">
																<div class="col-md-1"></div>
																<div class="col-md-6">
																		<div class="radio">
																				<label for="private"><input accesskey="d" name="opt-boundary" type="radio" value="drawborder">
																						Draw boundary now </label>
																		</div>
																		<span class="help-block"> Draw a shape around your area on the map. <br />If you're not sure of the
																				exact boundary, just draw an approximate one.
																		</span>
																		<div class="radio">
																				<label for="public"><input accesskey="i" name="opt-boundary" type="radio" value="import">
																						Import Boundary</label>
																		</div>
																		<span class="help-block">Import boundary from external data. </span>
																</div>
														</div>
												</div>

												<div class="panel-body">
														<div class="row form-group importing">
																<div class="col-md-1"></div>
																<div class="col-md-6">

																		<div class="radio">
																				<label for="public"><input accesskey="g" name="opt-import" type="radio" value="geojson">
																						Import GeoJSON</label>
																		</div>
																		<span class="help-block">Import boundary from a <a href="http://geojson.org">GeoJSON</a> file.
																		</span>

																		<div class="radio">
																				<label for="unlisted"><input accesskey="f" name="opt-import" type="radio" value="fusion">
																						Import Fusion Table</label>
																		</div>
																		<span class="help-block">Import boundary from a <a href="http://tables.googlelabs.com">fusion table</a></span>
																</div>
														</div>
												</div>
										</div>

										<div class="panel ">
												<div class='panel-heading panel-title drawborder'>Draw a boundary</div>
												<div class='panel-heading panel-title importing'>Import area boundary</div>

												<div class='panel-body drawborder'>
														<span class='instruction draw-start'> Click on a starting point anywhere on the boundary of your area. <br />
																Then move around your area in an <b>anticlockwise</b> direction. <br />
														</span> <span class='instruction draw-second'> Click on the next point. </span> <span class='instruction'
																id='draw-finish'> When you return to the start, click on the first point.<br /> Click Clear to start
																again. <br />
														</span> <span class='instruction edit-shape'> Adjust the shape by dragging the small circles.<br /> Click <b>
														      Save Boundary </b> or <i>Clear</i> to start again. <br /></span>
												</div>
												<div class="panel-body collapse importing">
														<div class="framing-help geojson">
																Drop a GeoJSON file directly onto the map <br />or paste it into the editor
														</div>
														<div class="panel-title framing-help fusion">Fusion Table Id</div>
														<div class="panel-title framing-sub-help fusion">
																The fusion table must be public to be imported by this app.<br /> Copy <b>Id</b> from table in your Google
																Drive. Displayed in File-About. Only the outer boundary will be imported.<br />
														</div>
														<div class="form-group fusion">

																<label class="col-md-4 control-label" for="fusion_id">Fusion Table Id</label>

																<div class="col-md-4">
																		<input accesskey="f" class="form-control input-md" id="fusion_id" name="fusion_id" placeholder="" type="text">
																		<span class="help-block">Enter the key or id</span>
																</div>
														</div>
												</div>
												{#
												<!-- IMPORT FUSION OR GEOJSON-->
												#}
												<div class="panel-footer save-ctrls">
														<div class="row save-ctrls">
																<div class='col-md-2'>
																		<button class="btn btn-primary" id="save-boundary" name="save-boundary">
																				Save Boundary <span class="glyphicon glyphicon glyphicon-save" style='color: #FA7063'></span>
																		</button>

																		<div class='popover popover-info popover-md hidden-panel' data-placement='right'
																				data-toggle="popover-x" id="save-boundary-popover">
																				<div class="arrow" id='save-boundary-popover1'></div>
																				<div class="popover-content">
																						Saving<br /> <img src='/static/img/ajax-loader.gif' class='ajax-loader' alt="" />
																				</div>

																				<div class="popover-footer">
																						<button class="btn btn-sm btn-default" id='close-dialog-save-boundary'>OK</button>
																				</div>
																		</div>
																</div>
                                                                <div class='col-md-2'>
                                                                        <button class="btn btn-default" id="undo-edits" name="undo-edits">
                                                                                Undo<span class="glyphicon glyphicon-remove-sign" style='color: #CCCCCC'></span>
                                                                        </button>
                                                                </div>
																<div class='col-md-2'>
																		<button class="btn btn-default" id="clear-boundary" name="clear-boundary">
																				Clear <span class="glyphicon glyphicon glyphicon-trash" style='color: #FA7063'></span>
																		</button>
																</div>
                                                                <div class='col-md-2'>
                                                                        <button class="btn btn-default" id="import-boundary" name="import-boundary">
                                                                                Import <span class="glyphicon glyphicon glyphicon-import" style='color: #FA7063'></span>
                                                                        </button>
                                                                </div>
                                                                <div class='col-md-2'>
                                                                        <button class="btn btn-default" id="change-view" name="change-view">
                                                                                <span class="locked" ><span class="glyphicon glyphicon-lock locked">Change View</span></span>
                                                                                <span class="unlocked"><span class="glyphicon unlocked glyphicon-screenshot ">Save View</span></span>
                                                                        </button>
                                                                </div>
                                                                <div class="col-md-1">
																		 <img id='advanced' src="/static/img/gear-icon.png" alt="Advanced" style="width: 20px; height: 20px">
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>

						<!-- DESCRIPTION TAB -->
						<div class="tab-pane fade" id="descr-tab-body">
								<!--  DESCRIPTION  TAB -->
								<div class='row' id='description-form'>
										<div class='form-legend'>Area description</div>

										<div class="panel-group">
												<div class="panel panel-collapse collapse in" id="descriptionAccord">
														<div class="panel-heading panel-title" data-toggle="collapse" data-parent="#options-accordion"
																data-target="#descriptionAccord">Describe your area</div>
														<div class='panel-body'>
																<div class="framing-help" data-target="#add-a-description-legend">Tell others why you are monitoring it.</div>
																<div class="panel-title framing-sub-help">You can skip this step and update the description later.</div>

																<div class='panel-footer row'>
																		<div class='col-md-1'></div>
																		<div class='col-md-3'>
																				<button class="btn btn-sm btn-default  btn-form-ctrl" id="skip-description" data-toggle="collapse"
																						data-parent="#options-accordion" data-target="#descriptionAccord" accesskey="k">Skip</button>
																		</div>
																</div>
														</div>
														<!--  INNER ACCORDION -->
														{% include "includes/area-description.html" %}

												</div>

										</div>
								</div>

						</div>
				</div>

				<div class="row">

						<div class="row hidden-panel" id='scroll-to-here'></div>


						<!-- MAP PANEL (MAY ALSO SHOW  EDITOR)-->
						<div class="row" id='map-row hidden-panel'>

								<div class='col-md-12 nopadding' id='map-column'>
										<div class='map-canvas' id='map-canvas-c'>
												<div id="drop-container">
														<div id="drop-silhouette"></div>
												</div>


												<div id="map-canvas"></div>
										</div>
								</div>


								<div class='col-md-3 nopadding hidden-panel' id='geojson-column'>

										<!--  GeoJSON -->
										<div class='extended-content-container' id='geojson-editor'>
												<div id='geojson-panel'>
														<div class='help-block' id="geojson-controls">
																<div id="panel-title">Edit GeoJSON</div>
																<a class="btn btn-sm btn-default" id="select-all">Select All</a> <a class="btn btn-sm btn-default"
																		download="my_area.json" href="data:;base64," id="download-link">Download<span
																		class="glyphicon glyphicon glyphicon-download-alt" style='color: #FA7063'></span></a>
														</div>

														<textarea cols="" id="geojson-input" placeholder="Drag GeoJSON to map" rows="">
</textarea>
												</div>
										</div>

								</div>
						</div>



						<div class="control-group">
								<div class="controls">
										<input id="coordinates_id" name="coordinates" type="hidden" value="undefined">
								</div>


								<div class="map-panel-fusiontable hidden-panel" id="fusiontable-form-c">
										<label class="control-label map-panel-controls" data-toggle="tooltip" for="boundary_ft"
												title="If your area's boundary is already in a fusion table, link to it here.">Fusion Table Id: <span
												style="color: #ff0000">*</span>
										</label> <input class="map-panel-controls" id="boundary_ft" name="boundary_ft" type="text">
								</div>


								<div id="boundary-instructions" class='hidden-panel'></div>
						</div>


						<form action=""></form>
				</div>


				{% include "includes/project_scripts.html" %} {% include "includes/map_scripts.html" %}

				<script src="/static/js/vendor/codemirror.js" type="text/javascript"></script>
				<!-- geojson editor -->
				<script src="/static/js/vendor/javascript.js" type="text/javascript"></script>
				<!-- Context highlighting for json in editor -->
				<script src="/static/js/vendor/simplescrollbars.js" type="text/javascript"></script>
				<!-- for editor -->
				<script src="/static/js/vendor/placeholder.js" type="text/javascript"></script>
				<!-- for editor -->

				<script src="/static/js/vendor/lint.js" type="text/javascript"></script>
				<!-- addon for editor -->
				<script src="/static/js/vendor/geojsonhint.js" type="text/javascript"></script>
				<!-- parses geojson-->
				<script src="/static/js/vendor/jsonlint-min.js" type="text/javascript"></script>
				<!-- parses json can remove min to debug-->
				<script src="/static/js/geojson-lint.js" type="text/javascript"></script>
				<!-- addon connects lint to editor -->

				<script src="/static/js/new-area.js" type="text/javascript" defer>
					
				</script>
				<script type="text/javascript" src="/static/js/area-description.js" defer></script>

				{% endblock %} {% block footer_js%} {% endblock footer_js %}

				<div></div>
		</div>
</div>