{% extends "base.html" %} {% block content %}
  <div class="container" style='margin-bottom: 0'>
    <div class="page-header">
      <h1>Welcome</h1>
      {% if role=='volunteer' %}
        <p>Thanks for signing up to be a Bunjil Forest Watcher!</p>
        <p>There's just a few more steps to complete your registration.</p>
      {% elif role=='local' %}
        <p>Thanks for signing up to Bunjil Forest Watch.</p>
        <p>There's just a few more steps to complete before Bunjil will start monitoring your forest.</p>
      {% else %}
        <p>Thank's for signing up to be a Bunjil Forest Watcher!</p>
        <p>There's just a few more steps to complete your registration.</p>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-xs-8">
        <h4>Choose a Username</h4>
        <p>Your username is how other forest watchers will recognize you. Your real name
          and email are hidden</p>
        <p>You can use your first or last name if you want. Spaces are not allowed.
          <form class="form-horizontal" method="POST" action="{{ "register"|url }}">
            <fieldset>
              <div class="control-group{% if errors.username %} error{% endif %}">
                <label class="control-label" for="username">username <span style="color: #ff0000"> *</span></label>
                <div class="controls">
                  <input class="input-large" id="username" name="username" type="text" value="{{ username.decode('utf-8') }}"> {% if
							errors.username %}<span style="color: #ff0000" class="help-inline">{{ errors.username }}</span>{% endif %}
                </div>
              </div>
              {% if role=='volunteer' %}
                 <div class="radio" id='optionsRadios2' value="volunteer" checked='true'>
                    <label for="optionsRadios1"><input accesskey="v" name="roleoptionsRadios" tabindex="2" type="radio"
                                                       value="volunteer"
                                                       onClick="document.getElementById('submit1').disabled = false;
					            document.getElementById('submit1').removeAttribute('disabled');">
                      <b>Volunteer</b> - I want to help locals in remote
                      areas to protect their forest. I can volunteer time.</label>
                  </div>
              {% elif role=='local' %}
                <div class="radio" id='optionsRadios1' value="local" checked='true'>
                    <label for="optionsRadios1"><input accesskey="l" name="roleoptionsRadios" tabindex="1" type="radio"
                                                       value="local"
                                                       onClick="
                                                         document.getElementById('submit1').disabled = false;
                                                         document.getElementById('submit1').removeAttribute('disabled');">
                      <b>Local</b> - I look after a nearby
                      forest. Please alert me when anything changes.</label>
                  </div>
              {% else %}
                <h4>Are you protecting a local forest or volunteering to help others?</h4>
                <label class="control-label" for="role"><b>Select your main role </b><span
                    style="color: #ff0000"> *</span></label>
                <div class="control-group">
                <div class="controls">
                  <div class="radio" id='optionsRadios1' value="local" unchecked='false'>
                    <label for="optionsRadios1"><input accesskey="l" name="roleoptionsRadios" tabindex="1" type="radio"
                                                       value="local"
                                                       onClick="
                                                         document.getElementById('submit1').disabled = false;
                                                         document.getElementById('submit1').removeAttribute('disabled');">
                      <b>Local</b> - I look after a nearby
                      forest. Please alert me when anything changes.</label>
                  </div>
                  <div class="radio" id='optionsRadios2' value="volunteer" unchecked='false'>
                    <label for="optionsRadios1"><input accesskey="v" name="roleoptionsRadios" tabindex="2" type="radio"
                                                       value="volunteer"
                                                       onClick="document.getElementById('submit1').disabled = false;
					            document.getElementById('submit1').removeAttribute('disabled');">
                      <b>Volunteer</b> - I want to help locals in remote
                      areas to protect their forest. I can volunteer time.</label>
                  </div>
                </div>
              {% endif %}

              <div class="form-actions">
        <p></p>
        <input id="submit1" type="submit"    {% if role!='volunteer' and role!='local' %} disabled {% endif %}
               class="btn btn-primary"
               name="submit" value="Register">
        <hr>
        <br/><br/>
        </fieldset>
        </form>
      </div>
    </div>
  </div>


{% endblock %}
