{% extends "base.html" %}
{% block content %}
  <p>
    <ul class="breadcrumb">
        <li class="active"><a href="{{ "user"|url(user.name) }}">{{ user.name }}</a></li>
    </ul>
    </p>
 	<div class="row">
		<div class="span6">
			<table class="table">
				<tr><td>{% if u.role =="volunteer" %}<tr><td>User Type: Volunteer</td></tr>{% endif %}
				<tr><td>{% if u.role =="local" %}<tr><td>User Type: Local Group</td></tr>{% endif %}
				<tr><td>Member since</td><td>{{ u.register_date|sdate }}</td></tr>
				<tr><td>Areas observing</td><td>{{ u.areas_observing}}</td></tr>
				<tr><td>Areas subscribed </td><td>{{ u.areas_observing}}</td></tr>
				<tr><td>Journals</td><td>{{ u.journal_count }}</td></tr>
				<tr><td>Reports</td><td>{{ u.entry_count }}</td></tr>
				{% if u.last_entry %}<tr><td>Last observation task</td><td>{{ u.last_entry|sdate }}</td></tr>{% endif %}
				{% if u.first_entry %}<tr><td>Last report</td><td>{{ u.first_entry|sdate }}</td></tr>{% endif %}
			</table>
		</div>

		<div class="span6">
			<div class="row">
				<div class="span2">
					<img src="{{ u.gravatar(50) }}" alt="{{ u }}">
				</div>

				<div class="span2 offset2">
					{% if user and not thisuser %}
						{% if not is_following %}
							<a href="{{ "follow"|url(u.name) }}" class="btn">follow</a>
						{% else %}
							<a href="{{ "follow"|url(u.name) }}?unfollow" class="btn">unfollow</a>
						{% endif %}
					{% endif %}
					{% if thisuser %}
						<a href="{{ "new-journal"|url }}" class="btn btn-primary">new journal</a>
					{% endif %}
				</div>
			</div>

			<div class="row">
				<div class="span6">
					<h1></h1>
				</div>
			</div>

			<div class="row">
				<div class="span2">
					<h2>{{ u.journal_count }}</h2>
					<span>journal{{ u.journal_count|pluralize }}</span>
				</div>
				<div class="span2">
					<h2>{{ u.area_count }}</h2>
					<span>journal{{ u.area_count|pluralize }}</span>
				</div>
				<div class="span2">
					<h2>{{ followers|length }}</h2>
					<span>follower{{ followers|length|pluralize }}</span>
				</div>
				<div class="span2">
					<h2>{{ following|length }}</h2>
					<span>following</span>
				</div>
			</div>

			<div class="row">
				<div class="span6">
					<h1></h1>
				</div>
			</div>

			<div class="row">
				<div class="span6">
					<h3><a href="{{ "following"|url(u.name) }}">{{ u.name }}'s following</a></h3>
				</div>
			</div>

		</div>
	</div>

	<hr>
	<div class="row">
		<div class="span6">
			<h3>{{ u }}'s areas</h3>
			{% include "areas.html" %}
		</div>
	</div>
	
	<div class="row">
		<div class="span6">
			<h3>{{ u }}'s journals</h3>

			{% include "journals.html" %}
		</div>

		<div class="span6">
			<h3>activity <small><a href="{{ "user-feeds"|url(u.name) }}"><img src="/static/images/feed.png" class="feed-img" alt="feed">rss feed</a></small></h3>
			{% for a in activities %}
				<p>{% if a.img %}<img src="{{ a.img }}" alt="{{ a.user }}"> {% endif %}<a href="{{ "user"|url(a.user) }}">{{ a.user }}</a> {{ a.get_action()|safe }} {{ a.date|timesince }}</p>
			{% endfor %}
		</div>
	</div>
	
	

{% endblock %}
