{% extends "base.html" %}

<!-- View and Manage Areas - from 'my areas' from the menu -->
{% block content %}
   <p>
    <ul class="breadcrumb">
        <li><a href="{{ "user"|url(user.name) }}">{{ user.name }}</a>  <span
            class="divider">/</span></li>
        <li class="active">home (role: {{user.role}})</li>
    </ul>
    </p>
<div class="container">
<div class="row">
   <div class="col-md-4"><pre>
                {% if not areas %}
                    You don't have any areas yet.
                {% else %}
                    {% include "areas.html" %}
                {% endif %}
                </pre><a href="{{ "new-area"|url}}" class="btn btn-lightblue">Create new area</a></div>
   <div class="col-md-4"><pre>
                {% if not all_areas %}
                    You don't have any areas yet.
                {% else %}
                    {% include "allareas.html" %}
                {% endif %} 
                </pre>           
  </div>   
</div>
</div>

{% endblock %}
