{% extends "base.html" %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% block content %}
<div class="container">
    {% if show_navbar %} 
    <div>
        <p>
            <ul class="breadcrumb">
                <li><a href="{{ "user"|url(username) }}">{{ username.name }}</a> </li>
                <li class="active">observation tasks</li>
            </ul>
         </p>
     </div>
    {% endif %}
    {% if user2view != None %}        
        <h3>Recent Observation Tasks</h3>
        <p>Tasks for <a href="{{ "user"|url(username) }}">{{ username }}</a> </h3>
    {% elif area_name != None %}        
        <h3>Recent Observation Tasks for <em>{{area_name }}</em></h3>
    {% else %}
        <h3>Recent Observation Tasks</h3>
    {% endif %}
    {% if obstasks %}        
    {% for e in obstasks %}
       <div class="well">
      {{ e|safe }}
       </div>
    {% endfor %}
    <div>
    
    {% if show_navbar %}
     <ul class="pagination">
            <li class="prev"><a href="{{ tasks| obstasks_url(user2view, area_name, 0) }}">first</a></li>
            {% if page == 1 %}
                <li class="disabled"><a href="#">&larr; previous</a></li>
            {% else %}
                <li><a href="{{ tasks |obstasks_prev(user2view, area_name, page ) }}">&larr; previous</a></li>
            {% endif %}

            {% for p in pagelist %}
                <li{% if p  == page %} class="active"{% endif %}><a href="{{  tasks|obstasks_url(user2view, area_name, p) }}">{{ p }}</a></li>
            {% endfor %}

            {% if page == pages %}
                <li class="disabled"><a href="#">next &rarr;</a></li>
            {% else %}
                <li><a href="{{ tasks|obstasks_next(user2view, area_name, page) }}">next &rarr;</a></li>
            {% endif %}

            <li class="next"><a href="{{ tasks |obstasks_url(user2view, area_name,pages) }}">last</a></li>
        </ul>
         {% endif %}
    </div>  
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <p>No Tasks found.</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
