{% extends "base.html" %} {% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
html {
	height: 100%
}

body {
	height: 100%;
	margin: 10;
	padding: 10
}

#map-canvas {
	height: 100%
}
</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxcijg13r2SNlryEcmi_XXxZ9sO4rpr8I&sensor=true"> </script>
<script type="text/javascript" src="/static/js/ExtDraggableObject.js"></script>	
<script type="text/javascript" src="/static/js/CustomTileOverlay.js"></script>
<script type="text/javascript" src="/static/js/polygon-outliner.js"></script>

<script>
var OPACITY_MAX_PIXELS = 57; // Width of opacity control image
var map, overlay;
var map_id;
var colors = ['#FF0000', '#00FF00', '#0000FF', '#FFFF00'];
var map;
var initialOpacity = 100;
var gridLayer;

function createOpacityControl(map, opacity) {
	var sliderImageUrl = "/static/img/opacity-slider3d7.png";
	
	// Create main div to hold the control.
	var opacityDiv = document.createElement('DIV');
	opacityDiv.setAttribute("style", "topmargin=0;margin:5px;overflow-x:hidden;overflow-y:hidden;background:url(" + sliderImageUrl + ") no-repeat;width:71px;height:42px;cursor:pointer;");
	
	// Create knob
	var opacityKnobDiv = document.createElement('DIV');
	opacityKnobDiv.setAttribute("style", "padding:0;margin:0;overflow-x:hidden;overflow-y:hidden;background:url(" + sliderImageUrl + ") no-repeat -71px 0;width:14px;height:21px;");
	opacityDiv.appendChild(opacityKnobDiv);

	var opacityCtrlKnob = new ExtDraggableObject(opacityKnobDiv, {
		restrictY: true,
		container: opacityDiv
	});

	////Create Label (CG Mods) 
	var opacityLabelDiv = document.createElement('DIV');
	opacityLabelDiv.setAttribute("style", "text-align:bottom;position:relative;left:0px;bottom:0px;width:71px;height:42px;");
	opacityLabelDiv.setAttribute('onselectstart', "return false");
	//opacityLabelDiv.setAttribute("disabled", "disabled");
	var opacityLabelText = document.createTextNode("OverlayName");
	//opacityLabelText.setAttribute('onselectstart', "return false");
	opacityLabelDiv.appendChild(opacityLabelText);
	
	opacityDiv.appendChild(opacityLabelDiv);
	
	
	google.maps.event.addListener(opacityCtrlKnob, "dragend", function () {
		setOpacity(opacityCtrlKnob.valueX());
	});

	google.maps.event.addDomListener(opacityDiv, "click", function (e) {
		var left = findPosLeft(this);
		var x = e.pageX - left - 5; // - 5 as we're using a margin of 5px on the div
		opacityCtrlKnob.setValueX(x);
		setOpacity(x);
	});

	map.controls[google.maps.ControlPosition.TOP_RIGHT].push(opacityDiv);
	

	//map.controls[google.maps.ControlPosition.TOP_RIGHT].name = 'NewName';
	
	// Set initial value
	var initialValue = OPACITY_MAX_PIXELS / (100 / opacity);
	opacityCtrlKnob.setValueX(initialValue);
	setOpacity(initialValue);
}

function setOpacity(pixelX) {
	// Range = 0 to OPACITY_MAX_PIXELS
	var value = (100 / OPACITY_MAX_PIXELS) * pixelX;
	if (value < 0) value = 0;
	if (value == 0) {
		if (overlay.visible == true) {
			overlay.hide();
		}
	}
	else {
		overlay.setOpacity(value);
		if (overlay.visible == false) {
			overlay.show();
		}
	}
}

function findPosLeft(obj) { //for slider
	var curleft = 0;
	if (obj.offsetParent) {
		do {
			curleft += obj.offsetLeft;
		} while (obj = obj.offsetParent);
		return curleft;
	}
	return undefined;
}

function drawMap(data) {
    var rows = data['rows'];
    for (var i in rows) {
      if (rows[i][0] != 'Antarctica') {
        var newCoordinates = [];
        var geometries = rows[i][1]['geometries'];
        if (geometries) {
          for (var j in geometries) {
            newCoordinates.push(constructNewCoordinates(geometries[j]));
          }
        } else {
          newCoordinates = constructNewCoordinates(rows[i][1]['geometry']);
        }
        var randomnumber = Math.floor(Math.random() * 4);
        var country = new google.maps.Polygon({
          paths: newCoordinates,
          strokeColor: colors[randomnumber],
          strokeOpacity: 0,
          strokeWeight: 1,
          fillColor: colors[randomnumber],
          fillOpacity: 0.3
        });
        google.maps.event.addListener(country, 'mouseover', function() {
          this.setOptions({fillOpacity: 1});
        });
        google.maps.event.addListener(country, 'mouseout', function() {
          this.setOptions({fillOpacity: 0.3});
        });

        country.setMap(map);
      }
    }
  }

  function constructNewCoordinates(polygon) {
    var newCoordinates = [];
    var coordinates = polygon['coordinates'][0];
    for (var i in coordinates) {
      newCoordinates.push(
          new google.maps.LatLng(coordinates[i][1], coordinates[i][0]));
    }
    return newCoordinates;
  }


function initialize() {
        
        var mapOptions = {
				//zoom: 13,
				zoom: {{ area.map_zoom }},
				center: new google.maps.LatLng({{area.map_center}}),
		        //center: new google.maps.LatLng(-42.8598, 171.8043),
				mapTypeId: google.maps.MapTypeId.HYBRID,
				panControl:true,
				zoomControl:true,
				mapTypeControl:true,
				scaleControl:true,
				streetViewControl:false,
				overviewMapControl:false,
				rotateControl:false
			}
        
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        
        
        // Initialize JSONP request
        var script = document.createElement('script');
        var url = ['https://www.googleapis.com/fusiontables/v1/query?'];
        url.push('sql=');
        var query = 'SELECT name, kml_4326 FROM ' +
            '1foc3xO9DyfSIF6ofvN0kp2bxSfSeKog5FbdWdQ';
        var encodedQuery = encodeURIComponent(query);
        url.push(encodedQuery);
        url.push('&callback=drawMap');
        url.push('&key=AIzaSyAm9yWCV7JPCTHCJut8whOjARd7pwROFDQ');
        script.src = url.join('');
        var body = document.getElementsByTagName('body')[0];
        body.appendChild(script);

        
        //NZ TOPO LAYER WITH SLIDER
		overlay = new CustomTileOverlay(map, initialOpacity);
		//overlay.show();

		google.maps.event.addListener(map, 'tilesloaded', function () {
			overlay.deleteHiddenTiles(map.getZoom());
		});

		// Add opacity control and set initial value
		createOpacityControl(map, initialOpacity);
        
        var infoWindow = new google.maps.InfoWindow();	

        
////////////////////////https://developers.google.com/fusiontables/docs/samples/mouseover_map_styles
       

        function initialize() {
       
         
          // Initialize JSONP request
          var script = document.createElement('script');
          var url = ['https://www.googleapis.com/fusiontables/v1/query?'];
          url.push('sql=');
          var query = 'SELECT name, kml_4326 FROM ' +
              '1foc3xO9DyfSIF6ofvN0kp2bxSfSeKog5FbdWdQ';
          var encodedQuery = encodeURIComponent(query);
          url.push(encodedQuery);
          url.push('&callback=drawMap');
          url.push('&key=AIzaSyAm9yWCV7JPCTHCJut8whOjARd7pwROFDQ');
          script.src = url.join('');
          var body = document.getElementsByTagName('body')[0];
          body.appendChild(script);
        }

   
        google.maps.event.addDomListener(window, 'load', initialize);
      ////////////////////////https://developers.google.com/fusiontables/docs/samples/mouseover_map_styles
        
//        // Initialize the Landsat Grid layer  
//        
//         var dynamicLayer = new google.maps.visualization.DynamicMapsEngineLayer({
//     		layerId: '06673056454046135537-08896501997766553811', // 	1kSWksPYW7NM6QsC_wnCuuXO7giU-5ycxJb2EUt8	06673056454046135537-08896501997766553811
//     		map: map,
//     		suppressInfoWindows: true,
//     		clickable: true
//   		});
        
//         gridLayer = new google.maps.FusionTablesLayer({
//           query: {
//             select: 'geometry',
//             from: '1kSWksPYW7NM6QsC_wnCuuXO7giU-5ycxJb2EUt8',
//             where: 'name CONTAINS "74_90"'
//           },
//           styles: [{
//         	  where: 'name CONTAINS "74_91"',
//               polygonOptions: {
//                 fillColor: '#00FF00',
//                 fillOpacity: 0.04
//               },
//           },
//              {
//               where: 'name == 74_90',
//               polygonOptions: {
//                 fillColor: '#000080',
//                 fillOpacity: 0.5
//               }
//             }
//              ],
//           map: map,
//           suppressInfoWindows: true
//         });
        
        
        
        
//         google.maps.event.addListener(gridLayer, 'click', function(e) {
//           	windowControl(e, infoWindow, map);
// //           	gridLayer.setQuery({
// //                 select: 'name',
// //                 from: '1kSWksPYW7NM6QsC_wnCuuXO7giU-5ycxJb2EUt8',
// //                 where: 'Name > 74_90'
//               });
//           	gridLayer.setMap(map);
//           	//x= gridLayer.getOptions();
//           	//console.log(x);
//           	gridLayer.setOptions(
//                     'fillColor = #FF00FF'
        
//                 );
//				//print all the methods in javascript object
//           	var methods = [];
//           	for (var m in gridLayer) {
//           	    if (typeof gridLayer[m] == "function") {
//           	        methods.push(m);
//           	    }
//           	}
//           	console.log(methods.join(","));
//         });
//         google.maps.event.addListener(gridLayer, 'zoom', function(e) { //needs work
//           	if (e.zoom() < 4) {gridLayer.hidden();}
//         });
//         google.maps.event.addListener(gridLayer, 'mouseover', function(e) {
//             //var style = gridLayer.getFeatureStyle(e.featureId);
//             //style.fillColor = 'green';
//             //style.fillOpacity = 80;
//             console.log('mouseover', e);
//           });
//         google.maps.event.addListener(gridLayer, 'mouseout', function(event) {
//             var style = layer.getFeatureStyle(event.featureId).resetAll();
//             console.log('mouseout', e);
//           });

      	// Open the info window at the clicked location
      	function windowControl(e, infoWindow, map) {
      		console.log("windowControl: ", e);
        	infoWindow.setOptions({
          		content: e.infoWindowHtml,  		
          		position: e.latLng,
          		pixelOffset: e.pixelOffset,
        	});
        	infoWindow.open(map);
      	}
      	
        var latlngs = [];
        {% for j in area.coordinates %}
        	latlngs.push(new google.maps.LatLng({{j}}))
        {% endfor %}	
        
        areaBoundary = new google.maps.Polygon({
                paths: latlngs,
                strokeColor: '#FFFF00',
                strokeOpacity: 0.5,
                strokeWeight: 2,
                fillColor: '#000000',
                fillOpacity: 0.15
            });
        areaBoundary.setMap(map);
        
        // Create Overlay of Latest Landsat8
   		$('#L8latest_overlay_btn').click(function(){ 
	 		var pathname = window.location.pathname + '/L8latest/overlay';
	 		$("#observations_panel").collapse('show');
	 		$('#observations_panel').empty();
	 		$('#observations_panel').append("Getting Sat Data...");//could be animated gif from http://www.ajaxload.info/
 			$('#observations_panel').append('<img src="/static/img/ajax-loader.gif" class="ajax-loader"/>');
	 		$.get(pathname) //, { name: "not used", time: "notused" }
	 		.done(function(data){
	 			mapobj = jQuery.parseJSON(data);
	 			overlay.mapid = mapobj.mapid
	 			overlay.token  = mapobj.token
	 			$('#observations_panel').empty();
	 			$('#observations_panel').append(overlay.mapid, overlay.token);
	 		})
	 		.error(function( jqxhr, textStatus, error ) {
	 	          var err = textStatus + ', ' + error;
	 	          console.log( "Request Failed: " + err);
		 		  $('#observations_panel').empty();
		 		  $('#observations_panel').append("<p>Failed: " + err + "</p>"); 
	 	    });
   		});
        
   		$('#L8latest_download_btn').click(function(){ 
	 		var pathname = window.location.pathname + '/L8latest/download';
	 		$("#observations_panel").collapse('show');
	 		$('#observations_panel').empty();
	 		$('#observations_panel').append("Getting Download ...");//could be animated gif from http://www.ajaxload.info/
 			$('#observations_panel').append('<img src="/static/img/ajax-loader.gif" class="ajax-loader"/>');
	 		$.get(pathname) //, { name: "not used", time: "notused" }
	 		.done(function(path){
	 			$('#observations_panel').empty();
	 			$('#observations_panel').append(path); 
	 			window.open(path);
	 		})
	 		.error(function( jqxhr, textStatus, error ) {
	 	          var err = textStatus + ', ' + error;
	 	          console.log( "Download Failed: " + err);
		 		  $('#observations_panel').empty();
		 		  $('#observations_panel').append("<p>Failed: " + err + "</p>"); 
	 	    });
   		});
   			
   		$('#Landset_WRS_layer_btn').click(function(){ 
	 		$("#observations_panel").collapse('show');
	 		$('#observations_panel').empty();
	 		$('#observations_panel').append("Show L8 Grid...");//could be animated gif from http://www.ajaxload.info/
 			//$('#observations_panel').append('<img src="/static/img/ajax-loader.gif" class="ajax-loader"/>');
			//gridLayer.show(); 
   		});
   		$(window).resize(function () {
   				//<!--resize tip from https://github.com/twitter/bootstrap/issues/2475 -->
	    	    var h = $(window).height(),
	    	        offsetTop = 60; // Calculate the top offset
	    	    $('#map-canvas').css('height', (h - offsetTop));
	    	}).resize();
   		
	};//initialize
    
    google.maps.event.addDomListener(window, 'load', initialize);
    
 </script>


</script>
{% endblock %} {% block content %}
<div>
	<p>
	<ul class="breadcrumb">
		<li><a href="{{ "user"|url(username) }}">{{ username }}</a> <span
			class="divider">/</span></li>
		<li class="active"><a href="{{ area|area_url }}">{{ area }}</a></li>
	</ul>
	</p>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content <div class="control-group"> -->
			<h3>
				<i>{{area.name}}</i>
			</h3>
			
			<div>
			<p>
				<input id="L8latest_overlay_btn" type="button" class="btn btn-primary"
					value="Get Latest Imagery" /></p>
			</div>
	
			<div>
			<p>
				<input id="L8latest_download_btn" type="button" class="btn"
					value="Download" /></p>
			</div>	
			<div>
			<p>
				<input id="Landset_WRS_layer_btn" type="button" class="btn"
					value="Scene border Layer" /></p>
			</div>	
			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse"  href="#description_panel">
			        Area Description
			      </a>
			    </div>
			    <div id="description_panel" class="accordion-body collapse in">
			      <div class="accordion-inner">
			        <p>{{ area.description }}</p>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" href="#boundary_panel">
			        Boundary Coordinates
			      </a>
			    </div>
			    <div id="boundary_panel" class="accordion-body collapse">
			      <div class="accordion-inner">
			        {% for j in area.coordinates %}
						<p class="divider">{{j}}</p>
					{% endfor %}
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" href="#map_panel">
			        Map View 
			      </a>
			    </div>
			    <div id="map_panel" class="accordion-body collapse">
			      <div class="accordion-inner">
			       	<p class="divider">"Map initial view (saved)"</p>
					<p class="divider">"Center: {{area.map_center}}"</p>
					<p class="divider">"Zoom: {{area.map_zoom}}"</p>
			      </div>
			    </div>
			  </div>
			   <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" href="#observations_panel">
			        Observations
			      </a>
			    </div>
			    <div id="observations_panel" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <p>No Observations.<p>
			      </div>
			    </div>
			  </div>
			   <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" href="#reports_panel">
			        Reports
			      </a>
			    </div>
			    <div id="reports_panel" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <p>No reports<p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<div class="span10">
			<!--Body = Map content-->
			
			<div id="map-canvas"></div>
		</div>
	</div>
</div>
{% endblock %}


