{% extends "base.html" %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% block content %}
<div class="container">
    <div>
        <p>
            <ul class="breadcrumb">
                <li><a href="{{ "user"|url(username) }}">{{ username }}</a> </li>
                <li class="active">observation tasks</li>
            </ul>
    </p>
    
     </div>
    {% if filter == 'mytasks' %}        
        <h3>My Recent Observation Tasks</h3>
        <p>Tasks for you to complete</h3>
    {% else %}
        <h3>All Recent Observation Tasks</h3>
    {% endif %}

    {% if obstasks %}        
    {% for e in obstasks %}
       <div class="well"">
      {{ e|safe }}
       </div>
    {% endfor %}
    <div>
    
     <ul class="pagination">
            <li class="prev"><a href="{{ obstask| allobstasks_url(user2view) }}">first</a></li>
            {% if page == 1 %}
                <li class="disabled"><a href="#">&larr; previous</a></li>
            {% else %}
                <li><a href="{{ obstask |allobstasks_prev(page, user2view) }}">&larr; previous</a></li>
            {% endif %}

            {% for p in pagelist %}
                <li{% if p  == page %} class="active"{% endif %}><a href="{{  obstask|obstasks_url(p) }}">{{ p }}</a></li>
            {% endfor %}

            {% if page == pages %}
                <li class="disabled"><a href="#">next &rarr;</a></li>
            {% else %}
                <li><a href="{{ obstask|allobstasks_next(page) }}">next &rarr;</a></li>
            {% endif %}

            <li class="next"><a href="{{ obstask |allobstasks_url(pages) }}">last</a></li>
        </ul>
    </div>  
 
    {% else %}

    <div class="row">
        <div class="span12">
            <p>No observationTasks found.</p>
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}
