{% extends "base-maps.html" %} 
{% block map_head %}
<script>

var instructions_str =  
    "Earth Engine is now finding the Landsat cells that cover your new area. <br />" +
    "This may take a few minutes. <br />" +
    "Then you will see the cells displayed as rectangles overlapping your area. <br/><br/>" + 
    "Click on the cells covering area you wish to monitor. These cells will be highlighted.<br />" +
    "Click again to unselect the cell and remove it from monitoring reports. <br /><br>" + 
    "Each cell generates more work for reviewers. So only select cells that overlap critical areas you wish to monitor.<br><br>" +
    "You can view the most recent observation for any cells with the <b>View</b> button and Image settings." ;

var single_map = true; 
</script>

    
{% endblock map_head %} 
    
{% block breadcrumbs %}
<div class="container" >
	<ul class="breadcrumb">
		<li><a href="{{ "user"|url(username) }}">{{ username }}</a> </li>
		<li class="active"><a href="{{ area|area_url }}">{{ area }}</a></li>
	</ul>
</div>
{% endblock breadcrumbs%} 

{% block map_content %}
{% endblock %}
