
<script type="text/javascript"
    src="//maps.googleapis.com/maps/api/js?key=AIzaSyDxcijg13r2SNlryEcmi_XXxZ9sO4rpr8I&sensor=false&v=3&libraries=geometry,places,visualization,drawing"> 
</script>
<script type="text/javascript" src="/static/js/vendor/jquery.nouislider.min.js" ></script>
<script type="text/javascript" src="/static/js/vendor/yaml/YamlInline.js" ></script>
<script type="text/javascript" src="/static/js/vendor/yaml/YamlParser.js" ></script>
<script type="text/javascript" src="/static/js/vendor/yaml/Yaml.js" ></script>
<script type="text/javascript" src="/static/js/vendor/drawing-tools.js" ></script>
<script type="text/javascript" src="/static/js/vendor/GeoJSON.js"></script> <!-- new-map -->
<script type="text/javascript" src="/static/js/vendor/polygon-outliner.js"></script> <!-- new-map -->

<script type="text/javascript" src="/static/js/overlay-mgr.js" ></script>
<script type="text/javascript" src="/static/js/landsat-grid.js" ></script>
<script type="text/javascript" src="/static/js/layerslider.js"  ></script>

