.container {
  z-index: 3;
  top: 300px;
  left: 550px;
  position: absolute;
  background:rgba(255,255,255,0.75);
  width: 180px;
  text-align: center;
  border-radius: 15px;
}

.negative  {
	opacity: 1 !important;
	color: red;
}

.positive {
	opacity: 1 !important;
	color: green;
}

.neutral {
	opacity: 1 !important;
	color: gray;
}