{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1><a href="{{ entry.url }}">{{ entry.title }}</a>{% if user.admin %} <a href="{{ "edit-blog"|url(entry.key().id()) }}" class="btn btn-primary">edit</a>{% endif %}</h1>
	</div>

	<div class="row">
		<div class="span7">
			<h3><img src="{{ entry.avatar }}&amp;s=40" alt="{{ entry.user }}"> <a href="{{ "user"|url(entry.user) }}">{{ entry.user }}</a> {{ entry.date|sdate }}</h3>
			{{ entry.rendered|safe }}
		</div>

		{{ top|safe }}
	</div>
{% endblock %}
