# Specifiy Files 
secrets.py
.secrets/

# Folders 
build/*
source/*
keys/*
.metadata/*
PIL/*
ee/*
lib/*
notused/*
.svn/*

# File Extensions
*.zip
*.p1
*.p12
*.pem
*.PEM
*.db
*.bak
*.json
*.py[cod]
*.swp

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt
*.log

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/Git Bash.lnk