"""
secrets.py contains your private keys.

This file is stored in the git repo as a place holder for secrets.py

After cloning the repo, rename this file to secrets.py, then edit it and insert your credentials.

ATTENTION: Configure always .gitignore to never store secrets.py in the repo

"""

SECRET_KEY = 'blah3245d'

ADMINS = (
    # ('Your name', youremailaddress@email.com'),
)


# fill this with data from os.urandom(64)
#not used
COOKIE_KEY = ''

# to enable, set to analytics id: 'UA-12345678-9'
#don't worry about this unless you want to track usage
GOOGLE_ANALYTICS_DEV = u'UA-DEV'
GOOGLE_ANALYTICS_TEST = u'UA-xxxxxx-1'
GOOGLE_ANALYTICS_PROD = u'UA-xxxxxxx-2'

GOOGLE_MAPS_API_KEY = 'SomeKey'


#TWITTER Not used don't worry about it
TWITTER_KEY = ''
TWITTER_SECRET = ''

#FACEBOOK NOT USED
FACEBOOK_KEY = ''
FACEBOOK_SECRET = ''

#for devserver, for Windows must use PEM format, not PK12.
#From your AppEngine account. Must be whitelisted with Earth Engine to connect to EE.
MY_LOCAL_SERVICE_ACCOUNT = 'XXXXXXX@developer.gserviceaccount.com'
MY_LOCAL_PRIVATE_KEY_FILE = "privatekey.pem"

#This Google Drive folder_id will change if using a different service account.
# When creating assets, the app will create a new folder if it doesn't exist.
# Folder stores cluster data inlcuding geojson, csv and fusiontables
@ go to /admin/folders for listing.

Once it is created, I stored it here. 
@todo - would be better to put it in the datastore
CLUSTERS_FOLDER_ID = "0B-lTullYuWZ_SWdKelFXREEwRkE"