<!--  area-description.html  -->
<div class="panel-group"  id='area-description-panel'>
	<!-- DESCR WHAT -->
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#area-description-panel" data-target="#area_descr_what">Description<span class='dirty-flag'>*</span> </h4>
		</div>

		<div id="area_descr_what" class="panel-collapse collapse in">
			<div class="panel-body">
			 {% if is_owner%} 
				<textarea class='text-in-front' {% if not is_owner%} readonly  {% endif %} id="area_descr_what_text" name="description-what"
					 rows="4" placeholder="Describe your park?">{{ area.description }}</textarea>
		   
                    <a class='update-area-btn btn btn-small btn-lt-blue confirm glyphicon glyphicon-save'
                                                    data-toggle='tooltip' title='Save this description'> Update</a>
              {% else %}
                <div class='text-in-front textarea-sim' id="area_descr_what_text">{{area.description}}</div>
              {% endif %}        
            </div>
		</div>
	</div>
	
	<!-- DESCR WHY -->
	{% if is_owner or area.description_why %}
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#area-description-panel" data-target="#area_descr_why">Why's
				this area important?<span class='dirty-flag'>*</span></h4>
		</div>

		<div id="area_descr_why" class="panel-collapse collapse">
			<div class="panel-body">
				<textarea class='text-in-front' {% if not is_owner%} readonly  {% endif %} id="area_descr_why_text" name="description-what"
					rows="4" placeholder="Why monitor this area">{{area.description_why }}</textarea>
					<a class='update-area-btn btn btn-small btn-lt-blue confirm glyphicon glyphicon-save'
                                                    data-toggle='tooltip' title='Save this description'> Update Why</a>
			</div>
		</div>
	</div>
  {%  endif %}
  <!--   endif  -->
 
	<!-- DESCR THREATS -->
	{% if is_owner or area.threats%} 
	<div class="panel panel-default">
     
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#area-description-panel" data-target="#area_descr_threats">Threats<span class='dirty-flag'>*</span></h4>
        </div>

		<div id="area_descr_threats" class="panel-collapse collapse">
			<div class="panel-body">
			{% if is_owner%} 
				<textarea class='text-in-front' id="area_descr_threats_text"
					name="description-threats" rows="4" placeholder="What are the main threats to this forest?">{{area.threats}}</textarea>
		        <a class='update-area-btn btn btn-small btn-lt-blue confirm glyphicon glyphicon-save'
                                                    data-toggle='tooltip' title='Save this description'> Update Threats</a>
              {% else %}
                <div class='text-in-front textarea-sim' id="area_descr_threats_text">{{area.threats}}</div>
              {% endif %}             
			</div>
		</div>

	</div>
    {% endif %}

	<!-- DESCR ALERTS -->
	<div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#area-description-panel" data-target="#area_descr_alerts">Alerts  {% if area.glad_monitored %}<span class="glyphicon glyphicon-ok gladalert-color">{% endif %}</h4>
        </div>
    <div id="area_descr_alerts" class="panel-collapse collapse">
			<div class="panel-body">
        {% if area.glad_monitored %}
            <p>UMD GLAD ALERTS enabled for this area</p>
        {%  else %}
            <p>GLAD ALERTS not available for this area</p>
        {% endif %}
			</div>
		</div>
	</div>
	<!-- DESCR WHO -->
	<div class="panel panel-default">
        {% if is_owner or area.description_who%} 
		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#area-description-panel" data-target="#area_descr_who">Who's
				monitoring it?<span class='dirty-flag'>*</span></h4>
		</div>
        {% else %}
        <div class="panel-heading">
            <h4 class="panel-title" >
            Created by <a href="{{ 'user'|url(area.owner.string_id()) }}" data-toggle="tooltip" title="The user who created this area."><i>{{area.owner.string_id()}}</i></a></h4>
        </div>
        {% endif %}

		<div id="area_descr_who" class="panel-collapse collapse">
			<div class="panel-body">
				<textarea class='text-in-front' {% if not is_owner%} readonly  {% endif %} id="area_descr_who_text"
					name="description-who" rows="4" placeholder="Who will check distrubance reports for this area">{{area.description_who }}</textarea>
                <a class='update-area-btn btn btn-small btn-lt-blue confirm glyphicon glyphicon-save'
                                                    data-toggle='tooltip' title='Save this description'>Update Who</a>
			</div>
			 {% if not is_new%} 
		     <div class="panel-body">
		           Area created by <br/> 
                   <a href="{{ 'user'|url(area.owner.string_id()) }}" data-toggle="tooltip" title="The user who created this area.">{{area.owner.string_id()}}</a>
            </div>
       {% endif %}
		</div>
	</div>

	<!-- DESCR HOW -->
	{% if is_owner or area.description_how%} 
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#area-description-panel" data-target="#area_descr_how">How's
				it protected?<span class='dirty-flag'>*</span></h4>
		</div>

		<div id="area_descr_how" class="panel-collapse collapse">
			<div class="panel-body">
				<textarea class='text-in-front' {% if not is_owner%} readonly  {% endif %} id="area_descr_how_text" name="description-how"
					 rows="4" placeholder="Is this area protected?  Is it a national park? Is it private?">{{area.description_how }}</textarea>
	           <a class='update-area-btn btn btn-small btn-lt-blue confirm glyphicon glyphicon-save'
                                                    data-toggle='tooltip' title='Save this description'> Update How</a>
    		</div>
		</div>

	</div>
    {% endif %}


	<!-- WIKI -->
	<div class="panel panel-info">
	   {% if is_owner %} 
		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#area-description-panel" data-target="#area-wiki-form">Area's
				Website<span class='dirty-flag'>*</span></h4>
		</div>
		{% else %} 
	   	  {% if area.wiki %}
	      <div class="panel-heading">
            <h4 class="panel-title glyphicon glyphicon-link" data-toggle="collapse" data-parent="#inner-descr-accordion" data-target="#area-wiki-form">{{area.wiki}}</h4>
             </div>
          {% endif %}
       {% endif %}
		
		<div id="area-wiki-form" class="panel-collapse collapse">
			<div class="accordion-inner small">
				{% if is_owner %} 
				<input accesskey="u" id="area-wiki" name="area_wiki" placeholder="http://example.com or www.mywebpage.com"
					tabindex="1" type="text" value='{{area.wiki}}'> <span class="help-block"> If your area has a web
					page, like a Wikipedia entry, enter a link to it here.</span> 
					<a class='update-area-btn btn btn-small btn-lt-blue confirm glyphicon glyphicon-save'
              data-toggle='tooltip' title='Save this description'> Update Wiki</a>
                {% endif %}
			    {% if area.wiki %} 
					 <div class='glyphicon glyphicon-link' data-toggle='tooltip' title="Link to area's website">{{area.wiki}}</div> 
				{% else %} 
					No Website saved. 
				{% endif %} 
			</div>
		</div>
	</div>
</div>
<!-- END-INNER-ACCORD-->