
<div class="panel-group" id="inner-descr-accordion">
	<!-- DESCR WHAT -->
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#inner-descr-accordion" data-target="#area_descr_what">Description</h4>
		</div>

		<div id="area_descr_what" class="panel-collapse collapse in">
			<div class="panel-body">
				<textarea form="new_area_form" id="area_descr_what_text" name="description-what" cols="80" rows="4"
					placeholder="Describe your park?"></textarea>
			</div>
		</div>
	</div>
	<!-- DESCR WHY -->
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#inner-descr-accordion" data-target="#area_descr_why">Why's
				this area important?</h4>
		</div>

		<div id="area_descr_why" class="panel-collapse collapse">
			<div class="panel-body">
				<textarea form="new_area_form" id="area_descr_what_text" name="description-what" cols="80" " rows="4"
					placeholder="Why is it important to monitor this area"></textarea>
			</div>
		</div>
	</div>

	<!-- DESCR THREATS -->
	<div class="panel panel-danger">

		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#inner-descr-accordion" data-target="#area_descr_threats">Threats</h4>
		</div>

		<div id="area_descr_threats" class="panel-collapse collapse">
			<div class="panel-body">
				<textarea form="new_area_form" id="area_descr_threats_text" name="description-threats" cols="80" rows="4"
					placeholder="What are the main threats to this forest?" rows="4"></textarea>
			</div>
		</div>

	</div>

	<!-- DESCR WHO -->
	<div class="panel panel-defaul">

		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#inner-descr-accordion" data-target="#area_descr_who">Who's
				monitoring it?</h4>
		</div>

		<div id="area_descr_who" class="panel-collapse collapse">
			<div class="panel-body">
				<textarea form="new_area_form" id="area_descr_threats_text" name="description-who" cols="80" rows="4"
					placeholder="Who will check distrubance reports for this area"></textarea>
			</div>
		</div>

	</div>

	<!-- DESCR HOW -->
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#inner-descr-accordion" data-target="#area_descr_how">How's
				it protected?</h4>
		</div>

		<div id="area_descr_how" class="panel-collapse collapse">
			<div class="panel-body">
				<textarea form="new_area_form" id="area_descr_how_text" name="description-how" cols="80" rows="4"
					placeholder="Is this area protected?  Is it a national park? Is it private?"></textarea>
			</div>
		</div>

	</div>

	<!-- WIKI -->
	<div class="panel panel-info">

		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#inner-descr-accordion" data-target="#area-wiki-form">Area's
				Website</h4>
		</div>

		<div id="area-wiki-form" class="panel-collapse collapse">

			<div class="accordion-inner small">

				<div id='area-wiki-form' class="form-group">
					<label class="col-md-4 control-label" for="area_wiki">URL for area</label>

					<div class="col-md-4">
						<input accesskey="u" autofocus class="form-control input-md" id="area-wiki" name="area_wiki"
							placeholder="http://example.com or www.mywebpage.com" tabindex="1" type="text"> <span class="help-block">
							If your area already has a web page, enter a link to the web page here. This is optional.</span>

						<div class='validation' id='area-wiki-validation'>Not a valid link. If unsure, leave this blank</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</div>
<!-- END-INNER-ACCORD-->

