
<link rel='stylesheet' type='text/css' href='/static/css/bootstrap-social.css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">  3d effects-->
<link rel="stylesheet" href="/static/css/jquery.nouislider.css">
<link  rel="stylesheet" href="/static/css/bootstrap-popover-x.min.css" media="all" type="text/css" />
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" type="text/css" />
<link rel="stylesheet" href="/static/css/site.css">
