{# these cc scripts are included in the header. js scrtips in project_scripts.html are included in the footer. So don't double load scripts#}
<link rel='stylesheet' href='/static/css/bootstrap-social.css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/jquery.nouislider.css">
<link  rel="stylesheet" href="/static/css/bootstrap-popover-x.min.css" media="all">
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" >
<link rel="stylesheet" href="/static/css/site.css">
