

<script type="text/javascript"
    src="//maps.googleapis.com/maps/api/js?key=AIzaSyDxcijg13r2SNlryEcmi_XXxZ9sO4rpr8I&sensor=false&v=3&libraries=geometry,places,visualization,drawing"> 
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" defer></script> <!-- for drgger -->

<script type="text/javascript" src="/static/js/vendor/jquery.udraggable.js" defer></script>

<script type="text/javascript" src="/static/js/vendor/jquery.nouislider.min.js" defer></script>
<script type="text/javascript" src="/static/js/vendor/yaml/YamlInline.js" defer></script>
<script type="text/javascript" src="/static/js/vendor/yaml/YamlParser.js" defer ></script>
<script type="text/javascript" src="/static/js/vendor/yaml/Yaml.js" defer></script>
<script type="text/javascript" src="/static/js/vendor/GeoJSON.js" defer ></script> <!-- new-map -->
<script type="text/javascript" src="/static/js/vendor/polygon-outliner.js" defer ></script> <!-- new-map -->

<script type="text/javascript" src="/static/js/drawing-tools.js" defer></script>
<script type="text/javascript" src="/static/js/overlay-mgr.js" defer ></script>
<script type="text/javascript" src="/static/js/landsat-grid.js" defer ></script>
<script type="text/javascript" src="/static/js/layerslider.js"  defer ></script>
<script type="text/javascript" src="/static/js/view-maps.js" defer></script>
 


