
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js" ></script>
<script type="text/javascript">

if (typeof jQuery == 'undefined') //local backup of jquery if offline of google cdn blocked.
{
    document.write(unescape("%3Cscript src='/static/js/vendor/jquery-2.1.4.min.js' type='text/javascript'%3E%3C/script%3E"));
}

</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js" defer></script>
<script src="/static/js/vendor/bootstrap-popover-x.min.js" defer></script>
<script  src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" defer></script>
<script src="/static/js/site.js" defer></script>
<script  src="/static/js/vendor/bootbox.min.js" defer></script>
 