body {
	font-family: Arial, sans-serif;
	color: #362B36;
	overflow: hidden;/*prevents panels extending the page if opened near its foot*/
}

.earth_canvas {
	position: absolute;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
	width: 500px;
	height: 300px;
	margin: 20px;
}

.panel {
	width: auto;
	background: white;
	padding-right: 1em;
	padding-bottom: 0.6em;
	position: absolute;
	z-index: 10;
	color: #555555;
	border-style:  solid;
	border-color:  #AAAAAA;
	border-width:  1px;
}

.panel_title {
	margin: 0;
	padding: 0.2em 0;
	font-size: 1em;
}

.panel_header {
	padding: 1em 0 0.4em 1em;
}

.sub_panel {
	margin: 1em 0;
}

.sub_panel_header {
	display:     block;
	height:      15px;
	margin-left: 0.6em;
	margin: 0.5em 0.6em;
	cursor: pointer;
}

.sub_panel_header_highlight {
	color: grey;
}

.sub_panel_title {
	margin: 0;
	padding-left: 20px;
	font-weight: bold;
}

.sub_panel_caption_button {
	float: left;
	display: inline-block;*/
	cursor: pointer;
}

.sub_panel_body {
	margin-left: 1em;
	padding: 4px 0;
}

.panel_fieldset {
	padding: 4px 5px 10px 5px;
	border-style:  solid;
	border-color:  #AAAAAA;
	border-width:  1px;
	border-left:   none;
	border-right:  none;
	border-bottom: none;
	margin-top:    0.1em;
}

.panel_fieldset legend {
	font-size: 0.9em;
	margin-bottom: 0.4em;
}

.radio_button_label {
	padding-bottom: 0.2em;
}

#control_panel button {
	width: 80%;
	cursor: pointer;
}

#donor_camera_selector_container label {
	display: block;
	padding-bottom: 0.4em;
}

.control_panel_caption_button {
	cursor: pointer;
	float: right;
	width: 21px;
	height: 18px;
	margin-left: 1px;
}

.sub_panel_caption_button {
	cursor: pointer;
	float: left;
	width: 21px;
	height: 18px;
	margin-right: 1px;
}

input label h4 button  {
	z-index:10;
	cursor: pointer;
}

#link_creator, #undo, #redo {
	width: 10em;
}

#link_box {
	margin-top: 0.5em;
	width: 100%;
	border: #AED0EA solid 1px;
}

.control_panel_element {
	padding-bottom: 0.2em;
}

.control_panel_element label {
	font-size: 0.9em;
	vertical-align: 2px;
}

.radio_button_label_span {
	vertical-align: 2px;
}

.select_box_container {
	padding-bottom: 0.2em;
}

.select_box_container label {
	font-size: 0.9em;
	vertical-align: 2px;
	display: block;
}

#welcome_panel {
	position: relative;
	margin: 0 auto;
	top:   7em;
	width: 30em;
	z-index: 11;
}

#control_panel {
	top: 0.5em;
	left: 2.5em;
}

#plugin_incompatibility_message, #js_incompatibility_message {
	top: 3em;
	position: relative;
	margin: 0 auto;
	width: 35em;
	padding-bottom: 0;
}

#html_welcome_message {
	top: 2em;
	position: relative;
	margin: 0 auto;
	width: 35em;	
}

p, h1 {
	padding-left: 1em;
}

.drag_handle {
	cursor: move;
}

.search_box {
	display:block;
	background:white;
	font-size: 0.9em;
}

.search_box_label {
	font-weight: normal;
	font-size: 1em;
	margin: 0;
}

/*overriding browser defaults*/
fieldset {
	padding: 0;
	margin: 0;
}

input[type=radio] {
	margin-top: 0;
}

input[type=submit] {
	border: 1px solid #aed0ea;
	background: #d7ebf9;
}

h1 {
	font-size: 1.2em;
	margin: 0.8em 0 1.2em;
}
/*tweaking API generated styles*/
/*overriding styles of elements returned by google.language.getBranding()*/
.gBranding {
	display: inline;
}

#google_search_branding {
	padding-left: 0.2em;
}

.FF2_checklist {
	display: -moz-inline-stack;
}

.search_box .gsc-control {
	width:200px;
}

#l_earth_search {
	left: 30px;	
}

#IE_message {
	color: red;
}

.gsc-localResult .gsc-result {
	border-bottom: 1px solid #E9E9E9;
	padding-bottom: 2px;
}

.gsc-result .gs-result .gs-title a {
	cursor: text;
	color: #362B36;
	text-decoration: none;
}

.gsc-result .gs-result .gs-title a b {
	cursor: text;
	color: #362B36;
	text-decoration: none;
}

.gs-result .gs-title,
.gs-result .gs-title .gs-title {
	text-decoration: none;
	font-weight: bold;
}
