{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>About Bunjil</h1>
	</div>

	<div class="row">
		<div class="span12">
			<h3>Who made Bunjil Forest Watch</h3>
			<p>BFW was made by <a href="http://objectconsulting.com.au/">Chris Goodman</a> with help from students at Swinburne TI.</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>want to help?</h3>
			<p>The code is hosted on GitHub: <a href="https://github.com/intotecho/bunjil">https://github.com/intotecho/bunjil</a>.</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>problems</h3>
			<p>You may <a href="https://github.com/intoecho/bunjil/issues">submit issues</a> or email us at <a href="mailto:bunjilforestwatch@gmail.com">bunjilforestwatch@gmail.com</a>.</p>
		</div>
	</div>
{% endblock %}
