        <div class="accordion" id="inner_accordion">            
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#area_descr_panel"> Area Description </a>
                    </div>
                    <div id="area_descr_panel" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <p>{{ area.description }}</p>
                        </div>
                    </div>
                </div>
                {% if area.isfusion %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#area_fusion_panel"> Fusion Table</a>
                    </div>
                    <div id="area_fusion_panel" class="accordion-body collapse in">
                        <div class="accordion-inner small">
                            <a href='{{area.ft_link}}' target="_blank">{{area.ft_docid}}</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#area_description_why"> Why protect it?</a>
                    </div>
                    <div id="area_description_why" class="accordion-body collapse">
                        <div class="accordion-inner small">
                            <p>{{area.description_why }}</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#area_description_who"> Who protects it? </a>
                    </div>
                    <div id="area_description_who" class="accordion-body collapse">
                         <p>created by 
                         <a href="{{ "user"|url(area.owner) }}" data-toggle="tooltip" title="The user who created this area.">{{area.owner}}</a></p>
                        <div class="accordion-inner small">
                            <p>{{area.description_who }}</p>
                        </div>
                    </div>
                </div>
                 <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#area_description_how"> How is this area protected</a>
                    </div>
                    <div id="area_description_how" class="accordion-body collapse">
                        <div class="accordion-inner small">
                            <p>{{area.description_how }}</p>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#boundary_panel"> Boundary Coordinates </a>
                    </div>
                    <div id="boundary_panel" class="accordion-body collapse">
                        <div class="accordion-inner small">
                            <!--  {% for j in area.coordinates %}
                            <p class="divider">{{j}}</p>
                            {% endfor %} -->
                            
                        </div>
                    </div>
                </div>
            </div>
            <p/>