{% extends "base.html" %}
{% block content %}
<div class="container">
    <p>
        <ul class="breadcrumb">
        <li class="active">/activity for <a href="{{ "user"|url(user.name) }}">{{ user.name }}</a></li>
        </ul>
    </p>
	<div class="page-header">
		<h1>Your Recent Activity</h1>
	</div>
    <div class="row">
        <h3><small><a href="{{ "user-feeds"|url(user.name) }}"><img src="/static/images/feed.png" class="feed-img" alt="feed">RSS feed of your activity</a></small></h3>
    </div>
	<div class="row">
		<div class="col-xs-7">
			{% include "activities.html" %}
		</div>
	</div>
{% endblock %}
