<!-- Included by index-user.html -->
<table class="table">
<h4>Your Areas</h4>
<tbody>
    {% for j in areas %}
    <tr><td>
        {% if thisuser %}
    <h5><a href="{{ j|area_url }}">{{ j }}</a></h5>
        {% else %}
            {{ j }}
        {% endif %}
    </td></tr>
         <tr><td>created on</td><td>{{ j.created_date|sdate }}</td></tr>
         <tr><td>created by</td><td>{{ j.created_by}}</td></tr>
         <tr><td>observers </td><td>{{ j.subscriber }}</td></tr>
 {% endfor %}
<
    </tbody></table>
