<!-- Included by index-user.html -->
    {% for j in areas %}
           <pre class="table-myareabackground">
            <table class="table table-condensed  ">
            <tbody>
        {% if thisuser %}
            <tr><a href="{{ j|area_url }}"><h4>{{ j }}</h4></a></tr>
        {% else %}
            <tr>{{ j }}</tr>
        {% endif %}
        <tr><td>created on</td><td>{{ j.created_date|sdate }}</td></tr>
        <tr><td>created by</td><td>{{ j.created_by}}</td></tr>
        <tr><td>observers </td><td>{{ j.observers }}</td></tr>
        <tr><td><a href="{{ j|area_tasks_url}}"><h4>tasks</h4></a></td><td></td></tr>
        </tbody>        
       </table></pre> 
    {% endfor %}
