{% extends "base.html" %} 
{% block head %}
<!-- Example URL  //localhost:8001/obs/bunjilfw/agxkZXZ-YnVuamlsZndyHAsSD09ic2VydmF0aW9uVGFzaxiAgICAgMymCQw  -->
<!-- //localhost:8001/obs/test2/agxkZXZ-YnVuamlsZndyHAsSD09ic2VydmF0aW9uVGFzaxiAgICAgLbNCAw -->
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<style type="text/css">

html { 
         height: 100%;
         overflow-y:scroll /* show scroll bar */
}
body {
    overflow: hidden; 
}
#map-left-latest, #map-left-prior, #map-left-c, #map-right-c {
    height: 100%,
    overflow: hidden; //if content is wider than div, truncate it.
}

#map-left-latest, map-left-c{
    position: absolute;
    width: 100%,
}

#map-left-c-latest, #map-left-c-prior {
    position: absolute;
    height: 100%;
  }

#map-left-c-latest{
    width: 100%;
  }

#map-left-c-prior {
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: 2;
  }

#map-left-c-latest {
    z-index: 1;
}

#dragger { // inspired by storage.googleapis.com/jlivni/presentations/lightning/styled.html
    height: 100%;
    width: 4px;
    position: absolute;
    background: #444;
    left: initial_dragger;
    top: 0;
    cursor: move;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

#draghandle { // inspired by storage.googleapis.com/jlivni/presentations/lightning/styled.html
    overflow: display; 
    top: 0px
}

.map-canvas {
	border:2px solid gray
}

#rhs_cursor /* cursor or rhs map follows lhs cursor*/
{
    height:10px;
    width:10px;
    position:relative;
    font-size:10px;
    z-index:99;
    color:yellow;
    overflow:display
}

#rhs_cursor-c /* cursor or rhs map follows lhs cursor*/
{
    height:0px;
    width:0px;
}
</style>
<link href="/static/css/jquery.nouislider.css" rel="stylesheet">
{% block map_head %} {% endblock  map_head%} 
{% endblock  head%} 
{% block content %}
<div id='area_url'     class='django-template'>{{area|area_url }}</div>
<div id='area_json'   class='django-template'>{{ area_json}}</div>
<div id='celllist'         class='django-template'>{{ celllist }}</div>
<div id='obslist'         class='django-template'>{{ obslist }}</div>
<div id='user_name' class='django-template'>{{ user.name }}</div>
<div id='user_url'       class='django-template'>{{ "user"|url(user.name) }}</div>

{% block breadcrumbs %}{% endblock breadcrumbs %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 lesspadding" style="margin: 0;">
            <h5 lesspadding>
                <i>Manage Your Area </i><span><input id="instructions" type="button" class="btn btn-sm btn-lightgreen " rel="popover" value="?"></span>
            </h5>
                <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#layer_table"> Layers </a>
                    </div>
                    <div class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="container-fluid">
                                <div class="row">
                                    <div id="layer_table" class=" panel-tight">
                                        <!-- LayerTemplate rows dynamcially inserted here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#jobs_table">Jobs </a>
                    </div>
                    <div id="tile-progress-c" style='display: none' width="100%">
                        <div id="tile-progress-label"  width="100%" style="color:red">Loaded Tiles</div>
                        <progress id='tile-progress' value="0" max="0" ></progress>
                    </div>
                    <div class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="container-fluid">
                                <div class="row">
                                    <div id="jobs_table" class=" panel-tight">
                                        <!-- JobsTemplate rows dynamcially inserted here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#area_panel"> Area  </a>
                    </div>
                    <div id="area_panel" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% include "accordion.html" %}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#reports_panel"> Reports </a>
                    </div>
                    <div id="reports_panel" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <p>No reports
                            <p>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#obstasks_panel"> Observation Tasks</a>
                    </div>
                    <div id="obstasks_panel" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <a href="{{ area|area_tasks_url}}">view tasks</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#area_followers_panel"> Followers {{area.follower_count}}</a>
                    </div>
                    <div id="area_followers_panel" class="accordion-body collapse">
                        <div class="accordion-inner">
   					{% for j in area_followers%}
                           <ul><a href="{{ "user"|url(j) }}" data-toggle="tooltip" title="A volunteer who monitors this area.">{{j}}</a></ul>
						{% endfor %}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" id='area_sharing_heading' href="#area_sharing_panel"> Sharing: '{{area.shared_str}}'</a>
                    </div>
                    {% if is_owner%} 
                    <div id="area_sharing_panel" class="accordion-body collapse">
                       <form id="shared_form" class="form-vertical" method="POST">
                        <fieldset class='control-label accordion-body'>
                         <div class="radio">
                            <label><input type="radio" id='public' name="opt-sharing" value="public" checked="false" data-toggle="tooltip" title="Everyone can see and follow this area"><b>Public</b></label>
                            <br/>Everyone can see and follow this area.
                        </div>
                             <div class="radio">
                            <label><input type="radio" id='unlisted' name="opt-sharing" value="unlisted" checked="false" data-toggle="tooltip" title="Only people with the link can see or follow this area"><b>Unlisted</b></label>
                            <br/>Anyone with the <a href={{ area|area_url }}>link</a> can see and follow this area.
                        </div>
                        <div class="radio">
                            <label><input type="radio" id='private' name="opt-sharing" value="private" checked="false" data-toggle="tooltip" title="Only you can see or follow this area"><b>Private</b></label>
                            <br/>Only you can see or follow this area. See <a href="http://bunjilforestwatch.wordpress.com/privacy">Privacy</a>
                        </div>
                    </fieldset>
                    </div>
                    {% endif %}
                </div>

                <div>
                </div>
                <div class="accordion-group">
                    <div id='cell_panel_t'  class="accordion-heading">
                       <a class="accordion-toggle " data-toggle="collapse" href="#cell_panel_title"> Landsat Cells   </a>
                    </div>
                    <div id="cell_panel_title" class="accordion-body collapse">
                        <div class="accordion-inner">
                        {% if is_owner%} 
                        <div id='edit-cells-lock'>
                                <!-- Filled in by toggle_edit_cells_lock() -->
                        </div>
                        {% endif %}
                            <div id='cell_panel' class='cell-panel'>
                                    <!-- Filled by update_cell_panel()  -->
                            </div>
                        </div>
                    </div>
                </div>
				 <div id="dialog-new-cells" class="popover"  style='display:none'>
				     <div class="arrow"></div>
			         <h3 class="popover-title">Calculating New Cells</h3>
			         <div class="popover-content">
			                The square white cells on the map are the outlines of Landsat images overlapping your area.<br/>
			                A selection of these are highlighted with a bolder line.<br/>
			                These cells will be <b>Monitored</b> for new images.<br/> 
			                To change which cells are monitored open the <a id='close-dialog-new-cells-open-accordion'><i>Landsat Cells</i></a>
			                panel on the left. <a id='close-dialog-new-cells' >Close</a><br/>
			         </div>
			     </div>
				
				 <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#map_panel"> Map Coordinates </a>
                    </div>
                    <div id="map_panel" class="accordion-body collapse">
                        <div class="accordion-inner">
                           <div id='map_panel_cursor' class='map-panel-cursor' title='Cursor(Latitude, Longitude)'>
                                    <!-- Filled by update_map_cursor()  -->
                            </div>
                            <div id='map_panel_data' class='map-panel-data' title='Map Center(Latitude, Longitude)'>
                                    <!-- Filled by update_map_panel()  -->
                            </div>
                            <div id='map_panel_controls' class='map-panel-controls' >
                                 {% if is_owner%} 
                                 <a  id='save-view' class='btn btn-small btn-lightblue confirm glyphicon glyphicon-save' style='width:40%' data-toggle='tooltip' title='Update saved view to current view'>Save</a>
                                 {% endif %}
                                 <a  id='reset-view' class='btn btn-small btn-lightred confirm glyphicon glyphicon-open' style='width:40%' data-toggle='tooltip' title='Restore view to area default '>Return</a>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#ad_hoc_panel"> Create Overlay</a>
                    </div>
                    <div id="ad_hoc_panel" class="accordion-body collapse">
                        <div class="accordion-inner">
                              <div class="btn-toolbar" role="toolbar">
				                <div class="btn-group">
				                    <button id='algorithm' type="button"  class="btn btn-xs dropdown-toggle" data-toggle="dropdown"
				                        data-toggle="tooltip" title="Select RGB for true colour or NDVI to highlight vegetation change">
				                        RGB<span class="caret"></span>
				                    </button>
				                    <ul class="dropdown-menu" role="menu">
				                        <li><a href="#" id='algorithm-visual'>RGB</a></li>
				                        <li class="divider"></li>
				                        <li><a href="#" id='algorithm-ndvi'>NDVI</a></li>
				                        <li><a href="#" id='algorithm-change'>Change</a></li>
				                    </ul>
				                </div>
				                <div class="btn-group">
				                    <button id='latest' type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown"
				                        data-toggle="tooltip" title="Select the latest image, the one before or the one before that)">
				                        Latest<span class="caret"></span>
				                    </button>
				                    <ul class="dropdown-menu" role="menu">
				                        <li><a href="#" id='latest'>Latest</a></li>
				                        <li class="divider"></li>
				                        <li><a href="#" id='latest-1'>Latest-1</a></li>
				                        <li><a href="#" id='latest-2'>Latest-2</a></li>
				                        <li><a href="#" id='latest-3'>Latest-3</a></li>
				                    </ul>
				                </div>
				                
				                <div class="btn-group" >
				                    <button id='satellite' type="button" style="width: 40px" class="btn btn-xs dropdown-toggle" data-toggle="dropdown"
				                        data-toggle="tooltip" title="Select Landsat7, Landsat 8)">
				                        L8<span class="caret"></span>
				                    </button>
				                    <ul class="dropdown-menu" role="menu">
				                        <li><a href="#" id='satellite-l7'>L7</a></li>
				                        <li class="divider"></li>
				                        <li><a href="#" id='satellite-both'></a></li>
				                    </ul>
				                </div>
				                <p class="white-font"> `</p>
				                <div class="btn-group">
				                    <button id='get_overlay_btn' type="button"  style="padding:4px"  class="btn btn-xs btn-lightblue" data-toggle="tooltip"
				                        title="Fetch the image matching the above settings.">Create Overlay</button>
				                </div>
				            </div>
                        </div>
                    </div>
                </div>
           </div>
           <div>
                <br/><a  id='make_report' class="btn btn-small btn-lightblue confirm" style='width:80%' data-toggle="tooltip" title="Report a change or disturbance">Make report</a>
           </div> 
         </div>
        
        <!-- MAP CANVAS  -->
        
        <div id="map-left-c" class="col-md-5 lesspadding map-canvas">
            <!-- Left Hand Map Element -->
            <div id="dragger" class="ui-icon ui-icon-grip-dotted-horizontal" >
                <div id="draghandle-c"><span id="draghandle" class="ui-icon ui-icon-grip-dotted-horizontal"></span></div>
            </div>
            <div id="map-left-c-latest" >
                <div id="map-left-latest" ></div>
            </div>
            <div id="map-left-c-prior">
                <div id="map-left-prior"></div>
            </div>
        </div>
        <div id="map-right-c" class="col-md-5 lesspadding map-canvas">
            <div id="rhs_cursor-c">
                <span id="rhs_cursor" style='display:none'>x</span>
            </div>
            <div id="map-right"></div>
        </div>
    </div>
</div>

{% block map_content %}{% endblock %}

{%block layer_template %}
<!--TEMPLATE DIV  does not display till added by addLayer() call. See layerslider.js ?-->
<div class="row" id='LayerTemplate' style='display: none'>
    <div class="col-xs-1 col-sm-1 col-md-1">
        <input id='tcheckbox_id' type="checkbox" class="panel-tight checklabel" name="layer_enable" value="On" checked="true" />
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3">
        <div id='tslider_id' class="slider"></div>
    </div>
    <div id='tlabel_id' class="panel-tight layerlabel col-xs-5 col-sm-5 col-md-5" data-toggle="tooltip" title="template tooltip">
        <small>template label</small>
    </div>
</div>
{% endblock layer_template %}

{%block jobs_template %}

<!--TEMPLATE DIV  does not display till added by addLayer() call. -->
<div class="row addjobdiv" id='JobTemplate' >
        <a id='tcross_id' class="close">&times;</a> 
      <div id='tlabel_id'class="col-xs-11" style='margin: 0'>
       <small>template message text to replace</small>
    </div>
</div>
<!--END TEMPLATE DIV  ?-->

 {%endblock jobs_template %}

<script type="text/javascript"
    src="//maps.googleapis.com/maps/api/js?key=AIzaSyDxcijg13r2SNlryEcmi_XXxZ9sO4rpr8I&sensor=false&v=3&libraries=geometry,visualization,drawing"> 
</script>


<script type="text/javascript" src="/static/js/draggable-object.js" defer></script>
<script type="text/javascript" src="/static/js/yaml/YamlInline.js" defer></script>
<script type="text/javascript" src="/static/js/yaml/YamlParser.js" defer></script>
<script type="text/javascript" src="/static/js/yaml/Yaml.js" defer></script>
<script type="text/javascript" src="/static/js/landsat-grid.js" defer></script>
<script type="text/javascript" src="/static/js/overlay-mgr.js" defer></script>
<script type="text/javascript" src="/static/js/polygon-outliner.js" defer></script>
<script type="text/javascript" src="/static/js/drawing-tools.js" defer></script>
<script type="text/javascript" src="/static/js/bootbox.min.js" defer></script>
<script type="text/javascript" src="/static/js/bootstrap-modal-popover.js" defer></script>
<script type="text/javascript" src="/static/js/jquery.nouislider.min.js" defer></script>
<script type="text/javascript" src="/static/js/layerslider.js" defer></script>
<script type="text/javascript" src="/static/js/view-maps.js" defer></script>
<script type="text/javascript" src="/static/js/base-maps.js" defer></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" defer></script>
 <!--

-->

{% endblock %}

