{% extends "base.html" %}
<!-- THIS IS THE HOME PAGE WHEN NOT LOGGED IN  -->
{% block content %}
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Chewy'>
<link rel='stylesheet' type='text/css' href='/static/css/bootstrap-social.css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
body {
    background: #294075 url("#") no-repeat left top;
    color: #0099CC ; /*Blue Hills Palette #F1F2E4 #3173Bc #294075 #2F5CC0 #3A73BC #7BACDB */
}
</style>
<div class="container"'>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-2 morepadding">
                       <a class="btn btn-block btn-social btn-reddit" data-toggle="tooltip"
                       title="About Bunjil Forest Watch."
                       href="http://blog.bunjilforestwatch.net"> Learn More</a>
        </div>
        <div class="col-md-2 morepadding">
                       <a class="btn btn-block btn-social btn-dropbox" data-toggle="tooltip"
                       title="Only your email address will be shared with this app. Neither your password nor any other details are shared."
                       href="/login/google"> <i class="fa fa-google-plus"></i>Sign in</a>
        </div>
    </div>
    <div class="row"'>
         <img src="static/images/bfw_bg.jpg" class="img-responsive" alt="Bunjil Forest Watch - background">
   </div>       
</div>
<div class='blog-iframe'><iframe class='blog-iframe' src='http://blog.bunjilforestwatch.net/about'></iframe></div>
{% endblock %}

