{% extends "base.html" %}
<!-- This is index page or localhost:8001 when user is logged in -->
<!-- See also localhost:8001/username - my areas from the menu -->
{% block content %}
<div class="container">
   <p>
    <ul class="breadcrumb">
        <li><a href="{{ "user"|url(user.name) }}">{{ user.name }}</a>  <span class="divider">/</span></li>
  <!--       <li class="active">home (role: {{user.role}})</li> -->
    </ul>
    </p>
<div class="row">
  <div class="span4 body" ><body>
    <div class="row body">
      <div class="span2"><h3>Your Areas</h3></div>
      <div class="span2"><a href="{{ "new-area"|url}}" class="btn btn-small btn-lightgreen" data-toggle="tooltip" title="Create a new area. Volunteers will review images and send you alerts.">New area</a></div>
    </div>  
         {% if not areas and not following_areas%}
           You have not created any of your own areas.
         {% else %}
            Areas you created
            {% include "areas.html" %}
         {% endif %}
     </body>
   </div>
   
   <div class="row">
  <div class="span4 body" ><body>
    <div class="row body">
      <div class="span2"><h3>Other Areas</h3></div>
    </div>  
                {% if not other_areas %}
                    No other areas defined!
                {% else %}
                     Areas you neither own nor follow 
                    {% include "allareas.html" %}
                {% endif %}
     </body>
   </div>
   
 
                
  <div class="span4"><pre><h4>Your Reports </h4>
                {% if not journals %}
                    No reports yet.
                {% else %}
                    {% include "journals.html" %}
                {% endif %}</pre> </div>
 
  <div class="span4"><pre><h4>Your Activities</h4>
                {% if not activities %}
                    No activities yet.
                {% else %}
                    {% include "activities.html" %}
                {% endif %}</pre> </div>
 </div>
  <div class="row">


	
{% endblock %}
