{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Create a new journal</h1>
	</div>

	<div class="row">
			<form class="form-horizontal" method="POST">
				<fieldset>
	           <div class="row">
	               <div class="col-md-4">
							<label class="control-label" for="name">name</label>
							<div class="controls">
								<input id="name" name="name" type="text" />
							</div>
						</div>
                    <div class="col-md-2">
						<div class="form-actions">
							<input type="submit" class="btn btn-primary" value="Create Journal">
						</div>
					</div>	
                </div>
				</fieldset>
			</form>
		</div>
	
</div>	
{% endblock %}
