{% extends "base.html" %}
{% block head %}
<style type="text/css"> 
/** FIX for Bootstrap and Google Maps Info window styes problem http://stackoverflow.com/questions/16708324/google-maps-infowindow-close-button-hidden **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
max-width: none;
}
var map;
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxcijg13r2SNlryEcmi_XXxZ9sO4rpr8I&sensor=false&v=3&libraries=geometry,visualization,drawing"> </script>
	<script src="/static/js/polygon-outliner.js"></script>
	<script src="/static/js/GeoJSON.js"></script>
	<script type="text/javascript" src="/static/js/landsat-grid.js"></script> 
	<script type="text/javascript" src="/static/js/bootbox.min.js"></script>
	<script>
    
      function initialize() {
    	  //bootbox.alert("Modal Dialog!");
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          overviewMapControl: true,
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        
        var creator = new PolygonCreator(map);
          
        

        //function to add the polygon coordinates to the form data prior to submit. 
		$(window).bind('submit',function(){
			  //alert("submitting");
			  if(null==creator.showData()){
					alert('Please first mark out the new area');
		 		}else{
		 			
		 			//convert (x,y)(x,y) to [x,y], [x,y]  > This coordstring is only printed briefly in the panel, so can be deleted.
		 			var str="[" + creator.showData(); 
		 			var n=str.replace(/\(/gi, "[");
		 			var m=n.replace(/\)\[/gi,   "], [");
		 			var coordstring=m.replace(/\)/gi, "]]");
		 			$('#map_panel').append(coordstring);
		 				 					 			
					//format polygon string returned by showData into an array of mypoints
		 			boundaryPoints = Array();
		 			var x = creator.showData();
					while(x.length > 1) {
					     var n = x.slice(x.indexOf("(")+1, x.indexOf(")") );
					     var m = n.split(",");
					     x=x.slice(x.indexOf(")")+1);
					     p= [parseFloat(m[0]), parseFloat(m[1])];
					     boundaryPoints.push(p);
					}
					
					// get and send the viewing parameters of the map
					var unwrapped_mapcenter = map.getCenter(); // can exceed 90lat or 180 lon
					var mapcenter = new google.maps.LatLng(unwrapped_mapcenter.lat(), unwrapped_mapcenter.lng()); //wrapped.
					
					var mapzoom = map.getZoom();
		 					 			
		 			var newArea = { "type": "FeatureCollection",
		 					 			 "features": [
											{ "type": "Feature",
    											"geometry":   {"type": "Point", "coordinates": [mapcenter.lat(), mapcenter.lng()]},
    											"properties": {"featureName": "mapview", "zoom": mapzoom }
    										},
		 					                { "type": "Feature",
		 					                 	"geometry":   {"type": "Polygon","coordinates": boundaryPoints},
		 					                    "properties": {"featureName": "boundary"}
		 					                 }
		 					               ]
		 					             }// End newArea
		 			var toServer = JSON.stringify(newArea);
		 			//alert(toServer);
		 			document.getElementById("coordinates_id").value = toServer
		 		}


		});

        //reset
		$('#reset').click(function(){ 
		 		creator.destroy();
		 		creator=null;
		 		creator=new PolygonCreator(map);
		 });		 

		 //show paths
		 $('#showData').click(function(){ 
			     console.log("map-panel draw");
		 		$('#map_panel').empty();
		 		if(null==creator.showData()){
		 			$('#map_panel').append('Please first create a polygon');
		 		}else{
		 			$('#map_panel').append(creator.showData());
		 		}
		 });

			//Checkbox to show/hide overlays  		
	   		$('.layer').click(function(){
	   			var layerID = parseInt($(this).attr('id'));
	   			
	    		if ($(this).is(':checked')){
	    			if(layerID == 0)
	    			{
	    				requestLandsatGrid(map, true, false);
                        
					}
					if(layerID == 1)
	    			{
					    
	    			}
	    		} 
	    		else {
		    		if(layerID == 0)
	    			{
	    				requestLandsatGrid(map, false, false);
	           		 	removeLandsatGrid();
	    			}
	    			if(layerID == 1)
	    			{
	        		}
	        	}
			});

		 //<!--resize div tip from https://github.com/twitter/bootstrap/issues/2475 -->
		  
		  $(window).resize(function () {
	    	    var h = $(window).height(),
	    	        offsetTop = 60; // Calculate the top offset

	    	    $('#map-canvas').css('height', (h - offsetTop));
	    	}).resize();   
		  // now map is drawn is a good time to set up the Instructions Popover.
		  var instructions_content = 
            "<p>" +
            "<li>Drag (Left click and hold) to move the center of the map over your area.</li>" + 
            "<li>Zoom till your area takes up most of the map.</li>" + 
            "<li>Tick the <b>Landsat Grid</b> checkbox to see where images will be taken.</li>" + 
            "<li>Create markers by clicking around the boundary in an <b><ul>anticlockwise</b></ul> direction.</li> " +
            "<li>When you get back to the starting point, click on the first marker to close the area.</li>" +
            "<li>Once the area is drawn, you can adjust it by dragging the small squares.</li>" +
            "<li>Click <i>Start Again</i> if you make a mistake.</li> " +
            "<li>Give your area a short <b>name</b> and enter a <b>description</b></li> " + 
            "<li>When you are done, click <b>Creatre Area</b>.</li>" 
        
		  $('#instructions').popover({ 
			  html : true, 
			  animation: true,
			  trigger: 'hover',
			  container: 'body',
			  title: '<b>Instructions</b> to define the boundary of a new Area of Interest:',  
			  placement: 'bottom',
			  content: instructions_content
			  });
          $('#instructions').popover();

      };
      
      google.maps.event.addDomListener(window, 'load', initialize);
  
    </script>    
    
{% endblock %}
{% block content %}
<!-- <div> -->
<!-- NO BREADCRUMBS REQUIRED FOR THIS PAGE -->
<!-- </div> -->
    
<div class="container-fluid">
	<div class="row-fluid">
   		<div class="span2">
     		<!--Sidebar content <div class="control-group"> -->
   			<form id="new_area_form" class="form-vertical" method="POST">
				<fieldset>
					<div>
                   <div class="controls">
                        <input id="instructions"  type="button" class="btn btn-lightblue" style="width:180px" rel="popover" value="Instructions"/>
                    </div>
					
					<div class="control-group">
						<label class="control-label" for="name" data-toggle="tooltip" title="Choose a short unique name that will identify the area to others">Enter name for new Area</label>
						<input id="name" name="name" type="text" style="width:180px"/>
					</div>
					<div>
						<label class="control-label" for="description"  data-toggle="tooltip" title="Why is this area important ?">Enter Description of this Area</label>
						<textarea rows="5" cols="20" style="width:180px" name="description" form="new_area_form">...</textarea>
					</div>
					<div>
						<input type="checkbox" id="0" class="layer" unchecked/><label for="0">Show Landsat Grid </label>
					</div>	
					<div class="controls">
						<input id="coordinates_id" name="coordinates" type="hidden" value="undefined"/>
					</div>
					<div class="control-group">
						<input id="reset", type="reset" class="btn btn-lightred" style="width:180px" value="Start Again" data-toggle="tooltip" title="Clear all the markers on the map">

					<div class="control-group">
<!-- 						<input id="showData"  type="button" class="btn btn-lightblue" value="Show Boundary Points"/> -->
					</div>
					<div class="control-group">
						<input type="submit" class="btn btn-lightgreen" style="width:180px" value="Create Area">
					</div>
					<div id="map_panel" class="control-group" rows="5" cols="25" name="panel" >
						<p class="divider"></p>
			      	</div>
			    </div>
				</fieldset>
			</form>	
		</div>
 			<div class="span10">
     			<!--Map content-->
	  			<div id="map-canvas"> </div>
 			</div>
	</div>
</div>
{% endblock %}

