{% extends "base.html" %}
{% block head %}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxcijg13r2SNlryEcmi_XXxZ9sO4rpr8I&sensor=true"></script>
	<script src="/static/js/polygon-outliner.js"></script>
	<script src="/static/js/GeoJSON.js"></script>
 
    <script>
    
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        
        var creator = new PolygonCreator(map);
          
      
        //function to add the polygon coordinates to the form data prior to submit. 
		$(window).bind('submit',function(){
			  //alert("submitting");
			  if(null==creator.showData()){
					alert('Please first mark out the new area');
		 		}else{
		 			
		 			//convert (x,y)(x,y) to [x,y], [x,y]  > This coordstring is only printed briefly in the panel, so can be deleted.
		 			var str="[" + creator.showData(); 
		 			var n=str.replace(/\(/gi, "[");
		 			var m=n.replace(/\)\[/gi,   "], [");
		 			var coordstring=m.replace(/\)/gi, "]]");
		 			$('#dataPanel').append(coordstring);
		 				 					 			
					//format polygon string returned by showData into an array of mypoints
		 			boundaryPoints = Array();
		 			var x = creator.showData();
					while(x.length > 1) {
					     var n = x.slice(x.indexOf("(")+1, x.indexOf(")") );
					     var m = n.split(",");
					     x=x.slice(x.indexOf(")")+1);
					     p= [parseFloat(m[0]), parseFloat(m[1])];
					     boundaryPoints.push(p);
					}
					
					// get and send the viewing parameters of the map
					var mapcenter = map.getCenter();
					
					
					//c= parseFloat(mapcenter.lat()), parseFloat(mapcenter.lon());
					
					var mapzoom = map.getZoom();
		 					 			
		 			var newArea = { "type": "FeatureCollection",
		 					 			 "features": [
											{ "type": "Feature",
    											"geometry":   {"type": "Point", "coordinates": [mapcenter.lat(), mapcenter.lng()]},
    											"properties": {"featureName": "mapview", "zoom": mapzoom }
    										},
		 					                { "type": "Feature",
		 					                 	"geometry":   {"type": "Polygon","coordinates": boundaryPoints},
		 					                    "properties": {"featureName": "boundary"}
		 					                 }
		 					               ]
		 					             }// End newArea
		 			var toServer = JSON.stringify(newArea);
		 			//alert(toServer);
		 			document.getElementById("coordinates_id").value = toServer
		 		}
		});

        //reset
		$('#reset').click(function(){ 
		 		creator.destroy();
		 		creator=null;
		 		creator=new PolygonCreator(map);
		 });		 

		 //show paths
		 $('#showData').click(function(){ 
		 		$('#dataPanel').empty();
		 		if(null==creator.showData()){
		 			$('#dataPanel').append('Please first create a polygon');
		 		}else{
		 			$('#dataPanel').append(creator.showData());
		 		}
		 });

		
		 //<!--resize div tip from https://github.com/twitter/bootstrap/issues/2475 -->
		  
		  $(window).resize(function () {
	    	    var h = $(window).height(),
	    	        offsetTop = 60; // Calculate the top offset

	    	    $('#map-canvas').css('height', (h - offsetTop));
	    	}).resize();
	      
      };
      
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>    
    
{% endblock %}
{% block content %}
	<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content <div class="control-group"> -->
      	
		<form id="new_area_form" class="form-vertical" method="POST">
				<fieldset>
					<div>
						<label class="control-label" for="name">Enter name for new Area</label>
						<div class="controls">
							<input id="name" name="name" type="text" style="width:150px"/>
						</div>
						<div class="controls">
							<input id="coordinates_id" name="coordinates" type="hidden" value="undefined"/>
						</div>
					</div>
					<div class="control-group">
						<input type="submit" class="btn btn-primary" value="Create Area">
					</div>
					<!-- <div class="form-actions"> -->
					<div class="control-group">
						<input id="reset", type="reset" class="btn btn-secondary" value="Start Again">
					</div>
					<div class="control-group">
						<input id="showData"  type="button" class="btn btn-secondary" value="Show Boundary Points"/>
					</div>
					<div   id="dataPanel">
					</div>
				</fieldset>
		</form>	
		<label class="control-label" for="description">Enter Description of this Area</label>
		<textarea rows="5" cols="25" name="description" form="new_area_form">...</textarea>
		
   </div>
  <div class="span10">
      <!--Body = Map content-->
        <h3>Add new Area of Interest</h3>
     	<p><span class="instruction"><b>To define the boundary of a new Area of Interest:</b></span></p>
		<li>Left click and hold to drag the center of the map to your part of the earth.</li>
		<li>Zoom till your area takes up most of the map.</li>
		<li>Left click on the map to create markers, when last marker meets first marker, it will form a polygon.</li> 

  <div id="map-canvas"> </div>
  </div>
</div>
</div>
{% endblock %}

