{% extends "base.html" %}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

{% block head %}
<title>Bunjil Forest Watch - New Area</title>

<link rel="stylesheet" href="/static/css/drawing-tools.css">
<link rel="stylesheet" href="/static/css/codemirror.css">
<link rel="stylesheet" href="/static/css/simplescrollbars.css">
<link rel="stylesheet" href="/static/css/lint.css">
<link rel="stylesheet" href="/static/css/new-area.css">

<script type="text/javascript">
	var single_map = true;
	var view_mode = "view-area";
	var initial_dragger = "100%";
</script>


{% endblock %} {% block map_head %} {% endblock map_head %} {% block content %}



<!-- NO BREADCRUMBS REQUIRED FOR THIS PAGE -->

<div id='area_json' class='django-template'>{{ area_json}}</div>
<div id='celllist' class='django-template'>{{ celllist }}</div>
<div id='latlng' class='django-template'>{{ latlng}}</div>
<div id='user_name' class='django-template'>{{ user.name }}</div>
<div id='user_url' class='django-template'>{{ "user"|url(user.name) }}</div>

<div class="space-above-form"></div>

<div class="container">
	<div class="form-horizontal" id="new_area_form">
		<!-- Form Name -->


		<div class='form-legend'>
			Register your forest area
			<!-- <span class="glyphicon glyphicon-question-sign" ></span> -->
		</div>


		<div class='framing-help'>
			If you live or work near a forest and want to protect it then register it for monitoring.<br>
		</div>


		<div class='framing-sub-help'>
			Volunteers don't have to register a forest. They can <a href='/'>help others monitor their forests</a>.
		</div>

		<div class="row">
				
       <div class="panel-group" id="options-accordion">
    <div class="panel-heading">
                    <!-- panel-heading -->

                    <h4 class="panel-title">
                        <a data-parent="options-accordion" data-toggle="collapse" id="areanameAccord_title">Area Name</a>
                    </h4>
                </div>
			<div class="panel-collapse collapse in" id="areanameAccord">
				<div class="panel-body">
					<div class="form-group">
	
			            <label class="col-md-4 control-label" for="area_name"><span class='asterix' data-toggle="tooltip"
                                title='This field is required'>*</span> Area Name</label>
						
						<div class="col-md-4">
							<input accesskey="n" autofocus='' class="form-control input-md" id="area_name" name="area_name"
								placeholder="Give your area a short name" tabindex="1" type="text"> <span class="help-block">Enter 
								a short unique name</span>
						</div>
					</div>
				</div>
			</div>
			<div class='validation' id='area-name-validation'>Give your area a short name.</div>                
			
		<div class="controls">
			<input id="geojson_toserver" name="geojson_toserver" type="hidden" value="undefined">
		</div>

			<div>
				<!-- panel panel-info -->
				<div class="panel-heading">
					<!-- panel-heading -->

					<h4 class="panel-title">
						<a data-parent="options-accordion" data-toggle="collapse" id="sharingAccord_title">Sharing Options</a>
					</h4>
				</div>
				<!-- panel body -->

				<div class="panel-collapse collapse in" id="sharingAccord">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-md-4 control-label" for="opt-sharing">
							     <span class='asterix' title="This field is required">*</span>
							     Shared or Private?
							</label>

							<div class="col-md-6">
								<div class="radio" id='private'>
									<label for="private"><input accesskey="r" name="opt-sharing" tabindex="2" type="radio" value="private">
										Private</label>
								</div>
								<span class="help-block">Only you can see and monitor this area. Volunteers can't see it and won't be able to
									help you monitor. See <a href="http://bunjilforestwatch.net/privacy">Privacy</a>
								</span>

								<div class="radio" id='unlisted'>
									<label for="unlisted"><input accesskey="u" name="opt-sharing" tabindex="3" type="radio" value="unlisted">
										Unlisted</label>
								</div>
								<span class="help-block">Only people with the link can see or follow this area</span>

								<div class="radio" id='public'>
									<label for="public"><input accesskey="p" name="opt-sharing" tabindex="4" type="radio" value="shared">
										Shared</label>
								</div>
								<span class="help-block">Everyone can see and follow this area.</span>

									</div>
						</div>
					</div>
				</div>
	
	           <div class='validation' id='sharing-validation'>
	               Choose  private, unlisted or shared. shared allows volunteers to help you monitor. 
	           </div>
    
			</div>

			<div>
				<!-- panel panel-info Monitoring Options Accordion -->

				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-parent="options-accordion" data-toggle="collapse" id="monitoringAccord_title">Monitoring Options</a>
					</h4>
				</div>
				<!-- panel body -->

				<div class="panel-collapse collapse in" id="monitoringAccord">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-md-4 control-label" id="opt-monitoring">Monitoring Options</label>

							<div class="col-md-6">
								<div class="checkbox">
									<label for="self-monitor"><input accesskey="m" checked="checked" id="self-monitor" name="self-monitor"
										tabindex="5" type="checkbox" value="self-monitor"> Self-monitor</label> <span class="help-block">Notify me when
										there are new images of my area. I have time and bandwidth to review images</span>
								</div>


								<div class="checkbox">
									<label for="request-volunteers"><input accesskey="v" checked="checked" id='request-volunteers'
										name="request-volunteers" tabindex="6" type="checkbox" value="request-volunteers"> Community monitoring</label> <span
										class="help-block">Ask Volunteers to help monitor my area. I don't have the ability to monitor images for
										changes.</span>
								</div>


							</div>
						</div>
					</div>
				</div>
				
		      <div class='validation' id='monitoring-validation'>
		          Either self-monitor or request volunteers.
	          </div>
            
			</div>
            
            
            
            <!-- Agreement Undertaking -->
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-parent="options-accordion" data-toggle="collapse" id="agreementAccord_title">Agree to Monitor</a>
				</h4>
			</div>
			<div class="panel-collapse collapse in" id="agreementAccord">
				<div class="panel-body">
					<div class="form-group">
						<label class="col-md-4 control-label" for="accept"><span class='asterix'
							title="You must agree to investigate disturbances to request volunteers">*</span>I Accept</label>

						<div class="col-md-6">
							<label class="checkbox-inline" for="accept"><input accesskey="" id="accept" name="accept" tabindex="7"
								type="checkbox" value="true"> I agree to investigate disturbances to this area reported by volunteers</label>

						</div>
				</div>
			</div>
               
			</div>
			 <div class='validation' id='accept-validation'>
                        To register an area you must agree to investigate reports in your area.
             </div>
                
             <hr>
                
		</div>

		<!-- NEXT -->

		<div class="form-group" id='next-subform'>
	         <div class='col-md-4'></div>
    	      <div class='col-md-5'>
			     <button accesskey="x" class="btn btn-default btn-form-ctrl"
					id="next-area" name="next-area" tabindex="8">
					Next
				</button>
			</div>	

			<div class="col-md-8">
				<div class="help-block" id='form-errors'></div>
			</div>
		</div>
	</div>
	<div class="row" id='scroll-to-here' style='display: none'></div>
	<div class="row" id='map-find' style='display: none'>
		<!-- Help Locate your Area -->
		<div class="panel-group" id="locate-accordion">
			<!-- Help Locate accordion -->

			<div id='helplocateAccord_c'>
				<!-- panel panel-info -->

				<div class="panel-heading">
					<!-- panel-heading -->

					<h4 class="panel-title">
						<a data-parent="#locate-accordion" data-toggle="collapse" id="helplocateAccord_title">Help Finding your area</a>
					</h4>
				</div>
				<!-- panel body -->


				<div class="panel-collapse collapse in" id="helplocateAccord">
					<div class="panel-body">
						<div class='form-legend'>Locate your Area</div>


						<div id='subform-find-help'>
							<div class="row">
								<div class="col-md-1"></div>


								<div class="col-md-6">
									<label class="subform-control-label">Need help finding your area?</label>
								</div>


								<div class="col-md-5"></div>
							</div>


							<div class="row">
								<div class="col-md-1"></div>


								<div class="col-md-3 form-group">
									<label class="control-label">My Forest is here</label>
									<button class="btn btn-default" id="zoom-here" name="zoom-here">Use My Location</button>

									<p class="help-block" id='zoom-here-help'>Click if your forest is near you now.</p>
								</div>


								<div class="col-md-7 form-group">
									<label class="control-label" for='searchbox_id'>Find by name</label> <input class="form-control input-md"
										id="searchbox_id" name="searchinput" placeholder="Enter name of a place near your area" type="text">

									<p class="help-block">Map will zoom to that place</p>
								</div>


								<div class="col-md-1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div id='drawlocateAccord_c'>
				<!-- Draw Location Accordion -->


				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-parent="#locate-accordion" data-toggle="collapse" id="drawlocateAccord_title">Mark your area on the map</a>
					</h4>
				</div>
				<!-- panel body -->


				<div class="panel-collapse collapse in" id="drawlocateAccord">
					<div class="panel-body">
						<!-- DRAWING MODE BUTTONS -->


						<div class="row">
							<!--  LANDSAT GRID -->


							<div class='col-md-1'>
								<input checked id="landsat-grid" type="checkbox" value='true'> <label><span
									class="glyphicon glyphicon-th" data-toggle="tooltip" style='color: #234196'
									title="Show grid of the shape of Landsat images"></span></label>
							</div>

							<div class="col-md-6">
								<label class="subform-control-label">Mark your area on the map</label>
							</div>


							<div class="col-md-5"></div>
						</div>
						<!-- MOVE DRAG THEN PLACE-MARK -->


						<div class="row" id='drag-map-form'>
							<div class="col-md-1"></div>


							<div class="col-md-2 form-group">
								<button class="btn btn-primary" data-placement="top" data-target='#zoom-more-popover' data-toggle="popover-x"
									id="drop-pin-mode" name="drop-pin">
									Place mark <span class="glyphicon glyphicon glyphicon-map-marker" style='color: #FA7063'></span>
								</button>

								<div class='popover popover-info' data-toggle="popover-x" id="zoom-more-popover">
									<div class="arrow"></div>


									<h3 class="popover-title">Zoom in closer!</h3>


									<div class="popover-content">
										To place a mark accurately you must zoom in more.<br> <b>Double Click</b> near your area on the map to zoom in
										more.<br> Or use the zoom slider on the left side of the map.
									</div>


									<div class="popover-footer">
										<button class="btn btn-sm btn-info" id='zoom-more-popover-close'>Close</button>
									</div>
								</div>
							</div>


							<div class="col-md-7 form-group">
								<label class="control-label" id='move-map-label' style='text-align: left'><a class="popup"
									data-placement="bottom" data-target='#zoom-help-popover' data-toggle="popover-x" data-trigger='hover click'
									id="zoom-help">Zoom</a> and <a class="popup" data-target='#drag-help-popover' data-toggle="popover-x"
									data-trigger='hover click' id="drag-help">Drag</a> the map so it shows your area. Then click <i>Place Mark</i></label>

								<div class='popover popover-info' id="zoom-help-popover">
									<div class="arrow"></div>


									<h3 class="popover-title">Zooming</h3>


									<div class="popover-content">
										To zoom in more <b>Double Click</b> near your area on the map.<br> Or use the zoom slider on the left side of the
										map.
									</div>


									<div class="popover-footer">
										<button class="btn btn-sm btn-info" id='zoom-help-popover-close'>Close</button>
									</div>
								</div>


								<div class='popover popover-info' id="drag-help-popover">
									<div class="arrow"></div>


									<h3 class="popover-title">Moving the Map</h3>


									<div class="popover-content">
										To drag the map <b>Click and Hold</b> the mouse over the map.<br> Or use the arrows on the top left corner of the
										map.
									</div>


									<div class="popover-footer">
										<button class="btn btn-sm btn-info" id='drag-help-popover-close'>Close</button>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class='col-md-1'></div>
							<!-- MARKING-MAP-->


							<div id="mark-map-form">
								<div class="col-md-7 form-group">
									<label class="control-label">Click on the map over your area to mark where it is.</label>
								</div>
							</div>
							<!-- SAVING-AREA-->


							<div id="save-area-form">
								<div class='col-md-2'>
									<button class="btn btn-primary" id="save-area" name="move-map">
										Save <span class="glyphicon glyphicon glyphicon-save" style='color: #FA7063'></span>
									</button>

									<div class='popover popover-info popover-md' data-placement='right' data-target='#save-wait-popover1'
										data-toggle="popover-x" id="save-wait-popover" style='display: none'>
										<div class="arrow" id='save-wait-popover1'></div>

										<h3 class="popover-title">Saving Area</h3>

										<div class="popover-content">
											Saving your area now.<br /> <img src='/static/img/ajax-loader.gif' class='ajax-loader' alt="" />
										</div>

										<div class="popover-footer">
											<button class="btn btn-sm btn-default" id='close-dialog-save-area-wait'>OK</button>
										</div>
									</div>
								</div>


								<div class="col-md-5 form-group">
									<label class="control-label">If mark is over your area click <i>Save area</i></label>
								</div>
							</div>
						</div>
						<!-- MOVE MAP LINK -->


						<div class="form-group" id='move-map-form'>
							<div class="col-md-1">
								<button class="btn btn-small" data-toggle="tooltip" id="move-map-mode" name="move-map-mode"
									title="Reposition the map view">
									Drag Map<span class="glyphicon glyphicon glyphicon-hand-up" style='color: #FA7063'></span>
								</button>
							</div>


							<div class="col-md-1"></div>


							<div class="col-md-1">
								<button class="btn btn-small" data-toggle="tooltip" id="clear-map" name="clear-map" title="Clear all marks on the map">
									Clear <span class="glyphicon glyphicon glyphicon-erase" style='color: #FA7063'></span>
								</button>
							</div>


							<div class="col-md-1">
								<img alt="Advanced" id='advanced' src="/static/img/gear-icon.png" style="width: 20px; height: 20px">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  DESCRIPTION  -->
	<div class='row' id='update-area-form' >
		<div class="panel-group">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-parent="options-accordion" data-toggle="collapse" id="descriptionAccord_title">Describe your area</a>
				</h4>
			</div>

			<div class="panel-collapse collapse" id="descriptionAccord">
              
				<div class="accordion-group">
					
					<div class="accordion-body collapse in"  data-toggle="collapse" id="descriptionAccord_title">
						<div class="accordion-inner">
							<div class="accordion" id="inner_accordion">

                                     <input  id="auto-collapse" type="checkbox" > 
                                     <label>
                                            <span class="glyphicon glyphicon-list" data-toggle="tooltip" style='color: #234196' title='Show all forms'></span>
                                      </label>
                                      
                                 
                                           
		                  			Tell volunteers about your forest. 

                                    <div class="accordion-group">
		                                    <div class="accordion-heading">
		                                        <a class="accordion-toggle" data-parent="#inner_accordion" data-toggle="collapse" href="#area_descr_what">Description</a>
		                                    </div>
		
		                                    <div class="accordion-body collapse" id="area_descr_what">
		                                        <div class="accordion-inner small">
		                                            <textarea class="map-panel-controls" form="new_area_form" id="area_descr_what_text" name="description-what"
		                                                placeholder="What can be found in your park" rows="3">
		                                            </textarea>
		                                        </div>
		                                    </div>
                                </div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-parent="#inner_accordion" data-toggle="collapse" href="#area_descr_why">Why's this area important?</a>
									</div>

									<div class="accordion-body collapse" id="area_descr_why">
										<div class="accordion-inner small">
											<textarea class="map-panel-controls" form="new_area_form" id="area_descr_why_text" name="description-why"
												placeholder="Explain why it's important to monitor this area" rows="3">
											</textarea>
										</div>
									</div>
								</div>

                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-parent="#inner_accordion" data-toggle="collapse" href="#area_descr_threats">What's threatening this area?</a>
                                    </div>

                                    <div class="accordion-body collapse" id="area_descr_threats">
                                        <div class="accordion-inner small">
                                            <textarea class="map-panel-controls" form="new_area_form" id="area_descr_threats_text" name="description-threats"
                                                placeholder="What are the main threats to this forest?" rows="3">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>

								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-parent="#inner_accordion" data-toggle="collapse" href="#area_descr_who">Who's monitoring it?</a>
									</div>


									<div class="accordion-body collapse" id="area_descr_who">
										<div class="accordion-inner small">
											<textarea class="map-panel-controls" cols="" form="new_area_form" id="area_descr_who_text" name="description-who"
												placeholder="Who is going to act on reports of disturbances in this area" rows="3">
</textarea>
										</div>
									</div>
								</div>
							</div>


							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-parent="#inner_accordion" data-toggle="collapse" href="#area_descr_how">How's it protected?</a>
								</div>


								<div class="accordion-body collapse" id="area_descr_how">
									<div class="accordion-inner small">
										<textarea class="map-panel-controls" cols="" form="new_area_form" id="area_descr_how_text" name="description-how"
											placeholder="How is this area protected? For example, Is it a national park or a native area?" rows="3">
</textarea>
									</div>
								</div>
							</div>
							
							<div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-parent="#inner_accordion" data-toggle="collapse" href="#area_descr_wiki">Web site or Wiki</a>
                                    </div>

                                    <div class="accordion-body collapse" id="area_descr_wiki">
                                        <div class="accordion-inner small">

									            <div id='area-wiki-form' class="form-group">
									                <label class="col-md-4 control-label" for="area_wiki">URL for area</label>
									
									                <div class="col-md-4">
									                    <input accesskey="w"  class="form-control input-md" id="area-wiki" name="area_wiki"
									                        placeholder="http://example.com or www.mywebpage.com" tabindex="1" type="text"> <span class="help-block">
									                        If your area already has a web page,  enter a link to the web page here. This is optional.</span>
									
									                    <div class='validation' id='area-wiki-validation'>Not a valid link. If unsure, leave this blank</div>
									                </div>
									            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
				   </div>
			  </div>
		</div>

		  <hr>
        </div>
	</div>
	
	<!--  DEFINE AREA - BOUNDARY SELECTION  -->


	<div>
		<fieldset class='control-label map-panel-controls' id='boundary-form' style='display: none'>
			<div class='form-legend control-label'>
				Area boundary <span style="color: #ff0000">*</span>
			</div>


			<div class='framing-help'>
				You can draw the boundary of your area now, or enter it from another source.<br>
			</div>


			<div class='framing-sub-help'>The boundary defines the size and shape of the area to select the best images and to help
				observers.</div>


			<div class="radio">
				<label><input name="opt-fusion" type="radio" value="is-drawmap">Draw my area on a map</label>
			</div>


			<div class="radio">
				<label><input name="opt-fusion" type="radio" value="is-fusion">Area's boundary is in a fusion table</label>
			</div>
		</fieldset>
	</div>


	<div class="row" id='map-row' style='display: none'>
		<!-- MAP APPEARS HERE -->


		<div class='col-md-12 nopadding' id='map-column'>
			<div class='map-canvas' id='map-canvas-c'>
				<div id="drop-container">
					<div id="drop-silhouette"></div>
				</div>


				<div id="map-canvas"></div>
			</div>
		</div>


		<div class='col-md-3 nopadding' id='geojson-column' style='display: none'>
			<!--  GeoJSON -->


			<div class='extended-content-container' id='geojson-editor'>
				<div id='geojson-panel'>
					<div class='help-block' id="geojson-controls">
						<div id="panel-title">Edit GeoJSON</div>
						<a class="btn btn-sm btn-default" id="select-all">Select All</a> <a class="btn btn-sm btn-default" download="my_area.json"
							href="data:;base64," id="download-link">Download<span class="glyphicon glyphicon glyphicon-download-alt"
							style='color: #FA7063'></span></a>
					</div>

					<textarea cols="" id="geojson-input" placeholder="Drag GeoJSON to map" rows="">
</textarea>
				</div>
			</div>
		</div>
	</div>
	


	<div class="control-group">
		<input class="btn btn-lightgreen map-panel-controls" id="createarea_id" style='display: none' type="button"
			value="Create Area">
	</div>


	<div class="control-group">
		<div class="controls">
			<input id="coordinates_id" name="coordinates" type="hidden" value="undefined">
		</div>


		<div class="map-panel-fusiontable" id="fusiontable-form-c" style='display: none'>
			<label class="control-label map-panel-controls" data-toggle="tooltip" for="boundary_ft"
				title="If your area's boundary is already in a fusion table, link to it here.">Fusion Table Id: <span
				style="color: #ff0000">*</span></label> <input class="map-panel-controls" id="boundary_ft" name="boundary_ft" type="text">
		</div>


		<div id="boundary-instructions" style='display: none'></div>
	</div>


	<form action=""></form>
</div>
<div></div>
{% include "includes/project_scripts.html" %} {% include "includes/map_scripts.html" %}

<script src="/static/js/vendor/codemirror.js" type="text/javascript"></script>
<!-- geojson editor -->
<script src="/static/js/vendor/javascript.js" type="text/javascript"></script>
<!-- Context highlighting for json in editor -->
<script src="/static/js/vendor/simplescrollbars.js" type="text/javascript"></script>
<!-- for editor -->
<script src="/static/js/vendor/placeholder.js" type="text/javascript"></script>
<!-- for editor -->

<script src="/static/js/vendor/lint.js" type="text/javascript"></script>
<!-- addon for editor -->
<script src="/static/js/vendor/geojsonhint.js" type="text/javascript"></script>
<!-- parses geojson-->
<script src="/static/js/vendor/jsonlint-min.js" type="text/javascript"></script>
<!-- parses json can remove min to debug-->
<script src="/static/js/geojson-lint.js" type="text/javascript"></script>
<!-- addon connects lint to editor -->

<script src="/static/js/new-area.js" type="text/javascript"></script>
{% endblock %} {% block footer_js%} {% endblock footer_js %}

