<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "base.html" %}

{% block content %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> <!-- IE8 doesn't support iframes -->
		<meta name="description" content="move to main unauthenticated page" />
		<meta name="keywords" content="forest montitoring" />
		<title>Observatory</title>
	
	
	
		<!-- 
	
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/ui.all.css" />
		<link rel="stylesheet" type="text/css" href="static/css/anotherearth.css" />
		<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAXlB-hI7mbWiEzmErvxFCOxThONsl4T1EdVdA9qrIAKF3P4QumxQWOexr5JsDgGDMaaRvNXAQfDdeHg" charset="utf-8"></script>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery-min.js" charset="utf-8"></script>
		<script  src="//ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" charset="utf-8"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">	 
	
	

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="js/anotherearth-static-min-2.js" charset="utf-8"></script>
		<script type="text/javascript" src="js/Pakistan_container-min-2.js" charset="utf-8"></script>
	
		-->
		<link rel="stylesheet" type="text/css" href="static/css/anotherearth.css" />
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/ui.all.css" />
		<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAXlB-hI7mbWiEzmErvxFCOxThONsl4T1EdVdA9qrIAKF3P4QumxQWOexr5JsDgGDMaaRvNXAQfDdeHg" charset="utf-8"></script>
		
		<script type="text/javascript">
			google.load("maps",     "2");//solely for google.maps.Language
			google.load("earth",    "1");
			google.load("language", "1");
			google.load("search",   "1");
		</script>
	 	
		<script type="text/javascript" src="static/js/org/anotherearth/StaticUiValues.js" charset="utf-8"></script>
		
		<script type="text/javascript" src="static/js/org/anotherearth/command/EquateCameraAltitudesCommand.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/command/EquateCameraHeadingsCommand.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/command/EquateCameraLatsLngsCommand.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/command/EquateCameraTiltsCommand.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/command/LinkCreatorCommand.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/command/RedoCommand.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/command/ToggleDonorEarthCommand.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/command/ToggleDonorEarthCommand.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/command/ToggleEarthExtraCommand.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/command/ToggleMovementLockCommand.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/command/UndoCommand.js" charset="utf-8"></script>
		
		<script type="text/javascript" src="static/js/org/anotherearth/view/ControlPanelFieldSet.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/EquateAltitudesButtonStrategy.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/EquateHeadingsButtonStrategy.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/EquateLatLngsButtonStrategy.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/EquateTiltsButtonStrategy.js" charset="utf-8"></script>

		<script type="text/javascript" src="static/js/org/anotherearth/view/LinkCreatingButtonUpdateStrategy.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/LockableEarth.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/MiscellaneousElement.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/Panel_ControlPanel.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/RedoButtonUpdateStrategy.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/RadioButtons.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/SelectBox.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/SearchBox.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/SimpleButton_TwoEarthsButton_LinkCreatorButton.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/ShrinkableSubPanel.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/TwoEarthsCheckbox.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/view/UndoButtonUpdateStrategy.js" charset="utf-8"></script>
		
		<script type="text/javascript" src="static/js/org/anotherearth/lib/jquery.bgiframe.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/lib/Translator-1.0.1.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/lib/ui.dropdownchecklist.js" charset="utf-8"></script>
	

		
		<script type="text/javascript" src="static/js/org/anotherearth/util/ArrayList.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/util/BrowserLanguageTranslator.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/util/IFrameGenerator.js"charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/util/interface_definitions.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/util/Interface.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/util/NullIterator.js" charset="utf-8"></script>
		
		<script type="text/javascript" src="static/js/org/anotherearth/model/EarthsManager.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/model/URLManager.js" charset="utf-8"></script>
	
		<script type="text/javascript" src="static/js/org/anotherearth/controller/EarthsController.js".js" charset="utf-8"></script>
	
		<script type="text/javascript" src="static/js/org/anotherearth/main_container.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/anotherearth_init.js" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/org/anotherearth/Pakistan_container.js" charset="utf-8"></script>
		
		
		
		<!-- W3C -->
		<link rel="icon" type="image/png" href="favicon.png" />
		<!-- IE7 -->
		<link rel="Shortcut Icon" href="favicon.ico" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<div class="panel ui-widget" id="html_welcome_message"><!-- to be removed by script and replaced with near-identical text -->
			<h1>Observatory - Instructions</h1>
			<p>The left-hand Earth shows an older image of the area. The right-hand image is the latest</p>
		</div>
		<div class="panel ui-state-highlight ui-widget" id="js_incompatibility_message"><!-- to be removed by script -->
			<p>
				Sorry; this site relies upon JavaScript's being enabled in your browser, and an internet connection.
			</p>
		</div>
		<script type="text/javascript" charset="utf-8"><!-- google analytics tracking -->
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript" charset="utf-8">
			try {
			var pageTracker = _gat._getTracker("UA-12946428-1");
			pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</body>
</html>
	
{% endblock %}
