{% extends "base.html" %} {% block content %}
<div class="container" style='margin-bottom: 0'>
	<div class="page-header">
		<h1>Welcome</h1>
        {% if role=='volunteer' %}
            <p>Thank you for registering to become a Bunjil Forest Watch Volunteer!</p>
            <p>There are a few more steps to complete your registration.</p>
	    {% elif role=='local' %} 
            <p>Thank you for signing in to Bunjil Forest Watch.</p>
            <p>There are a few more steps to complete before Bunjil will start monitoring your forest.</p>
        {% else %} 
            <p>Thank you for signing in to Bunjil Forest Watch.</p>
            <p>There are a few more steps to complete your registration.</p>
        {% endif %} 
    </div>
	<div class="row">
		<div class="col-xs-8">
		  <h4>Choose a Username</h4>
			<p>Please enter a username for this site. This is how other forest watchers will recognize you. Your real name and email are hidden</p>
			<p>For example you could use the start of your email address, or your first or last name. Spaces are not allowed.
			<form class="form-horizontal" method="POST" action="{{ "register"|url }}">
				<fieldset>
					<div class="control-group{% if errors.username %} error{% endif %}">
						<label class="control-label" for="username">username <span style="color: #ff0000"> *</span></label>
						<div class="controls">
							<input class="input-large" id="username" name="username" type="text" value="{{ username }}"> {% if
							errors.username %}<span style="color: #ff0000" class="help-inline">{{ errors.username }}</span>{% endif %}
						</div>
					</div>
	                {% if role=='volunteer' %}
                    <div class="control-group">
                        <div class="controls">
                            <label class="radio"> 
                            <input type="radio" name="roleoptionsRadios" id="optionsRadios2" value="volunteer" checked='true'> I want to help locals in remote
                                areas to protect their forest. I can volunteer time.
                            </label>
                        </div>
                    </div>
                    {% elif role=='local' %}
                    <div class="control-group">
                        <div class="controls">
                            <label class="radio" for "role" > 
                            <input type="radio" name="roleoptionsRadios" id="optionsRadios1" value="local" checked='true' >I look after a nearby forest. 
                                Please alert me when anything changes.
                            </label>
                        </div>
                    </div>
   				    {% else %}

                    <h4>How will you mainly use Bunjil Forest Watch?</h4>
                    <label class="control-label" for="role"><b>Select your main role </b><span style="color: #ff0000"> *</span></label>
					<div class="control-group">
						<div class="controls">
							<label class="radio" for "role" > 
							<input type="radio" name="roleoptionsRadios" id="optionsRadios1" value="local" unchecked='false' 
								onClick="document.getElementById('submit1').disabled = false;
                                document.getElementById('submit1').removeAttribute('disabled');">I look after a nearby forest. 
                                Please alert me when anything changes.
							</label>
						</div>
						<div class="controls">
							<label class="radio"> 
							<input type="radio" name="roleoptionsRadios" id="optionsRadios2" value="volunteer" unchecked='true' 
							    onClick="document.getElementById('submit1').disabled = false;
					            document.getElementById('submit1').removeAttribute('disabled');">I want to help locals in remote
								areas to protect their forest. I can volunteer time.
							</label>
						</div>
					</div>
                    {% endif %}

					<div class="form-actions">
					       <p></p>
						<input id="submit1" type="submit"    {% if role!='volunteer' and role!='local' %} disabled {% endif %}  class="btn btn-primary" 
						name="submit" value="Register">
					</div>
					<!-- 
                    <div class="control-group">
                        <br><p>After you register, <b>Bunjil Forest Watch</b> will send emails about areas you monitor to</p>
                        <label class="control-label" for="email" style="color:#707070">your email address</label>
                        <div class="controls">
                             <input id="email" name="email" style="color:#707070" readonly type="text" value="{{ email }}">
                        </div>
                    </div>
                    -->
				</fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock %}
