{% extends "base-maps.html" %} 
{% block map_head %}
<script>

var instructions_str =  
    "The white squares overlapping your area are the outlines of Landsat images<br/><br/>" + 
    "<b>Click to Select </b> the squares that overlap critical areas you wish to monitor.<br />" +
    "Selected cells are highlighted.<br />" +
    "Only select the cells that you need to monitor.<br><br>" +
    "Clicking again will unselect a cell.<br /><br>" ;

var single_map = true; 
</script>

    
{% endblock map_head %} 
    
{% block breadcrumbs %}
<div class="container" >
	<ul class="breadcrumb">
		<li><a href="{{ "user"|url(username) }}">{{ username }}</a> </li>
		<li class="active"><a href="{{ area|area_url }}">{{ area }}</a></li>
	</ul>
</div>
{% endblock breadcrumbs%} 

{% block map_content %}
{% endblock %}
