{% extends "base.html" %} {% block head %}
<!--  http://localhost:8001/obs/bunjilfw/agxkZXZ-YnVuamlsZndyHAsSD09ic2VydmF0aW9uVGFzaxiAgICAgMymCQw  -->
<!-- http://localhost:8001/obs/test2/agxkZXZ-YnVuamlsZndyHAsSD09ic2VydmF0aW9uVGFzaxiAgICAgLbNCAw -->
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
html {
	height: 100%
}


#map-canvas-left {
	height: 100%
}

#map-canvas-right {
	height: 100%
}
</style>

<link href="/static/css/jquery.nouislider.css" rel="stylesheet">


<script type="text/javascript"

src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxcijg13r2SNlryEcmi_XXxZ9sO4rpr8I&sensor=false&v=3&libraries=geometry,visualization,drawing"> </script>
<script type="text/javascript" src="/static/js/draggable-object.js"></script>
<script type="text/javascript" src="/static/js/custom-tile-overlay.js"></script>
<script type="text/javascript" src="/static/js/yaml/YamlInline.js"></script>
<script type="text/javascript" src="/static/js/yaml/YamlParser.js"></script>
<script type="text/javascript" src="/static/js/yaml/Yaml.js"></script>
<script type="text/javascript" src="/static/js/landsat-grid.js"></script>
<script type="text/javascript" src="/static/js/polygon-outliner.js"></script>
<script type="text/javascript" src="/static/js/drawing-tools.js"></script>
<script type="text/javascript" src="/static/js/bootbox.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.nouislider.min.js"></script>
<script type="text/javascript" src="/static/js/layerslider.js"></script>

<script>

var instructions_str =  
    "Your Mission is ..... <br />" +
    "Check for forest changes in the latest image on the left<br />." +
    "by comparing with the image on the right";

var map_lhs;
var map_rhs;
var current_map = map_lhs;

var mapobj; //returned by last call to EE image overlay.
var satellite = 'l8'
var algorithm = 'rgb'; // ndvi 
var latest = 0;  //latest - 0
var overlayMaps = [];

//get an observation from server.
function getTaskImageOverlay(obs) {
  
	if ( obs.map_id == null) {
	   
	   console.log( "no map_id in observation");
	    
	   var httpget_url = 'image/' + obs.key;    // httpgetActionUrl("image")
    
       console.log( "url:", httpget_url);
       
       $("#observations_panel").collapse('show');
             $('#observations_panel').empty();
             $('#observations_panel').append("Getting Observation ...");
             $('#observations_panel').append('<img src="/static/img/ajax-loader.gif" class="ajax-loader"/>');
             $.get(httpget_url).done(function(data) {
               $('#observations_panel').empty();
              mapobj = jQuery.parseJSON(data);
              if (mapobj) {
                    tooltip = "Captured: " +  mapobj.date_acquired +  "Id: " + mapobj.id + "Path: " + mapobj.path + " Row: " +  mapobj.row;
                    $('#observations_panel').append(tooltip);
                    var overlayname= mapobj.date_acquired;
                    var shortname = overlayname.substr(0, overlayname.indexOf("@")); //@ is invalid tag id.
                    
                    createImageOverlay(true, map_lhs, mapobj.map_id,  mapobj.token, shortname, tooltip, "blue");
                  }
              else {
            	       $('#observations_panel').append("No Sat Data");
                  }
              }).error(function( jqxhr, textStatus, error ) {
                  var err = textStatus + ', ' + error;
                  console.log( "Request Failed: " + err);
                  $('#observations_panel').empty();
                  $('#observations_panel').append("<p>Failed: " + err + "</p>"); 
          });
	}
	else
	{
	    console.log( "map_id already in observation");
        tooltip = "Collection: " +  obs.collection +  "Image Id: " + obs.image_id + "Visualisation: " + obs.algorithm;
        $('#observations_panel').append(tooltip);
        var overlayname=  obs.captured;
        var shortname = overlayname.substr(0, overlayname.indexOf("@")); //@ is invalid tag id.
        createImageOverlay(true, map_rhs, obs.map_id,  obs.token, shortname, tooltip, "red");
	}
}

function initialize() {
    var map_center = new google.maps.LatLng({{area.map_center}});
    var mapOptions = {
        zoom: {{ area.map_zoom }},
        center: map_center,    
        mapTypeId: google.maps.MapTypeId.HYBRID,
        panControl:true,
        zoomControl:true,
        mapTypeControl:true,
        scaleControl:true,
        streetViewControl:false,
        overviewMapControl:false,
        rotateControl:false,
        clickable: true
    }
 
    map_lhs = new google.maps.Map(document.getElementById("map-canvas-left"), mapOptions);
    map_rhs = new google.maps.Map(document.getElementById("map-canvas-right"), mapOptions);
    map_lhs['side']="left";
    map_rhs['side']="right"
    	    
    //wait for map to load so bounds are known before setting up landsat grid.
    //now activated by the checkbox.
    
    google.maps.event.addListener(map_lhs, 'bounds_changed', function() {
        
        //if(gridInitialised == true)
        {
            requestLandsatGrid(map_lhs, true, true, cellarray ); //map, showlayer, clickable, cells
        }
        $(landsatgrid_panel).empty();
        htmlString = "<p><font-size:50%;color:blue strong>zoom:</strong> " + map_lhs.getZoom() + "</p>";
        htmlString += "<p>lat: " + map_lhs.getCenter().lat().toFixed(3) + ", lng: " + map_lhs.getCenter().lng().toFixed(3) + "<br></p>";
        //htmlString +=  this.get("Description");
        //console.log( htmlString);
        $(landsatgrid_panel).html(htmlString);
        map_rhs.setCenter(map_lhs.getCenter());
        map_rhs.setZoom(map_lhs.getZoom());
    });

    google.maps.event.addListener(map_rhs, 'bounds_changed', function() {    
    });

    
    google.maps.event.addListener(map_lhs, 'zoom', function() { 
        console.log("zoom to:", map_lhs.zoom());
        map_rhs.setZoom(map_lhs.map_rhs.zoom());    
    });

    google.maps.event.addListener(map_rhs, 'zoom', function() { 
        console.log("zoom to:", map_rhs.zoom());
    });

    google.maps.event.addListener(map_lhs, 'idle', function() {
        //This is needed so the fusion tables query works
        var map_center = map_lhs.getCenter()
        if (map_center.lng() < -180) { 
            map_lhs.setCenter(new google.maps.LatLng(map_center.lat(), map_center.lng()+360));
        }
        if (map_center.lng() > 180) { 
            map_center.lng() -= 360;
            map_lhs.setCenter(map_center);
        }
        map_rhs.setCenter(map_center);
     });

    //Collect the Boundary coordinates from the area and convert to a Google Maps object.
    
    var latlngs = [];
    
    {% for j in area.coordinates %}
        latlngs.push(new google.maps.LatLng({{j}}))
    {% endfor %}
     
    areaBoundary_lhs = new google.maps.Polygon({
                paths: latlngs,
                strokeColor: '#FFFF00',
                strokeOpacity: 0.5,
                strokeWeight: 2,
                fillColor: '#000000',
                fillOpacity: 0.15
    });
    
    areaBoundary_rhs = new google.maps.Polygon({
        paths: latlngs,
        strokeColor: '#FF00FF',
        strokeOpacity: 0.5,
        strokeWeight: 1,
        fillColor: '#000000',
        fillOpacity: 0.15
    });
    
    areaBoundary_lhs.setMap(map_lhs);
    areaBoundary_rhs.setMap(map_rhs);
    
    addLayer("1", {{area.name}}, "yellow",  0, "Boundary of Area {{area.name}}" /*, layerslider_callback*/);
    addLayer("2", "Landsat Cells", "gray",100, "Each Landsat image covers one of these cells." /* , layerslider_callback*/ );

    /*  if AOI is new, then need to ask earthengine to calculate what cells overlap the areaAOI. 
     *  This is done here the first time the area is viewed. But could be part of constructor for AreaOfInterest.
     *  Old method was a big rectangle. 
     *         var latlng_bounds = {'max_lat': {{area.max_latlon.lat}}, 'min_lat': {{area.min_latlon.lat}}, 'max_lon': {{area.max_latlon.lon}}, 'min_lon': {{area.min_latlon.lon}}};
     *         cellarray =         {'max_path':{{area.max_path}},       'min_path': {{area.min_path}},      'max_row': {{area.max_row}},        'min_row': {{area.min_row}}};
     *  New method calculates intersections so returns only overlapping cells.
     */    
    cellarray = {{celllist}}    //cellarray = jQuery.parseJSON({{celllist}});
    
    //console.log('Init:Cellarray from view-area handler: ', cellarray);
    if(cellarray.length == 0) { // Then fetch the overlapping cells from server.
        console.log("Init: Fetching Overlapping Cells for Area");
        var url = "{{ area|area_url }}"  + '/' + 'getcells';
        console.log( "url: ", url);
        $("#observations_panel").collapse('show');
        $('#observations_panel').empty();
        $('#observations_panel').append("Calculating Landsat Cells ...");
        $('#observations_panel').append('<img src="/static/img/ajax-loader.gif" class="ajax-loader"/>');
        bootbox.dialog({
            message: instructions_str,
            title: "Next Steps",
            closeButton: true,
            buttons: {
              success: {
              label: "Continue ...",
              className: "btn-success",
              callback: function() {
                  bootbox.hideAll();
              }
            }
          }
        })
            
        $.get(url).done(function(data) {
            
        	var getCellsResult = jQuery.parseJSON(data);
        	cellarray = getCellsResult.cell_list;
            $('#observations_panel').empty();
            console.log('GetCells result: ' + getCellsResult.result + ' reason: ' + getCellsResult.reason);
            if (getCellsResult.result == 'success'){
                $('#observations_panel').append("Area has " + cellarray.length + " cells. " );
                requestLandsatGrid(map_lhs, true, true, cellarray); //map, showlayer, clickable, cells
                $('.layer').prop('checked',true);
            }
            else
            {
                $('#observations_panel').append("<p>GetCells Failed: Please try later: " + getCellsResult.reason + "</p>");
                //Redirect to home?
            }
        }).error(function( jqxhr, textStatus, error ) {
            var err = textStatus + ', ' + error;
            console.log( "GetCells Failed: " + err);
            $('#observations_panel').empty();
            $('#observations_panel').append("<p>GetCells Failed: " + err + "</p>"); 
        });
    } //get cells    
    else
    {
        //server passed an existing cellarray - just display it (need to highlight monitored cells)
        requestLandsatGrid(map_lhs, true, true, cellarray); //map, showlayer, clickable, cells
    }
    
    observations = {{obslist}};
    for (i=0; i < observations.length; i++) {
        getTaskImageOverlay(observations[i])
    }
    
    // View button will fetch Overlay Image of Latest Landsat
    $('#get_overlay_btn').click(function(){
        var httpget_url = httpgetActionUrl("overlay")
        console.log( "urls", httpget_url);
       $("#observations_panel").collapse('show');
           $('#observations_panel').empty();
           $('#observations_panel').append("Getting Sat Data...");
           $('#observations_panel').append('<img src="/static/img/ajax-loader.gif" class="ajax-loader"/>');
           $.get(httpget_url).done(function(data) {
             $('#observations_panel').empty();
            mapobj = jQuery.parseJSON(data);
            if (mapobj)
                {
                  tooltip = "Captured: " +  mapobj.date_acquired +  "Id: " + mapobj.id + "Path: " + mapobj.path + " Row: " +  mapobj.row;
                  $('#observations_panel').append(tooltip);
                  createImageOverlay(true, map_lhs, mapobj.map_id,  mapobj.token, mapobj.date_acquired, tooltip, "cyan");
                }
            else
                {
                         $('#observations_panel').append("No Sat Data");
                }
            }).error(function( jqxhr, textStatus, error ) {
                var err = textStatus + ', ' + error;
                console.log( "Request Failed: " + err);
                $('#observations_panel').empty();
                $('#observations_panel').append("<p>Failed: " + err + "</p>"); 
        });
    }); //get_overlay_btn.click

    //Checkbox to show/hide overlays        
    $('.layer').click(function(){
            var layerID = parseInt($(this).attr('id'));
            if(layerID === 0) //LANDSAT grid 
            {
                if($(this).is(':checked')){
                  requestLandsatGrid(map_lhs, true, true,  cellarray); //map, showlayer, clickable, cells
                }
                else {
                    requestLandsatGrid(map_lhs, false, true, null); //map, showlayer, clickable, cells
                    //TODO put inside above funciton.
                }
            }
            
            if(layerID === 1) //Drawing Tools
            {
                if($(this).is(':checked')){
                    drawingManager = createDrawingManager(map);
                    google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
                        //if (event.type == google.maps.drawing.OverlayType.CIRCLE) {
                        //  var radius = event.overlay.getRadius();
                        href = "{{ "user"|url(user.name) }}/journal/Observations for {{area.name}}/new/";
                        if (mapobj != null)
                        {
                            window.location.href = href + mapobj.id;
                        }
                        else
                        {
                            window.location.href = href + "Observation"; // no overlay for this observation
                        }
                    });
                }
                else {
                    // TODO: Hide Drawing Tools                 
                    // createImageOverlay(false,0,0,0);
                    // var overlayMap = new google.maps.ImageMapType(overlayMaps[layerID]);
                    // map_lhs.verlayMapTypes.setAt(layerID, overlayMap);
                }
            }
            if(layerID === 2) //FORMA grid 
            {
                if($(this).is(':checked')){
                  //getFORMA(map, true); //map, showlayer,
                  
                    $("#layers_panel").collapse('show');
                    $('#sliders_array').append("<div class=\"slider\" id=\"slider0\">.</div>");
                    $('#slider0').noUiSlider({
                        start: [ 100 ],
                        range: {
                            'min': 0,
                            'max': 100
                        },
                        connect:"lower"
                    });
                    $('#slider0').show()
                }
                else {
                  //getFORMA(map, false); //map, hide
                    //removeLandsatGrid();  //TODO put inside above funciton.
                    //$("#layers_panel").collapse('hide');
                }
            }
    
    });
        
    //Change the text in the drop-down button when a selection is changed.
    $('#algorithm-visual').click(function(e){
           $("#algorithm:first-child").text("RGB");
           algorithm = 'rgb';
           e.preventDefault();
        });
        $('#algorithm-ndvi').click(function(e){
           $("#algorithm:first-child").text("NDVI");
           algorithm = 'ndvi';
           e.preventDefault();
        });
        $('#algorithm-change').click(function(e){
           $("#algorithm:first-child").text("Change");
           algorithm = 'change';
           e.preventDefault();
        });
        
        $('#latest').click(function(e){
            $("#latest:first-child").text("Latest  ");
            latest = 0;
            e.preventDefault();
        });
        $('#latest-1').click(function(e){
            $("#latest:first-child").text("Latest-1");
            latest = 1;
            e.preventDefault();
        });
        $('#latest-2').click(function(e){
            $("#latest:first-child").text("Latest-2");
            latest = 2;
            e.preventDefault();
        });
        $('#latest-3').click(function(e){
            $("#latest:first-child").text("Latest-3");
            latest = 3;
            e.preventDefault();
        });
        
        $('#satellite').click(function(e){
            $("#satellite:first-child").text("L8");
            satellite = 'l8';
            e.preventDefault();
        });
        $('#satellite-l7').click(function(e){
            $("#satellite:first-child").text("L7");
            satellite = 'l7';
            e.preventDefault();
        });
        $('#satellite-both').click(function(e){
            $("#satellite:first-child").text("Both");
            satellite = 'l78';
            e.preventDefault();
        });
        
        $(window).resize(function () {
                //<!--resize tip from https://github.com/twitter/bootstrap/issues/2475 -->
            var h = $(window).height(),
                    offsetTop = 60; // Calculate the top offset
                $('#map-canvas-left').css('height', (h - offsetTop));
                $('#map-canvas-right').css('height', (h - offsetTop));
            }).resize();
        // now map is drawn is a good time to set up the Instructions Popover.
        var instructions_content = 
          "<p>" +
          "Your Mission, should you choose to accept it......<br>" + 
          "You can also view the most recent observation for any cells with the <b>View</b> button and Image settings.</li>" 
      
        $('#instructions').popover({ 
            html : true, 
            animation: true,
            trigger: 'hover',
            container: 'body',
            title: 'Select and view Cells',  
            placement: 'bottom',
            content: instructions_content
            });
        $('#instructions').popover();
};//initialize

google.maps.event.addDomListener(window, 'load', initialize); 


function findOverlayLayer(layer_id, overlayMaps){
	//    return $.grep(overlayMaps, function(obj){
	//        return obj.name == layer_id;
	//  });

    for (var i=0; i < overlayMaps.length; i++) {
        if (overlayMaps[i].name == layer_id)
            return i;
    }
    return -1;
}


function layerslider_callback(layer_id, val) {
    //console.log("layerslider_callback : " + layer_id + ", " + val);
    
    var id = findOverlayLayer(layer_id, overlayMaps);
    if (id != -1) {
        console.log("layerslider_callback:" + overlayMaps[id].name + ", " + val); //overlayMaps[id].name
        overlayMaps[id].setOpacity(val);
    }
}


function removeFromMap(map, overlay_id)
{
    //TODO hide slider
    //overlay = overlayMaps.pop(); //needs to be a splice not a pop.
    //overlay.hide();
}

//       createImageOverlay(true, map_lhs, mapobj.map_id,  mapobj.token, mapobj.date_acquired, tooltip, "cyan");
function createImageOverlay(show, google_map, map_id,  token, overlay_name, tooltip, color)
{
    if(show == true)
    {
    	
        if (findOverlayLayer(overlay_name, overlayMaps) != -1) {
        	console.log("Server sent duplicate overlay: " + overlay_name );
        	return
        }
        
        var overlay = new CustomTileOverlay(google_map, initialOpacity, map_id, token);
        overlay.name = overlay_name;
        overlay.color = color;
        overlayMaps.push(overlay);
        
        google.maps.event.addListener(google_map, 'tilesloaded', function () {
            overlay.deleteHiddenTiles(google_map.getZoom());
        });
        
        addLayer(overlay_name, overlay_name, color,  100, tooltip , layerslider_callback ); //create slider.
        overlay.show();


        //Add opacity control and set initial value  
        //createOpacityControl(google_map, initialOpacity, overlay.name);    
    }
    else 
    {
        removeFromMap(google_map, slider_name.substring(5) );
    }
}

function setActionUrl(action)
{
   // action can be 'overlay' or 'download' strip the old action and append the new action.
   var url = window.location.href
   if (url.indexOf("/overlay") !=-1) {
      url = url.substring(0, url.indexOf("/overlay")); //strip the last action.
   }
   if (url.indexOf("/download") !=-1) {
       url = url.substring(0, url.indexOf("/download")); //strip the last action.
   }
   if (url.indexOf("/action") !=-1) {
          url = url.substring(0, url.indexOf("/action")); //strip the last action.
    }

   url = url + '/action/' + action + '/' + satellite + '/' + algorithm + '/' + latest;
   
   //Not working so disable the final bit.
   return url
};

function ajaxActionUrl(action)
{
   // action can be 'overlay' or 'download'.
   url = "{{ area|area_url }}"  + '/' + action + '/' + satellite + '/' + algorithm + '/' + latest;
   return url
};


function httpgetActionUrl(action)
{
   // action/<action> can be 'overlay' or 'download' or image.
   //satellite is 'l8' or 'l7' but should change to collection name.
   var url = "{{ area|area_url }}"  + '/action/' + action + '/' + satellite + '/' + algorithm + '/' + latest 
   if((selectedPath != -1) && (selectedRow != -1))
   {
       url  += "/" + selectedPath + "/" + selectedRow;
   }
   return url
};


function jsonStringifySelectedCell()
{
   var ul=[selectedLAT_UL, selectedLON_UL];
   var ll=[selectedLAT_LL, selectedLON_LL];
   var lr=[selectedLAT_LR, selectedLON_LR];
   var ur=[selectedLAT_UR, selectedLON_UR];
   
   var cell_coords = Array();
   
   cell_coords.push(ul);
   cell_coords.push(ll);
   cell_coords.push(lr);
   cell_coords.push(ur);
  
   var cell_feature = { "type": "Feature",
            "geometry":   {"type": "Polygon","coordinates": cell_coords},
            "properties": {"featureName": "cell_boundary", "path": selectedPath, "row": selectedRow}
                 }
   return JSON.stringify(cell_feature);
};


function cellSelected()
{
// Fetch Outline and status of this Landsat Cell

  var httpget_url = "/selectcell/" + jsonStringifySelectedCell()
  console.log( "cellSelected() %d %d %s", selectedPath, selectedRow, httpget_url);
   
  $("#observations_panel").collapse('show');
       $('#observations_panel').empty();
       $('#observations_panel').append("SelectCell...");
       $('#observations_panel').append('<img src="/static/img/ajax-loader.gif" class="ajax-loader"/>');
       $.get(httpget_url).done(function(data) {
              $('#observations_panel').empty();
              
              
              var panel_str = "Cell:"          
              var celldict = jQuery.parseJSON(data);
              console.log(celldict)
              if (celldict['result'] == "ok") {                                           
                  if (celldict.monitored == "true") 
                      {
                        panel_str = "Now Monitoring Cell(" + celldict.path  + ", " +  celldict.row + ")<br>Last Obs: " + celldict.LC8_latest_capture;
                        console.log( "Following: " + celldict.path  + ", " +  celldict.row)
                        monitor_cell(selectedPath, selectedRow, true);
                      }
                  else
                      {
                         panel_str = "Stopped Monitoring Cell(" + celldict.path  + ", " +  celldict.row + ") ";
                         console.log( "Stopped Monitoring: " + celldict.path  +", " +  celldict.row)
                         monitor_cell(selectedPath, selectedRow, false);
                      }
                  $('#observations_panel').append(panel_str);  
               }
               else {
                   console.log( "Error: " + celldict['result']);
               }             
        }).error(function( jqxhr, textStatus, error ) {
            var err = textStatus + ', ' + error;
            console.log( "Request Failed: " + err);
            $('#observations_panel').empty();
            $('#observations_panel').append("<p>Failed: " + err + "</p>"); 
     });
}



</script>

{% endblock %} {% block content %}
<div class="container-fluid">
	<div class='row'>
        <div class="col-xs-2"> </div>

		<div class="col-xs-5">
			<ul class="breadcrumb">
				<li><a href="{{ "user"|url(username) }}">{{ username }}</a> <span class="divider">/</span></li>
				<li class="active"><a href="{{ area|area_url }}">{{ area }}</a></li>
			</ul>
		</div>
		<div class="col-xs-5">
			<ul class="breadcrumb">
				<input type="checkbox" id="0" class="layer" checked data-toggle="tooltip">Lock to Left Map
			</ul>
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2" style="margin: 0;">
			<!--Sidebar content <div class="control-group"> -->
			
			<!-- <div class="btn-toolbar" style="margin:0; width:50%">  -->
			<h5>
				<i>Your Observation Task</i>
            </h5>
				<p> Captured {{task.captured}}</p>
				<p>token:{{task.rgb_token}} {{task.rgb_map_id}} {{area.name}}</p>
                
			<div class="controls">
				<input id="instructions" type="button" class="btn btn-sm btn-lightblue map-panel-controls" rel="popover"
					value="Instructions...?">
			</div>
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group">
					<button id='algorithm' type="button"  class="btn btn-xs dropdown-toggle" data-toggle="dropdown"
						data-toggle="tooltip" title="Select RGB for true colour or NDVI to highlight vegetation change">
						RGB<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" id='algorithm-visual'>RGB</a></li>
						<li class="divider"></li>
						<li><a href="#" id='algorithm-ndvi'>NDVI</a></li>
						<li><a href="#" id='algorithm-change'>Change</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button id='latest' type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown"
						data-toggle="tooltip" title="Select the latest image, the one before or the one before that)">
						Latest<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" id='latest'>Latest</a></li>
						<li class="divider"></li>
						<li><a href="#" id='latest-1'>Latest-1</a></li>
						<li><a href="#" id='latest-2'>Latest-2</a></li>
						<li><a href="#" id='latest-3'>Latest-3</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button id='satellite' type="button" style="width: 40px" class="btn btn-xs dropdown-toggle" data-toggle="dropdown"
						data-toggle="tooltip" title="Select Landsat7, Landsat 8)">
						L8<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" id='satellite-l7'>L7</a></li>
						<li class="divider"></li>
						<li><a href="#" id='satellite-both'></a></li>
					</ul>
				</div>
			</div>
			<!--  </div>  -->
			<div class="btn-toolbar" >
				<div class="btn-group">
					<button id='get_overlay_btn' type="button" style="width: 43px" class="btn btn-xs btn-lightblue" data-toggle="tooltip"
						title="Fetch the image matching the above settings.">View</button>
				</div>
			</div>
			<div>
				<p>
					<input type="checkbox" id="0" class="layer" checked data-toggle="tooltip"
						title="Show grid cells of landsat image boundaries" /><label for="0">Landsat Grid </label> <input type="checkbox" id="1"
						class="layer" unchecked data-toggle="tooltip" title="Report a change or disturbance" /><label for=1">Make Report
					</label> <input type="checkbox" id="2" class="layer" unchecked data-toggle="tooltip"
						title="Show FORMA estimate of recent tree loss" /><label for=2">FORMA</label>
			</div>
			<div class="accordion" id="accordion2">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#layer_table"> Layers </a>
					</div>
					<div class="accordion-body collapse in">
						<div class="accordion-inner">
							<div class="container-fluid">
								<div class="row">
									<div id="layer_table" class=" panel-tight">
										<!-- LayerTemplate rows dynamcially inserted here -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#description_panel"> Area Description </a>
					</div>
					<div id="description_panel" class="accordion-body collapse in">
						<div class="accordion-inner">
							<p>{{ area.description }}</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#observations_panel"> Observations </a>
					</div>
					<div id="observations_panel" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>No Observations.
							<p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#reports_panel"> Reports </a>
					</div>
					<div id="reports_panel" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>No reports
							<p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#boundary_panel"> Boundary Coordinates </a>
					</div>
					<div id="boundary_panel" class="accordion-body collapse">
						<div class="accordion-inner">
							{% for j in area.coordinates %}
							<p class="divider">{{j}}</p>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#map_panel"> Map View </a>
					</div>
					<div id="map_panel" class="accordion-body collapse">
						<div class="accordion-inner">
							<p class="divider">"Map initial view (saved)"</p>
							<p class="divider">"Center: {{area.map_center}}"</p>
							<p class="divider">"Zoom: {{area.map_zoom}}"</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<!-- Left Hand Map Element -->
			<div id="map-canvas-left"></div>
		</div>
		<div class="col-md-5">
			<!--Right Hand Map Element -->
			<div id="map-canvas-right"></div>
		</div>
	</div>
</div>

<!--TEMPLATE DIV  =does not display till added -->
<div class="row" id='LayerTemplate' style='display: none'>
	<div class="col-xs-1 col-sm-1 col-md-1">
		<input id='tcheckbox_id' type="checkbox" class="panel-tight checklabel" name="layer_enable" value="On" checked="true" />
	</div>

	<div class="col-xs-3 col-sm-3 col-md-3">
		<div id='tslider_id' class="slider"></div>
	</div>
	<div id='tlabel_id' class="panel-tight layerlabel col-xs-5 col-sm-5 col-md-5" data-toggle="tooltip" title="template tooltip">
		<small>template label</small>
	</div>
</div>

{% endblock %}
