{% extends "base.html" %} {% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
html {
	height: 100%
}

body {
	height: 100%;
	margin: 10;
	padding: 10
}

#map-canvas {
	height: 100%
}
</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxcijg13r2SNlryEcmi_XXxZ9sO4rpr8I&sensor=false&v=3&libraries=geometry"> </script>
<script type="text/javascript" src="/static/js/ExtDraggableObject.js"></script>	
<script type="text/javascript" src="/static/js/CustomTileOverlay.js"></script>
<script type="text/javascript" src="/static/js/landsat-grid.js"></script>
<script type="text/javascript" src="/static/js/polygon-outliner.js"></script>

<script>

//var map_id;

var map;
 
//print all the methods in javascript object - for debuggin
function printMethods(object)
{
    var methods = [];
    for (var m in object) {
    	if (typeof object[m] == "function") {
          	        methods.push(m);
        }
	}
	console.log(methods.join(","));
} 
var gridInitialised;

function requestLandsatGrid(map)
{
	// Initialize JSONP request for LANSAT grid Fusion Table
	// Based on https://developers.google.com/fusiontables/docs/samples/mouseover_map_styles
	if(gridInitialised != true) {
		gridInitialised = true;
	    var map_center = map.getCenter(); //new google.maps.LatLng({{area.map_center}});
	    var map_distance = google.maps.geometry.spherical.computeDistanceBetween(map.getBounds().getNorthEast(), map.getBounds().getSouthWest());
	    var radius = 150000; // how far away to show cells from a small AOI in metres
	    var distance = (map_distance > radius)? map_distance : radius; 
	    console.log(radius, map_distance, distance);
	    
	    var script = document.createElement('script');
	    var url = ['https://www.googleapis.com/fusiontables/v1/query?'];
	    url.push('sql=');
	    var query = 'SELECT name, geometry, description FROM ' + LANDSAT_GRID_FT + ' WHERE ST_INTERSECTS(geometry, CIRCLE(LATLNG' + map_center + ' , ' + distance + ' ))';
		console.log("ft query: ", query);
	    var encodedQuery = encodeURIComponent(query);
	    url.push(encodedQuery);
	    url.push('&callback=drawLandsatGrid');
	    url.push('&key='+ BUNJIL_API_KEY);
	    script.src = url.join('');
	    var body = document.getElementsByTagName('body')[0];
	    body.appendChild(script);
	}
}


function initialize() {
    var map_center = new google.maps.LatLng({{area.map_center}});
    var mapOptions = {
		zoom: {{ area.map_zoom }},
		center: map_center,    
		mapTypeId: google.maps.MapTypeId.HYBRID,
		panControl:true,
		zoomControl:true,
		mapTypeControl:true,
		scaleControl:true,
		streetViewControl:false,
		overviewMapControl:false,
		rotateControl:false,
		clickable: true
	}
 
    map = new google.maps.Map(document.getElementById("map-canvas"),
           mapOptions);
  
  	//wait for map to load so bounds are known before setting up landsat grid.
  	google.maps.event.addListener(map, 'bounds_changed', function() {
         requestLandsatGrid(map);
    });

    //NZ TOPO LAYER WITH SLIDER
	overlay = new CustomTileOverlay(map, initialOpacity);
	overlay.show();

	google.maps.event.addListener(map, 'tilesloaded', function () {
		overlay.deleteHiddenTiles(map.getZoom());
	});

	// Add opacity control and set initial value
	createOpacityControl(map, initialOpacity);
    
 
    //Add Area Boundary tro Map
    var latlngs = [];
    {% for j in area.coordinates %}
    	latlngs.push(new google.maps.LatLng({{j}}))
    {% endfor %}	
        
    areaBoundary = new google.maps.Polygon({
                paths: latlngs,
                strokeColor: '#FFFF00',
                strokeOpacity: 0.5,
                strokeWeight: 2,
                fillColor: '#000000',
                fillOpacity: 0.15
            });
    areaBoundary.setMap(map);
        
        // Create Overlay of Latest Landsat8
   		$('#L8latest_overlay_btn').click(function(){ 
	 		var pathname = window.location.pathname + '/L8latest/overlay';
	 		$("#observations_panel").collapse('show');
	 		$('#observations_panel').empty();
	 		$('#observations_panel').append("Getting Sat Data...");
 			$('#observations_panel').append('<img src="/static/img/ajax-loader.gif" class="ajax-loader"/>');
	 		$.get(pathname) //, { name: "not used", time: "notused" }
	 		.done(function(data){
	 			mapobj = jQuery.parseJSON(data);
	 			overlay.mapid = mapobj.mapid
	 			overlay.token  = mapobj.token
	 			$('#observations_panel').empty();
	 			$('#observations_panel').append(overlay.mapid, overlay.token);
	 		})
	 		.error(function( jqxhr, textStatus, error ) {
	 	          var err = textStatus + ', ' + error;
	 	          console.log( "Request Failed: " + err);
		 		  $('#observations_panel').empty();
		 		  $('#observations_panel').append("<p>Failed: " + err + "</p>"); 
	 	    });
   		});
        
   		$('#L8latest_download_btn').click(function(){ 
	 		var pathname = window.location.pathname + '/L8latest/download';
	 		$("#observations_panel").collapse('show');
	 		$('#observations_panel').empty();
	 		$('#observations_panel').append("Getting Download ...");//animated gif from http://www.ajaxload.info/
 			$('#observations_panel').append('<img src="/static/img/ajax-loader.gif" class="ajax-loader"/>');
	 		$.get(pathname) //, { name: "not used", time: "notused" }
	 		.done(function(path){
	 			$('#observations_panel').empty();
	 			$('#observations_panel').append(path); 
	 			window.open(path);
	 		})
	 		.error(function( jqxhr, textStatus, error ) {
	 	          var err = textStatus + ', ' + error;
	 	          console.log( "Download Failed: " + err);
		 		  $('#observations_panel').empty();
		 		  $('#observations_panel').append("<p>Failed: " + err + "</p>"); 
	 	    });
   		});
   			
   		$('#Landset_WRS_layer_btn').click(function(){ 
	 		$("#observations_panel").collapse('show');
	 		$('#observations_panel').empty();
	 		$('#observations_panel').append("Show L8 Grid...");//could be animated gif from http://www.ajaxload.info/
   		});
   		$(window).resize(function () {
   				//<!--resize tip from https://github.com/twitter/bootstrap/issues/2475 -->
	    	    var h = $(window).height(),
	    	        offsetTop = 60; // Calculate the top offset
	    	    $('#map-canvas').css('height', (h - offsetTop));
	    	}).resize();
	};//initialize
 
    google.maps.event.addDomListener(window, 'load', initialize); 

</script>

</script>
{% endblock %} {% block content %}
<div>
	<p>
	<ul class="breadcrumb">
		<li><a href="{{ "user"|url(username) }}">{{ username }}</a> <span
			class="divider">/</span></li>
		<li class="active"><a href="{{ area|area_url }}">{{ area }}</a></li>
	</ul>
	</p>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content <div class="control-group"> -->
			<h3>
				<i>{{area.name}}</i>
			</h3>
			
			<div>
			<p>
				<input id="L8latest_overlay_btn" type="button" class="btn btn-primary"
					value="Get Latest Imagery" /></p>
			</div>
	
			<div>
			<p>
				<input id="L8latest_download_btn" type="button" class="btn"
					value="Download" /></p>
			</div>	
			<div>
			<p>
				<input id="Landset_WRS_layer_btn" type="button" class="btn"
					value="Scene border Layer" /></p>
			</div>	
			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse"  href="#description_panel">
			        Area Description
			      </a>
			    </div>
			    <div id="description_panel" class="accordion-body collapse in">
			      <div class="accordion-inner">
			        <p>{{ area.description }}</p>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" href="#boundary_panel">
			        Boundary Coordinates
			      </a>
			    </div>
			    <div id="boundary_panel" class="accordion-body collapse">
			      <div class="accordion-inner">
			        {% for j in area.coordinates %}
						<p class="divider">{{j}}</p>
					{% endfor %}
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" href="#map_panel">
			        Map View 
			      </a>
			    </div>
			    <div id="map_panel" class="accordion-body collapse">
			      <div class="accordion-inner">
			       	<p class="divider">"Map initial view (saved)"</p>
					<p class="divider">"Center: {{area.map_center}}"</p>
					<p class="divider">"Zoom: {{area.map_zoom}}"</p>
			      </div>
			    </div>
			  </div>
			   <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" href="#observations_panel">
			        Observations
			      </a>
			    </div>
			    <div id="observations_panel" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <p>No Observations.<p>
			      </div>
			    </div>
			  </div>
			   <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" href="#reports_panel">
			        Reports
			      </a>
			    </div>
			    <div id="reports_panel" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <p>No reports<p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<div class="span10">
			<!--Body = Map content-->
			
			<div id="map-canvas"></div>
		</div>
	</div>
</div>
{% endblock %}


