{% extends "base-maps.html" %} 
{% block map_head %}
<!-- Example URL  http://localhost:8001/obs/bunjilfw/agxkZXZ-YnVuamlsZndyHAsSD09ic2VydmF0aW9uVGFzaxiAgICAgMymCQw  -->
<script>
var instructions_str = 
          "<p>" +
          "Your mission is to observe the latest images on the left map,<br>" + 
          "and check for forest changes by comparing with the older image on the right map.<br>" +
          "You may change the visualisation settings to NDVI and click <b>View</b>.<br>" +
          "More <a href='http://www.google.com'>help is available</a>.<br>" +
          "Click for more info</p>";
var single_map = false;          
</script>            

{% endblock map_head %} 

{% block breadcrumbs %}
<div class="container-fluid">
    <div class='row'>
        <div class="col-xs-2"> </div>

        <div class="col-xs-5">
            <ul class="breadcrumb">
                <li><a href="{{ "user"|url(username) }}">{{ username }}</a></li>
                <li class="active"><a href="{{ area|area_url }}">{{ area }}</a></li>
                <li class="active"><a href="{{ task|task_url(task) }}">{{ task.name }}</a></li>
   
            </ul>
        </div>
        <div class="col-xs-5">
            <ul class="breadcrumb">
                <input type="checkbox" id="lock-map-rhs" class="layer" checked data-toggle="tooltip">Lock to Left Map
                <input type="checkbox" id="expand-map-rhs" class="layer" data-toggle="tooltip">Expand
            </ul>
        </div>
    </div>
</div>

{% endblock breadcrumbs %} 

{% block map_content %}

{% endblock %}

